<%
	page = "page1"
	sub = 1
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="mission">
	<div class="mission__header">
		<span class="color1">동물자유연대</span>는 인간에 의해 관리되는 모든 동물들이 인도적인 대우를 받게 하고자 하며,<br>
		더 나아가 인간에 의해 이용되거나, 삶의 터전을 잃어가는 동물의 수(數)와 종(種)을 줄여나감으로써,<br>
		인간과 동물이 생태적 · 윤리적 조화를 이루며 살아가는 것을 목표로 합니다.
	</div>
	<div class="mission__content">
		<h2 class="mission__tit">핵심가치(Core Value)</h2>
		<ul class="mission__list">
			<li class="mission__item">
				<div class="mission__box nth-1">
					<h2 class="mission__subject">동물을 생명체로 존중하는 마음</h2>
					<p class="mission__txt">지각 능력이 있는 존재인 동물을 존중하는 마음을 갖습니다.</p>
				</div>
			</li>
			<li class="mission__item">
				<div class="mission__box nth-2">
					<h2 class="mission__subject">배려와 생활방식의 변화</h2>
					<p class="mission__txt">인간과 더불어 사는 생태 구성원인 동물을 배려하는 생활 태도롤 갖습니다.</p>
				</div>
			</li>
			<li class="mission__item">
				<div class="mission__box nth-3">
					<h2 class="mission__subject">동물의 대변자</h2>
					<p class="mission__txt">자신이 겪는 고통과 불합리한 처우를 호소할 수 없는 동물을 대변합니다.</p>
				</div>
			</li>
			<li class="mission__item">
				<div class="mission__box nth-4">
					<h2 class="mission__subject">과학과 생명윤리의 합리적 기반</h2>
					<p class="mission__txt">
						인간과 동물의 복지는 연관되어 있다는 현대과학과 생명윤리의
						합리적 기반에 바탕을 두고 유리의 사명을 실현합니다.
					</p>
				</div>
			</li>
			<li class="mission__item type-another">
				<div class="mission__box nth-5">
					<h2 class="mission__subject">문화로 정착되는 동물보호</h2>
					<p class="mission__txt">한국 사회에 문화적 토양으로서 동물보호 의식이 정착되도록 최선을 다합니다.</p>
				</div>
			</li>
			<li class="mission__item type-another">
				<div class="mission__box nth-6">
					<h2 class="mission__subject">협력과 성실</h2>
					<p class="mission__txt">내부적으로는 구성원들과의 합의된 의견을 토대로 활동을
						전개하고, 대외적으로는 이해당사자들과의 협력관게를 바탕으로,
						지속가능한 동물보호를 구현하기 위해 우리의 임무를 성실하게
						수행합니다.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
