<%
	page = "page1"
	sub = 2
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="vision">
	<div class="vision__header">
		<span class="color1">KOREAN ANIMAL WELFARE ASSOCIATION</span><br><br>
		동물자유연대는 문화와 산업, 교육의 영역에서 동물에게 가해자는 잔혹 행위를 방지하고,<br>
		법률과 규정에 근거하여 동물 보호를 보장받아 우리 사회에서 동물을 향한 자비심이 확산하는 긍정적인 변화를 이루겠습니다.
	</div>
	<div class="vision__content">
		<ul class="vision__list">
			<li class="vision__item">
				<div class="vision__box">
					<div class="vision__box-image">
						<img src="../../images/content/page1/vision01.jpg" alt="반려동물 프로그램"/>
					</div>
					<div class="vision__box-description"><br>
						<h2 class="vision__subject">반려동물 프로그램</h2>
						<ul class="vision__txt">
							<li>ㆍ전국의 회원 네트워크와 협력하여 지역사회 단위의 동물 학대 예방과 감시 활동을 전개합니다.</li>
							<li>ㆍ중성화수술 캠페인의 목적으로 이동 동물병원을 운영하여 개·고양이의 개체 수가 무책임하게 증가하는 것을 방지합니다. 이는 반려동물들이 대량 학살로 이어지는 고리를 차단하는 것입니다.</li>
							<li>ㆍ다양한 캠페인을 전개하여 반려동물 보호자 또는 잠재적 보호자들에게 책임성을 강화하고 유기동물 발생을 예방합니다. 반려동물 보호자들에게 바른 돌봄 정보를 제공하는 시스템을 구축하여 반려동물의 보기를 향상토록 합니다.  </li>
						</ul>
					</div>
				</div>
			</li>
			<li class="vision__item">
				<div class="vision__box">
					<div class="vision__box-image">
						<img src="../../images/content/page1/vision02.jpg" alt="농장동물 프로그램"/>
					</div>
					<div class="vision__box-description"><br>
						<h2 class="vision__subject">농장동물 프로그램</h2>
						<ul class="vision__txt">
							<li>ㆍ농장동물의 사육과 운송, 도축에서 동물들이 받는 고통을 최소화하기 위한 캠페인과 입법을 추진합니다.
							<li>ㆍ동물 운송 차량의 과속운행과 밀집운송, 비인도적인 도구를 불필요하게 사용하는 것을 금지합니다.
							<li>ㆍ암퇘지의 스톨 사육과 암탉의 배터리 케이지 사육, 동물의 신체 훼손 금지 캠페인을 전개하여 비인도적인 산업 관행을 종식하기 위한 지지자들을 결집합니다.
							<li>ㆍ축산물의 생산과 소비 전반에 영향력이 큰 주요 유통업체들이 동물복지 기준을 단계적으로 도입하게 하여, 동물복지형 축산에 대한 생산자와 소비자들의 인식을 강화합니다.
						</ul>
					</div>
				</div>
			</li>
			<li class="vision__item">
				<div class="vision__box">
					<div class="vision__box-image">
						<img src="../../images/content/page1/vision03.jpg" alt="개ㆍ고양이 도살 금지 프로그램"/>
					</div>
					<div class="vision__box-description"><br>
						<h2 class="vision__subject">개ㆍ고양이 도살 금지 프로그램</h2>
						<ul class="vision__txt">
							<li>ㆍ잔인한 개·고양이 도살 금지 캠페인을 전개하여 지지층의 확대와 다양화를 이룹니다.</li>
							<li>ㆍ사육 및 도살, 거래 과정에서 발생하는 문제들을 객관적인 동물 학대 기준에 대입하고 이를 알림으로써, 개·고양이 도살을 사회적 문제로 확산시킵니다.</li>
							<li>ㆍ이를 통하여 개 도살의 감소를 유도하고, 중장기적으로는 도살 금지 입법으로 이어지는 탄탄한 토대를 갖추게 합니다.</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="vision__item">
				<div class="vision__box">
					<div class="vision__box-image">
						<img src="../../images/content/page1/vision04.jpg" alt="실험동물 프로그램"/>
					</div>
					<div class="vision__box-description"><br><br>
						<h2 class="vision__subject">실험동물 프로그램</h2>
						<ul class="vision__txt">
							<li>ㆍ실험동물의 복지를 향상하기 위해 동물실험윤리위원회 기능의 실효성 있는 입법을 추진합니다.</li>
							<li>ㆍ동물을 이용한 임상 실습과 교육에서 치료의 목적 외 살아있는 동물을 이용하는 것을 금지합니다.</li>
							<li>ㆍ화장품의 동물실험금지를 이루겠습니다. (EU는 2013년부터 동물실험 화장품 판매 금지)</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="vision__item">
				<div class="vision__box">
					<div class="vision__box-image">
						<img src="../../images/content/page1/vision05.jpg" alt="동물원ㆍ동물쇼 프로그램"/>
					</div>
					<div class="vision__box-description"><br><br>
						<h2 class="vision__subject">동물원ㆍ동물쇼 프로그램</h2>
						<ul class="vision__txt">
							<li>ㆍ동물이 유흥과 오락으로 이용되지 않게 하며, 영화·광고의 동물출현 현장을 모니터링 하여 학대 요인을 방지합니다.</li>
							<li>ㆍ소싸움을 금지하기 위한 지지자들을 결집합니다.</li>
							<li>ㆍ동물원 동물 복지 캠페인과 입법을 추진합니다</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
