<%
	page = "page1"
	sub = 3
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="history">
	<div class="history__header">
		동물자유연대의 걸어온 길입니다.
	</div>
	<div class="history__content">
		<ul class="history__year-group">
			<li><a href="연혁01.html">현재 ~ 2010년</a></li>
			<li><a href="연혁02.html">2009년 ~ 2006년</a></li>
			<li><a href="연혁03.html" class="on">2005년 ~ 1999년</a></li>
		</ul>
		<ul class="history__year-tab">
			<li class="on">2005</li>
			<li>2004</li>
			<li>2003</li>
			<li>2002</li>
			<li>2001</li>
			<li>2000</li>
			<li>1999</li>
		</ul>
		<ul class="history__year-content">
			<li class="on"><!-- 2005 content -->
				<div class="history__contTxt">
					<div class="history__contTxt--title">사업 및 행사보고</div>
					<div class="history__contTxt--description2">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">반려동물복지 국제컨퍼런스 개최 (9월 1일 ~ 2일)<br>입양동물과의 만남 행사</div>
							<div class="history__txtItem--title">국제 연대 및 지원 사업 : <span>아래 단체외 간헐적으로 교류가 이루어지는 국제 단체들이 다수 있으며, 국제협력을 통해 사업들을 구상, 계속 진행중에 있음</span></div>
							<div class="history__txtItem--desc">ㆍRSPCA 영국 동물학대방지협회(Royal Society for the Prevention of Cruelty to Animals) : 어린이 동물보호 교육 프로그램 운영비 지원</div>
							<div class="history__txtItem--desc">ㆍWSPA 영국 세계동물보호협회(World Society for the Protection od Animals) : 2005년 국제 컨퍼런스 서울 개최, 농장동물복지조사 활동</div>
							<div class="history__txtItem--desc">ㆍ미국 IDA(In Defence of Animals) : 미국내 개고기 반대 캠페인 협력 및 캠페인 자료 발간비 지원</div>
							<div class="history__txtItem--desc">ㆍ영국 GAI(Greyhound Action International) 경건산업 반대 캠페인 상호 협력, 자료 교환</div>
							<div class="history__txtItem--desc">ㆍ미국 ISAR(International Society for Animal Rights) : 집없는 동물의 날 공동 행사</div>
						</div>
					</div>
				</div>
				<div class="history__contTxt">
					<div class="history__contTxt--title">연중 사업</div>
					<div class="history__contTxt--description2">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">
								동물보호법 개정<br>
								어린이 동물보호 교육 실시<br>
								식용개 위생관리방안 정책 백지화 캠페인<br>
								농장동물복지 조사 활동<br>
								유기동물 보호관리 및 입양<br>
								‘도박산업규제 및 개선을 위한 전국네트워크 ’ 연대 활동 (동물도박반대캠페인)<br><br>
							</div>
							<div class="history__contTxt2">
								<div class="history__contTxt--title3">1월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ국무조정실의  ‘식용 개 위생관리 방안 정책’ 저지 캠페인 전개 → 결과 : 현재 중단 상태로 보임</div>
										<div class="history__txtItem--desc">ㆍ과학기술부의 동물복제 사업 반대 성명 공동 발표 및 온라인 캠페인</div>
										<div class="history__txtItem--desc">ㆍ과학교육 동물실습의 대체 실습에 대한 대안 스터디 모임(1차)</div>
									</div>
								</div>
							</div>
							<div class="history__contTxt2">
								<div class="history__contTxt--title3">2월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ과학교육 동물실습의 대체 실습에 대한 대안 스터디 모임(2차)</div>
									</div>
								</div>
							</div>
							<div class="history__contTxt2">
								<div class="history__contTxt--title3">4월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ지구의 날 행사 참여</div>
									</div>
								</div>
							</div>
							<div class="history__contTxt2">
								<div class="history__contTxt--title3">5월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ어린이 동물보호 방문교육 실시</div>
										<div class="history__txtItem--desc">ㆍ고래보호 온라인캠페인</div>
										<div class="history__txtItem--desc">ㆍ입양 동물과의 만남 행사</div>
									</div>
								</div>
							</div>
							<div class="history__contTxt2">
								<div class="history__contTxt--title3">6월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ지하철 애견동반탑승 금지규정 삭제 요청 성명서발표</div>
									</div>
								</div>
							</div>
							<div class="history__contTxt2">
								<div class="history__contTxt--title3">7월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ개 식용 금지를 위한 국제 연대 캠페인 : 10개국 16개 도시 동시 캠페인(모란시장앞 개식용반대 캠페인)</div>
									</div>
								</div>
							</div>
							<div class="history__contTxt2">
								<div class="history__contTxt--title3">8월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ동물복제(황우석교수) 반대 성명 및 시위 캠페인</div>
									</div>
								</div>
							</div>
							<div class="history__contTxt2">
								<div class="history__contTxt--title3">9월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ반려동물복지 국제컨퍼런스 개최</div>
									</div>
								</div>
							</div>
							<div class="history__contTxt2">
								<div class="history__contTxt--title3">10월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ화장품동물실험반대 온라인 캠페인</div>
										<div class="history__txtItem--desc">ㆍ모피반대 온라인 캠페인</div>
										<div class="history__txtItem--desc">ㆍ식약청의 동물실험법안 반대 캠페인</div>
										<div class="history__txtItem--desc">ㆍ올바른 동물보호법개정 촉구 캠페인</div>
										<div class="history__txtItem--desc">ㆍ중국농장동물 컨퍼런스(복지부분) 참여</div>
									</div>
								</div>
							</div>
							<div class="history__contTxt2 history__bottomLine">
								<div class="history__contTxt--title3">11월</div>
								<div class="history__contTxt--description3">
									<div class="history__contTxt--item2">
										<div class="history__txtItem--desc">ㆍ농장동물복지 아시아연합미팅 참여 : 태국WSPA 아시아지부 개최</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>2004 content</li>
			<li>2003 content</li>
			<li>2002 content</li>
			<li>2001 content</li>
			<li>2000 content</li>
			<li>1999 content</li>
		</ul>
	</div>
</div>
