<%
	page = "page1"
	sub = 3
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="history">
	<div class="history__header">
		동물자유연대의 걸어온 길입니다.
	</div>
	<div class="history__content">
		<ul class="history__year-group">
			<li><a href="연혁01.html" class="on">현재 ~ 2010년</a></li>
			<li><a href="연혁02.html">2009년 ~ 2006년</a></li>
			<li><a href="연혁03.html">2005년 ~ 1999년</a></li>
		</ul>
		<ul class="history__year-tab">
			<li class="on">2016</li>
			<li>2015</li>
			<li>2014</li>
			<li>2013</li>
			<li>2012</li>
			<li>2011</li>
			<li>2010</li>
		</ul>
		<ul class="history__year-content">
			<li class="on">2016 content</li>
			<li><!-- 2015 content -->
				<div class="history__contImg">
					<img src="../../images/content/history201501.jpg" alt=""/>
					<img src="../../images/content/history201502.jpg" alt=""/>
					<img src="../../images/content/history201503.jpg" alt=""/>
				</div>
				<div class="history__contTxt">
					<div class="history__contTxt--title">반려동물</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">1. 동물보호 관련 시민 상담 및 동물학대 대응</div>
							<div class="history__txtItem--desc">ㆍ9,500여 건의 동물관련 시민 상담</div>
							<div class="history__txtItem--desc">ㆍ41건의 동물 학대 사건 경찰고발</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">2. 길고양이 지원협력 사업</div>
							<div class="history__txtItem--desc">ㆍ서울시와 함께 서울숲에 길고양이 급식소 10곳 설치</div>
							<div class="history__txtItem--desc">ㆍ서울성동구, 성남, 용인, 수원 등 지역 캣맘조직 지원 협력사업</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">3. 개식용 근절 캠페인</div>
							<div class="history__txtItem--desc">ㆍ온라인 카드뉴스 캠페인</div>
							<div class="history__txtItem--desc">ㆍ복날 광화문 기자회견 및 개식용 반대 캠페인</div>
							<div class="history__txtItem--desc">ㆍ서울 관악구 불법 개도살장 폐쇄</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">4. 반려동물 생산업 감시</div>
							<div class="history__txtItem--desc">ㆍ경기도 남양주시 불법 종견장 조사 및 고발</div>
							<div class="history__txtItem--desc">ㆍ인터넷 분양 및 번식장 조사</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">5. 입양동물의 날 행사</div>
						</div>
					</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">6. 동물구조 및 입양</div>
							<div class="history__txtItem--desc">ㆍ반려동물복지센터 155마리 동물 입소, 총 76마리 입양 연결</div>
							<div class="history__txtItem--desc">ㆍ현재 총 보호동물 302마리</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">7. 정책 활동</div>
							<div class="history__txtItem--desc">ㆍ서울시에  ‘지하철 반려동물 탑승칸 운영’ 제안</div>
							<div class="history__txtItem--desc">ㆍ고양시 동물보호소 운영 개선</div>
							<div class="history__txtItem--desc">ㆍ현역 국회의원 39명으로 구성된  ‘동물복지국회포럼’ 발족,자문위원 단체로 참여</div>
							<div class="history__txtItem--desc">ㆍ민병주 국회의원과 함께 방치를 학대로 규정하는 ‘동물보호법 개정안 통과 촉구 정책세미나’ 개최</div>
							<div class="history__txtItem--desc">ㆍ이종배 국회의원과 함께  ‘투견도박 긴절 및 동물학대 방지 정책토론회’ 개최</div>
							<div class="history__txtItem--desc">ㆍ수원시 좋은시정위원회에 유기동물 직영보호소 설립 의견서 전달, 2016년부터 직영보호소 건립 시작</div>
							<div class="history__txtItem--desc">ㆍ경기도 반려동물 테마파크 및 반려동물 정책 자문</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">8. 배분사업</div>
							<div class="history__txtItem--desc">ㆍ사설 보호소 동물치료 및 사료 지원사업</div>
							<div class="history__txtItem--desc">ㆍ개인 동물 구조ㆍ임시보호 동물 치료비 지원</div>
						</div>
					</div>
				</div>
				<div class="history__contImg">
					<img src="../../images/content/history201504.jpg" alt=""/>
					<img src="../../images/content/history201505.jpg" alt=""/>
					<img src="../../images/content/history201506.jpg" alt=""/>
				</div>
				<div class="history__contTxt">
					<div class="history__contTxt--title">전시동물</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">1. 남방큰돌고래 야생 방류 및 해양생물 보호 활동</div>
							<div class="history__txtItem--desc">ㆍ불법포획 된 남방큰돌고래 태산이와 복순이 방류 성공</div>
							<div class="history__txtItem--desc">ㆍ고래류를 전시· 공연용으로 포획할 수 없도록 해양수산부 장관의 법률개정 약속</div>
							<div class="history__txtItem--desc">ㆍ좌초된 야생해양동물을 전시할 수 없도록 해양수산부 고시 제정</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">2. 멸종위기종 구조 및 보호활동</div>
							<div class="history__txtItem--desc">ㆍ환경부와 함께 청계천 일대 멸종위기종 불법판매 업체 단속</div>
							<div class="history__txtItem--desc">ㆍ원숭이, 샴 악어 등 개인에게 불법사육되던 야생동물들을 구조 후 보호시설로 이송</div>
						</div>
					</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">3. 동물원법 제정 운동</div>
							<div class="history__txtItem--desc">ㆍ장하나 국회의원과 함께 ‘동물원법 제정을 위한 국회토론회’ 개최</div>
							<div class="history__txtItem--desc">ㆍ동물보호 및 동물원법 제정에 대한 국민 인식 조사 연구-성균관대 협업</div>
							<div class="history__txtItem--desc">ㆍ인천, 창원, 원주 등에서 사설 동물원 폐업 후 방치된 야생동물들 구조후 관련자 고발</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">4. 오랑우탄 거울실험 참여</div>
							<div class="history__txtItem--desc">ㆍ오랑우탄의 자아 인식 능력을 확인하는 한겨레신문사 주관 ‘오랑우탄 거울실험’의 동물복지 모니터링</div>
						</div>
					</div>
				</div>
				<div class="history__contImg">
					<img src="../../images/content/history201507.jpg" alt=""/>
					<img src="../../images/content/history201508.jpg" alt=""/>
				</div>
				<div class="history__contTxt">
					<div class="history__contTxt--title">농장동물</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">1. ‘잡식가족의 딜레마’ 영화 상영</div>
							<div class="history__txtItem--desc">ㆍ농장동물의 현실을 알리기 위해 ‘잡식가족의 딜레마’ 제작 지원</div>
							<div class="history__txtItem--desc">ㆍ2015년 베를린 영화제를 비롯한 국내외 15개 영화제에 초청되어 수상</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">2. 농장동물의 날 공동 기자회견</div>
							<div class="history__txtItem--desc">ㆍ국내 주요 동물보호단체들과 함께 농장동물의 처우 개선 요구</div>
						</div>
					</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">3. 정책 자문활동</div>
							<div class="history__txtItem--desc">ㆍ농림축산식품부 동물복지축산농장 인증 기준 검토 및 자문</div>
						</div>
					</div>
				</div>
				<div class="history__contImg">
					<img src="../../images/content/history201509.jpg" alt=""/>
					<img src="../../images/content/history201510.jpg" alt=""/>
				</div>
				<div class="history__contTxt">
					<div class="history__contTxt--title">실험동물</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">1. 화장품법 개정</div>
							<div class="history__txtItem--desc">ㆍ정문정림 국회의원과 함께 화장품 동물실험을 금지하는 ‘화장품법 개정안’ 발의, 국회 본회의 통과</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">2. 동물실험 감시 활동</div>
							<div class="history__txtItem--desc">ㆍ경찰, 언론, 학교 등에서 무분별하게 실시되는 ‘보여주기식 동물 독성실험’ 반대 활동</div>
							<div class="history__txtItem--desc">ㆍ안전성평가연구소 스프레이독성실험 동물실험윤리위원회 미승인 민원 제기,과태료 부과</div>
						</div>
					</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">3. 실험동물 택배거래 반대</div>
							<div class="history__txtItem--desc">ㆍ해부용 생쥐 등 실험동물을 택배로 판매한 14개 업체 고발</div>
						</div>
					</div>
				</div>
				<div class="history__contTxt">
					<div class="history__contTxt--title">기타</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">1. 기타활동</div>
							<div class="history__txtItem--desc">ㆍ농림축산식품부 동물복지위원회, 서울시 동물복지자문위원회, 국립축산과학원 동물복지연구회, 환경부 사육곰대책위원회, 국회, 언론 등 다수의자문 활동</div>
						</div>
					</div>
					<div class="history__contTxt--description">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">2. 교육활동</div>
							<div class="history__txtItem--desc">ㆍ동물복지 축산농장 및 도축장 정기교육, 동물실험 윤리위원회 위원교육 등 다수 교육 강연 활동</div>
						</div>
					</div>
				</div>
			</li>
			<li>2014 content</li>
			<li>2013 content</li>
			<li>2012 content</li>
			<li>2011 content</li>
			<li>2010 content</li>
		</ul>
	</div>
</div>
