<%
	page = "page1"
	sub = 3
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="history">
	<div class="history__header">
		동물자유연대의 걸어온 길입니다.
	</div>
	<div class="history__content">
		<ul class="history__year-group">
			<li><a href="연혁01.html">현재 ~ 2010년</a></li>
			<li><a href="연혁02.html" class="on">2009년 ~ 2006년</a></li>
			<li><a href="연혁03.html">2005년 ~ 1999년</a></li>
		</ul>
		<ul class="history__year-tab">
			<li class="on">2009</li>
			<li>2008</li>
			<li>2007</li>
			<li>2006</li>
		</ul>
		<ul class="history__year-content">
			<li class="on"><!-- 2009 content -->
				<div class="history__contTxt">
					<div class="history__contTxt--title">사업 및 행사보고</div>
					<div class="history__contTxt--description2">
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">1. 유기동물 관리 및 학대동물 구조</div>
							<div class="history__txtItem--desc">ㆍ제보상담 게시판 답변 및 전화제보 상담 : 게시판 문의만 약 500건</div>
							<div class="history__txtItem--desc">ㆍ입소동물 관리 및 입양 연중 진행 : 입소 관련 통계는 총계 때 집계 발표</div>
							<div class="history__txtItem--desc">ㆍ욕지도의 버려진 유기견 구조 및 의료봉사 활동(SBS TV동물농장 방송)</div>
							<div class="history__txtItem--desc">ㆍ광진구 폐업 애완동물샵 햄스터, 기니피그 등 70여마리 구조 및 입양</div>
							<div class="history__txtItem--desc">ㆍ동물수집병 피해견 갑돌이 등 구조 활동(SBS 긴급출동SOS 방송)</div>
							<div class="history__txtItem--desc">ㆍ정기 입양동물과의 만남의 날 행사 개최</div>
							<div class="history__txtItem--desc">ㆍ외부 보호소 동물 후원 기금 마련 달력 판매 진행</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">2. 동물복지 실태 현장 조사 활동</div>
							<div class="history__txtItem--desc">ㆍ진도군 진돗개 인증 심사 및 도태 과정 조사 활동 : 동물자유연대 웹사이트, 계간매거진 함께나누는 삶을 통하여 1차 조사 경과 발표</div>
							<div class="history__txtItem--desc">ㆍ주주동물원 실태 조사, 현장고발 뉴스 기사 송고, 캠페인 동영상 제작</div>
							<div class="history__txtItem--desc">ㆍ청도, 진주 소싸움 현장 조사, 소싸움 현장 이동 동물원에 대한 항의 운동 전개</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">3. 동물보호 정책 활동</div>
							<div class="history__txtItem--desc">ㆍ동물실험 윤리위원 추천 및 교육 실시</div>
							<div class="history__txtItem--desc">ㆍ동물보호법 시행규칙 정비를 촉구하는 의견서 작성, 농림수산식품부 제출 : 동물학대 행위 규정의 구체화 및 학대 처벌 기준 강화 촉구, 동물보호법 상 보호받을 수 있는 동물의 범위를 넒힐 것을 요구함</div>
							<div class="history__txtItem--desc">ㆍ동물보호법 규정 보완을 위한 국무총리실 산하 국민권익위원회 의견 제출</div>
							<div class="history__txtItem--desc">ㆍ동물진료 과세 부과 반대 서명운동 전개</div>
							<div class="history__txtItem--desc">ㆍ환경부의 비둘기 유해조수 지정 및 야생멧돼지 관리 대책 수정 요청 활동</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">4. 대중 캠페인</div>
							<div class="history__txtItem--desc">ㆍ성동구내 유치원과 어린이집 대상 어린이 동물보호교육 실시 : 43개소 유치원 및 어린이집, 2500여명 원생 대상 올바른 반려동물 돌보기 교육 실시,리플렛 배포</div>
							<div class="history__txtItem--desc">ㆍ반려동물사진 공모전 및 전시회 개최 : 청담동 데일리프로젝트 갤러리<br>
							(김현성 이사님 진행으로 영화배우 이하나, 김민준, 이연희, 소녀시대 등 사진촬영 협조)</div>
							<div class="history__txtItem--desc">ㆍ불법 가재뽑기 게임기 신고 캠페인 및 반대 서명운동 전개</div>
							<div class="history__txtItem--desc">ㆍ농림수산식품부 고래잡이 합법화 반대 온라인 서명 캠페인</div>
							<div class="history__txtItem--desc">ㆍ환경부의 비둘기 유해야생동물지정에 대한 항의 운동</div>
							<div class="history__txtItem--desc">ㆍ초복, 말복 식용견 유통 및 개도살 반대 거리 캠페인 실시<br>
							초복 캠페인 : ‘모두다 소중한 우리 개들입니다.’, <br>
							말복 캠페인 : ‘식용으로 희생된 구름이를 기억해주세요.’ 진행</div>
							<div class="history__txtItem--desc">ㆍ식용견 도살 반대 한메일 광고 게재</div>
							<div class="history__txtItem--desc">ㆍ식용견 도살 반대 캠페인 동영상 제작 및 온라인 배포 : “폭력의 개식용 사업”</div>
							<div class="history__txtItem--desc">ㆍ동물체험학습 반대 캠페인, 싸이월드 타운을 통한 반대 서명운동 전개 : 지하철 2호선 신당역 곤충 파충류 체험전 주최측인 서울도시철도공사와 부안곤충영농조합에 전달, 물고기 잡기 체험은 중단. 체험전 내용에 대한 주최측 내부 협의사항은 추후 전달하기로 함.</div>
							<div class="history__txtItem--desc">ㆍ월간 쎄시-의류브랜드 헤지스 공동 유기동물보호 캠페인 게재</div>
							<div class="history__txtItem--desc">ㆍ모피소비 근절을 촉구하는 거리 캠페인</div>
							<div class="history__txtItem--desc">ㆍMBC 일요일 일요일 밤에 ‘생태구조단 헌터스’ 제작 철회 요청 활동</div>
							<div class="history__txtItem--desc">ㆍ삼성이미징 인터내셔널 블로그를 통한 단체 홍보 시작</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">5. 언론보도</div>
							<div class="history__txtItem--desc">ㆍSBS TV동물농장 애니멀 커뮤니케이터 하이디를 만난 꽃님이 사연 방송</div>
							<div class="history__txtItem--desc">ㆍKBS 환경스페셜  ‘농장동물의 복지를 말한다’ 제작 자문 및 자료 제작</div>
							<div class="history__txtItem--desc">ㆍSBS TV동물농장 욕지도 유기견 실태 : 동물자유연대 구조 및 치료활동 보도</div>
							<div class="history__txtItem--desc">ㆍSBS 긴급출동SOS 애니멀 호딩 관련 방송 : 갑돌이 외 7마리 방치 개,고양이 구조 활동 방송</div>
							<div class="history__txtItem--desc">ㆍ오마이뉴스 및 포털 사이트 메인 뉴스 게재</div>
							<div class="history__txtItem--desc">　“입양간 구름이는 개소주가 되었습니다.”<br>
							“못생긴 진돗개는 보신탕집으로 보내라?”<br>
							“동물쇼, 어떻게 보십니까.”<br>
							“동정심이 동물학대로...애니멀 호딩”<br>
							“TV에선 동물을 버리면 잘 돌봐주던데....”</div>
						</div>
						<div class="history__contTxt--item">
							<div class="history__txtItem--title">6. 국제 연대</div>
							<div class="history__txtItem--desc">ㆍ‘열린 세계무역과 농장동물복지’ 국제컨퍼런스 참여(벨기에 브뤼셀)</div>
							<div class="history__txtItem--desc">ㆍ뉴질랜드 정부를 향한 살아있는 양 수출 반대 ‘Handle with Care’ 참여</div>
							<div class="history__txtItem--desc">ㆍ세계동물복지선언의  UN 결의를 위한 대정부 로비활동</div>
						</div>
					</div>
				</div>
			</li>
			<li>2008 content</li>
			<li>2007 content</li>
			<li>2006 content</li>
		</ul>
	</div>
</div>
