<%
	page = "page1"
	sub = 0
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="organ">
	<div class="organ__content">
		<img src="../../images/content/organ.jpg" alt="조직도"/>
		<div class="organ__list">
			<h3>서울본부</h3>
			<table>
				<colgroup>
					<col class="organ__col-type"/>
					<col class="organ__col-name"/>
					<col class="organ__col-position"/>
					<col class="organ__col-number"/>
					<col class="organ__col-email"/>
				</colgroup>
				<thead>
					<tr>
						<th>분야</th>
						<th>이름</th>
						<th>직책</th>
						<th>전화번호</th>
						<th>이메일</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>교육본부</th>
						<td>김은숙</td>
						<td>본부장</td>
						<td>02)6959-4494</td>
						<td>chadol@animals.or.kr</td>
					</tr>
					<tr>
						<th>정책국</th>
						<td>김영환</td>
						<td>선임간사</td>
						<td>02)6959-4972</td>
						<td>young@animals.or.kr</td>
					</tr>
					<tr>
						<th>정책국</th>
						<td>장인영</td>
						<td> - </td>
						<td>02)6959-4971</td>
						<td>changin0@animals.or.kr</td>
					</tr>
					<tr>
						<th>정책국</th>
						<td>이소영</td>
						<td> - </td>
						<td>02)6959-4973</td>
						<td>porori@animals.or.kr</td>
					</tr>
					<tr>
						<th>정책국</th>
						<td>정윤경</td>
						<td> - </td>
						<td>02)6959-4974</td>
						<td>heart@animals.or.kr</td>
					</tr>
					<tr>
						<th>정책국</th>
						<td>이용준</td>
						<td> - </td>
						<td>02)6959-4975</td>
						<td>dmjk2@animals.or.kr</td>
					</tr>
					<tr>
						<th>국제연대</th>
						<td>박은경</td>
						<td>선임간사</td>
						<td>02)6959-4946</td>
						<td>eunny@animals.or.kr</td>
					</tr>
					<tr>
						<th>운영지원국</th>
						<td>손혜원</td>
						<td>국장</td>
						<td>02)6959-4942</td>
						<td>hyewon@animals.or.kr</td>
					</tr>
					<tr>
						<th>운영지원국</th>
						<td>정환희</td>
						<td> - </td>
						<td>02)6959-4943</td>
						<td>che4678@animals.or.kr</td>
					</tr>
					<tr>
						<th>운영지원국</th>
						<td>손지은</td>
						<td> - </td>
						<td>02)6959-4944</td>
						<td>ramune@animals.or.kr</td>
					</tr>
					<tr>
						<th>홍보팀</th>
						<td>홍현진</td>
						<td>팀장</td>
						<td>02)6959-4941</td>
						<td>pearl@animals.or.kr</td>
					</tr>
					<tr>
						<th>홍보 및 출판관리</th>
						<td>김보아</td>
						<td> - </td>
						<td>02)6959-4945</td>
						<td>mari@animals.or.kr</td>
					</tr>
					<tr>
						<th>홍보 및 출판관리</th>
						<td>서유경</td>
						<td> - </td>
						<td>02)6959-4947</td>
						<td>ukyung@animals.or.kr</td>
					</tr>
					<tr>
						<th>회원관리</th>
						<td>조영수</td>
						<td> - </td>
						<td>02)6959-4946</td>
						<td>choys3003@animals.or.kr</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="organ__list">
			<h3>반려동물복지센터</h3>
			<table>
				<colgroup>
					<col class="organ__col-type2"/>
					<col class="organ__col-name2"/>
					<col class="organ__col-position2"/>
					<col class="organ__col-number2"/>
					<col class="organ__col-email2"/>
				</colgroup>
				<thead>
					<tr>
						<th>분야</th>
						<th>이름</th>
						<th>직책</th>
						<th>이메일</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th> - </th>
						<td>윤정임</td>
						<td>국장</td>
						<td>yjim@animals.or.kr</td>
					</tr>
					<tr>
						<th>동물구조, 학대대응</th>
						<td>조영연</td>
						<td>팀장</td>
						<td></td>
					</tr>
					<tr>
						<th>동물입양, 결연관리</th>
						<td>손혜은</td>
						<td>선임간사</td>
						<td></td>
					</tr>
					<tr>
						<th>동물입양, 결연관리</th>
						<td>조성진</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>동물훈련</th>
						<td>이도엽</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>자원봉사ㆍ동물돌봄 관리</th>
						<td>이현경</td>
						<td>주임</td>
						<td></td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>심은희</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>양경희</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>박규병</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>김종건</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>신진영</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>김효은</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>오대근</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>안진우</td>
						<td> - </td>
						<td></td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>박지선</td>
						<td> - </td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="organ__list">
			<h3>부속 동물병원</h3>
			<table>
				<colgroup>
					<col class="organ__col-type2"/>
					<col class="organ__col-name2"/>
					<col class="organ__col-position2"/>
					<col class="organ__col-email2"/>
				</colgroup>
				<thead>
					<tr>
						<th>분야</th>
						<th>이름</th>
						<th>직책</th>
						<th>이메일</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>동물진료</th>
						<td>채민석</td>
						<td>원장</td>
						<td>vetchae@animals.or.kr</td>
					</tr>
					<tr>
						<th>동물간호</th>
						<td>이진하</td>
						<td> - </td>
						<td> - </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="organ__list">
			<h3>부산지부</h3>
			<table>
				<colgroup>
					<col class="organ__col-type"/>
					<col class="organ__col-name"/>
					<col class="organ__col-position"/>
					<col class="organ__col-number"/>
					<col class="organ__col-email"/>
				</colgroup>
				<thead>
					<tr>
						<th>분야</th>
						<th>이름</th>
						<th>직책</th>
						<th>전화번호</th>
						<th>이메일</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th> - </th>
						<td>심민섭</td>
						<td>팀장</td>
						<td> - </td>
						<td>sis@animals.or.kr</td>
					</tr>
					<tr>
						<th>동물돌봄 관리</th>
						<td>김도희</td>
						<td>간사</td>
						<td> - </td>
						<td>kdh@animals.or.kr</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
