<%
	page = "page5"
	sub = 0
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">


<link rel="stylesheet" href="../../css/login.css">
<div class="login">
	<div class="login__header">
		<h2 class="login__tit">
			Membership Login
		</h2>
		<p class="login__txt">동물과 함께 더불어 사는 세상 동물자유연대입니다.</p>
		<div class="login__area">
			<div class="login__box">
				<p class="login__input"><span class="login__info">아이디</span><input type="text" name="" id="loginId" class="input1 login__input wd240"></p>
				<p class="login__input"><span class="login__info">비밀번호</span><input type="password" name="" id="loginPw" class="input1 login__input wd240"></p>
				<p class="login__check">
					<input type="checkbox" name="id" id="id" class="checkbox01 type-another"><label for="id">아이디 저장</label>
				</p>
				<a href="#" class="login__btn">로그인</a>
			</div>
		</div>
		<div class="login__item nth-1">
				<div class="login__item-wrap">
					<h3 class="login__sub-tit">아직 회원으로 가입하지 않으셨나요?</h3>
					<p class="login__sub-txt">간단한 가입양식 작성 후 모든 자료를 자유롭게 열람하세요</p>
				</div>
				<a href="" class="btn btn2 wd160"><strong>회원가입</strong></a>
		</div>
		<div class="login__item nth-2">
			<div class="login__item-wrap">
				<h3 class="login__sub-tit">아이디나 비밀번호를 잊으셨나요?</h3>
				<p class="login__sub-txt">가입시 입력하셨던 몇가지 정보를 확인 후 찾아드립니다.</p>
			</div>
			<a href="" class="btn btn2 wd160"><strong>아이디/비밀번호 찾기</strong></a>
		</div>
	</div><!-- //login__header -->
</div>
