<%
	page = "page5"
	sub = 4
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="shopping__area">
	<ul class="shopping__list">
		<li class="shopping__item">
			<div class="shopping__check">
				<input type="checkbox" name="shopping" id="shopping_check01" class="checkbox01 type-another"><label for="shopping_check01" class="solo">선택</label>
			</div>
			<div class="shopping__img"><img src="../../images/content/page5/shopping_img1.jpg" alt=""></div>
			<div class="shopping__box">
				<h2 class="shopping__tit">2015 동물자유연대 부산, 경남 지역 송년의 밤에 초대합니다.</h2>
				<div class="shopping__info">
					<span class="shopping__price">20,000원</span>
					<span class="shopping__date">2016.09.01  오후 1:02:46</span>
				</div>
			</div>
		</li>
		<li class="shopping__item">
			<div class="shopping__check">
				<input type="checkbox" name="shopping" id="shopping_check02" class="checkbox01 type-another"><label for="shopping_check02" class="solo">선택</label>
			</div>
			<div class="shopping__img"><img src="../../images/content/page5/shopping_img1.jpg" alt=""></div>
			<div class="shopping__box">
				<h2 class="shopping__tit">2015 동물자유연대 캘린더 출시!(삼성, 현대카드는 결제가 되지않습니다. 양해말씀 드립니다^^)</h2>
				<div class="shopping__info">
					<span class="shopping__price">4,700원</span>
					<span class="shopping__date">2016.09.01  오후 1:02:46</span>
				</div>
				<div class="shopping__info">
					<span class="shopping__txt">홍길동님께 선물합니다.</span>
					<span class="shopping__txt">연락처 : 01012345678</span>
					<span class="shopping__txt">이메일 : honggildong@naver.com</span>
				</div>
			</div>
		</li>
	</ul>
	<div class="shopping__total">
		총 후원금액<span class="shopping__total-price">121,400원</span>
	</div>
</div><!-- //shopping__area -->

<div class="left__group mt30">
	<a href="" class="btn btn4">선택삭제</a>
	<a href="" class="btn btn4">전체삭제</a>
	<a href="" class="btn btn4">목록가기</a>
	<a href="" class="btn btn1 fl_r">기부결제</a>
</div>
