<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>이벤트후원 | 동물자유연대</title>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script> -->
	<script type="text/javascript" src="../../js/webfont.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.bxslider.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.dotdotdot.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script type="text/javascript" src="../../js/page1.js"></script>
	<link rel="stylesheet" href="../../css/libs/normalize.css">
	<link rel="stylesheet" href="../../css/libs/jquery.bxslider.css">
	<link rel="stylesheet" href="../../css/libs/flexslider.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>

<body>



	<div class="common__streetCatBg"><img src="../../images/content/companionAnimals2Bgtest.jpg" alt="길고양이 팝업 테스트배경" /></div>
	<div class="common__grayBg"></div>
	<div class="popup hg550">
		<div class="popup__wrap">
			<div class="popup__title">
				후원쇼핑 추천하기
				<a href="#n"><img src="../../images/content/popupClose.png" alt="팝업닫기" /></a>
			</div>
			<div class="popup__wrap2">
				<div class="popup__content2">
					<dl class="popup__dl">
						<dt class="popup__dt">친구이름</dt>
						<dd class="popup__dd"><input type="text" class="input1 wd250" placeholder="이름"></dd>
						<dt class="popup__dt">친구 이메일</dt>
						<dd class="popup__dd"><input type="text" class="input1 wd250" placeholder="이메일"></dd>
						<dt class="popup__dt">추천인 이름</dt>
						<dd class="popup__dd"><input type="text" class="input1 wd250" placeholder="이름"></dd>
						<dt class="popup__dt">추천인 이메일</dt>
						<dd class="popup__dd"><input type="text" class="input1 wd250" placeholder="이메일"></dd>
					</dl>
					<textarea rows="3" cols="3" class="textarea1 hg140 wd600 mt20"  placeholder='"사지마세요, 입양하세요" 차량용스티커로 동물자유연대와 함께해요.'></textarea>
				</div>
			</div>
			<div class="center__group">
				<a href="" class="btn btn1 wd160">추천하기</a>
				<a href="" class="btn btn2 wd160">취소</a>
			</div>
		</div>
	</div>


</body>

</html>
