<%
	page = "page5"
	sub = 4
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="event">
	<div class="event__banner">
		<div class="event__img type-another">
			<img src="../../images/content/page5/event_banner.jpg" alt="">
		</div>
		<div class="event__box">
			<h2 class="event__banner-tit">내 마음에 딱 맞는 동물자유연대 활동을 <span>골라 담는 후원!</span></h2>
			<p class="event__banner-txt">
				선택하시는 프로젝트로 여러분이 결제하신 후원금이 바로 전달됩니다.<br>
				동물자유연대의 다양한 프로젝트 후원으로 동물들에게 희망을 전하세요.
			</p>
			<p class="event__banner-point">기부도 선물하실 수 있습니다. <a href="" class="event__banner-link">후원쇼핑 FAQ 바로가기</a></p>
		</div>
	</div>
	<div class="event__sponsor">
		<div class="event__sponsor__img">
			<img src="../../images/content/page5/event_board_small01.jpg" alt="">
		</div>
		<div class="event__sponsor__box">
			<div class="event__sponsor__wrap">
				<h3 class="event__sponsor__tit">2015 동물자유연대 캘린더 출시!(삼성, 현대카드는 결제가 되지않습니다. 양해말씀 드립니다^^)</h3>
				<dl class="event__dl">
					<dt class="event__dt">후원용도</dt>
					<dd class="event__dd">
						<div class="event__radio">
							<input type="radio" name="lab_buying" id="lab_buying01" class="radio01" checked="checked"/><label for="lab_buying01" class="label01">본인구입</label>
							<input type="radio" name="lab_buying" id="lab_buying02" class="radio01" /><label for="lab_buying02" class="label01 js-open-present">선물후기</label>
						</div>
						<p class="event__sub-txt">(소중한 사람을 기부자로 등록해서 기부하는 기쁨을 선물하세요.)</p>
					</dd>물

					<dt class="event__dt">후원금액</dt>
					<dd class="event__dd wd120">
						<select class="wd120 select30">
							<option>5,700원</option>
							<option>5,700원</option>
							<option>5,700원</option>
						</select>
					</dd>
				</dl>
				<dl class="event__dl js-present">
					<dt class="event__dt">선물받을 분</dt>
					<dd class="event__dd fs0">
						<span class="input__wrap"><input type="text" class="input1 wd250" placeholder="이름"></span>
						<span class="input__wrap"><input type="text" class="input1 wd250" placeholder="휴대폰 번호 (예: 01012345678)"></span>
						<span class="input__wrap"><input type="text" class="input1 wd250" placeholder="이메일"></span>
					</dd>
				</dl>
				<div class="left__group mt20">
					<a href="" class="btn btn4">친구추천</a>
					<a href="" class="btn btn4">후원바구니</a>
					<a href="" class="btn btn4">목록가기</a>
					<a href="" class="btn btn3">바로기부</a>
				</div>
			</div>
		</div>
	</div>
	<div class="event__board txt_c">
		<img src="../../images/content/page5/event_board01.jpg" alt=""><br><br>
		애견샵에서 흔히 볼 수 있는 귀엽고 어린 강아지들... 이 아이들이 어디서 오는지 알고 계신가요?
		햇빛도 들지 않는 어둡고 습한 비닐하우스 안, 열악한 환경에서 기계처럼 새끼만 낳아 품어보지도 못한 채 떠나보내는 어미 개에게서 오는 것입니다. <strong class="color2">수요가 없다면 공급도 없을텐데 말이죠...</strong><br><br>

		지난 겨울, 종견장에서 구조한 77마리 아이들을 포함해 동자연 센터에서 가족을 기다리고 있는 아이들은 약 300마리. 가족을기다리고 있는 아이들이 평생 가족을 찾을 수 있게, 그리고 좁은 뜬장에 갇혀 새끼만 낳게하는 강아지 공장을 종식 시킬 수 있도록 여러분이 홍보대사가 되어주세요! <br><br>

		<img src="../../images/content/page5/event_board02.jpg" alt=""><br><br>

		동물자유연대와 함께 하는 방법은 의외로 간단해요!
		<strong class="color2">동물자유연대에서 제작한 차량 스티커를 자동차나 유리문에 붙여 더 많은 분들이 볼 수 있게 “사지마세요, 입양하세요” 홍보대사가 되어주시면 된답니다.</strong> <br><br>

		그동안 ‘내 주변에 더 많은 사람들이 동물자유연대의 가족이 되었으면 좋겠다.’ 또는 ‘아직 동자연의 가족은 아니지만 항상 응원할게요.’ 하셨던 분들.  <strong class="color2">간단한 방법이지만 많은 분들이 함께 해주신다면 나비효과처럼 조금씩 퍼져 아픔을 겪는 아이들이 차츰 줄어들 것이라 믿어요.</strong><br><br>

		<span class="color3">동물자유연대 로고 스티커가 포함되어있는 본 SET 상품은 회원분들을 위한 상품입니다.<br>
		양해부탁드립니다.</span><br><br>

		"사지마세요, 입양하세요" 스티커 SIZE : 250mm x 100mm<br>
		"동물자유연대 로고" 스티커 SIZE : 200mm x 140mm <br><br>

		1set : 3,000+2,700(배송비) = 5,700원<br>
		2set : 6,000 + 2,700(배송비) = 8,700원<br>
		3set : 9,000 + 2,700(배송비) = 11,700원<br>
		4set : 12,000 + 2,700(배송비) = 14,700원<br>
		5set : 15,000 + 2,700(배송비) = 17,700원<br>
		6set : 18,000 + 2,700(배송비) = 20,700원<br>
		7set : 21,000 + 2,700(배송비) = 23,700원<br>
		8set : 24,000 + 2,700(배송비) = 26,700원<br>
		9set : 27,000 + 2,700(배송비) = 29,700원<br>
		10set : 30,000 + 2,700(배송비) = 32,700원<br><br>

		※10개 이상 대량구매는 <strong class="color3">02-6959-4947</strong>로 전화주세요.<br>
		<span class="color3">매주 화요일, 금요일에 발송</span>되며, 발송 후 문자로 송장번호를 알려드립니다.
	</div>
	<div class="imageView__viewReplayList">
		<div class="imageView__replyTitleResult">댓글<span>2</span></div>
		<ul>
			<li>
				<div class="imageView__replyItem">
					<div class="imageView__writer">홍길동</div>
					<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
				</div>
				<div class="imageView__replyContent">다음주부터 구체적인 공지가 나갈 예정입니다. 반려동물과 함께 참여하는 형식입니다. 많은 관심 부탁드립니다^^</div>
			</li>
			<li>
				<div class="imageView__replyItem">
					<div class="imageView__writer">동물자유연대</div>
					<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
				</div>
				<div class="imageView__replyContent">테스트 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 남산위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세 가을하늘 공활한데 높고구름없이 밝은달은 우리가슴 일편단심일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 이기상과 이맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리
					화려강산 대한사람 대한으로 길이보전하세. 테스트입니다. 댓글 테스트입니다.</div>
			</li>
		</ul>
	</div>
</div>
