<%
	page = "page5"
	sub = 4
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="event">
	<div class="event__banner">
		<div class="event__img type-another">
			<img src="../../images/content/page5/event_banner.jpg" alt="">
		</div>
		<div class="event__box">
			<h2 class="event__banner-tit">내 마음에 딱 맞는 동물자유연대 활동을 <span>골라 담는 후원!</span></h2>
			<p class="event__banner-txt">
				선택하시는 프로젝트로 여러분이 결제하신 후원금이 바로 전달됩니다.<br>
				동물자유연대의 다양한 프로젝트 후원으로 동물들에게 희망을 전하세요.
			</p>
			<p class="event__banner-point">기부도 선물하실 수 있습니다. <a href="" class="event__banner-link">후원쇼핑 FAQ 바로가기</a></p>
		</div>
	</div>
	<ul class="event__list">
		<li class="event__item">
			<div class="event__img">
				<a href="" class="event__img-link"><img src="../../images/content/page5/event_thumbnail01.jpg" alt=""></a>
			</div>
			<div class="event__box">
				<h2 class="event__tit"><a href="" class="event__link">2015 동물자유연대 캘린더 출시!(삼성, 현대카드는 결제가 되지않습니다. 양해말씀 드립니다^^)</a></h2>
				<p class="event__price">5,700원</p>
				<p class="event__txt">
					<a href="" class="event__link">올드독 작가님과 팝픽쳐스 박광택 포토그래퍼님의 합작, 2015년도 동물자유연대 캘린더를 출시했습니다~!<br>
						선착순 선물도 있으니 서둘러서 신청해주세요~ <참고: 현대카드와 삼성카드는 결제가 되지 않습니다. 이점 양해 말씀 드립니다.></a>
				</p>
				<div class="contentsInfo mt20">
					<span class="contentsInfo-basket"><a href="" class="event__link">후원바구니 담기</a></span>
					<span class="contentsInfo-recommend"><a href="" class="event__link">친구에게 추천</a></span>
				</div>
			</div>
		</li>
		<li class="event__item">
			<div class="event__img">
				<a href="" class="event__img-link"><img src="../../images/content/page5/event_thumbnail01.jpg" alt=""></a>
			</div>
			<div class="event__box">
				<h2 class="event__tit"><a href="" class="event__link">2015 동물자유연대 캘린더 출시!(삼성, 현대카드는 결제가 되지않습니다. 양해말씀 드립니다^^)</a></h2>
				<p class="event__price">5,700원</p>
				<p class="event__txt">
					<a href="" class="event__link">올드독 작가님과 팝픽쳐스 박광택 포토그래퍼님의 합작, 2015년도 동물자유연대 캘린더를 출시했습니다~!<br>
						선착순 선물도 있으니 서둘러서 신청해주세요~ <참고: 현대카드와 삼성카드는 결제가 되지 않습니다. 이점 양해 말씀 드립니다.></a>
				</p>
				<div class="contentsInfo mt20">
					<span class="contentsInfo-basket"><a href="" class="event__link">후원바구니 담기</a></span>
					<span class="contentsInfo-recommend"><a href="" class="event__link">친구에게 추천</a></span>
				</div>
			</div>
		</li>
	</ul><!-- //event__list -->
	<ul class="board__listPageing">
		<li>
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li class="board__pageingPrevBtn">
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li><a href="#n">1</a></li>
		<li><a href="#n">2</a></li>
		<li><a href="#n">3</a></li>
		<li><a href="#n">4</a></li>
		<li><a href="#n">5</a></li>
		<li class="board__pageingNextBtn">
			<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
		</li>
		<li>
			<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
		</li>
	</ul>
</div>
