<%
	page = "page5"
	sub = 0
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="sponsor">
	<div class="sponsor__header">
		<h2 class="sponsor__tit">
			여러분의 후원으로<br>
			<span class="sponsor__point">우리가 사는 세상</span>이 변화됩니다.
		</h2>
		<p class="sponsor__txt">여러분의 후원으로 동물자유연대는...</p>
		<dl class="sponsor__area">
			<dt class="sponsor__subject">동물보육원 운영</dt>
			<dd class="sponsor__content">학대로부터 고통받은 동물들을 구조하고 돌보는데에 최선의 노력을 합니다. </dd>
			<dt class="sponsor__subject">동물 복지 향상</dt>
			<dd class="sponsor__content">사람이 만든 동물 환경을 개선하고 동물 이용을 줄이게 하는 활동을 할 수 있습니다.</dd>
			<dt class="sponsor__subject">법률과 정책제안</dt>
			<dd class="sponsor__content">동물보호에 대한 사회적 책임성을 높이기 위해 정부와 입법 기관을 대상으로 활동합니다.</dd>
			<dt class="sponsor__subject">캠페인 및 교육</dt>
			<dd class="sponsor__content">더 많은 사람들에게 동물에 대한 도덕적 책무감을 확산해 사회를 변화시켜 나갑니다.</dd>
		</dl>
		<p class="sponsor__postscript">*동물자유연대는 회원님들의 후원으로 운영하며, 정부 지원금을 받지 않는 시민단체입니다.</p>
	</div>
	<div class="sponsor__body">
		<ul class="sponsor__list">
			<li class="sponsor__item h180">
				<div class="sponsor__item-wrap nth-1">
					<h3 class="sponsor__item-tit">정기후원</h3>
					<p class="sponsor__item-txt">
						동물자유연대가 안정적으로 활동할 수 있도록 매달<br>
						보내주시는 정기 후원입니다.
					</p>
					<a class="sponsor__item-link" href="">정기후원 신청</a>
				</div>
			</li>
			<li class="sponsor__item h180">
				<div class="sponsor__item-wrap nth-2">
					<h3 class="sponsor__item-tit">일시후원</h3>
					<p class="sponsor__item-txt">
						신용카드,핸드폰,계좌이체를 통하여 후원금을 납부하시는 <br>
						방법입니다.
					</p>
					<a class="sponsor__item-link" href="">정기후원 신청</a>
				</div>
			</li>
			<li class="sponsor__item h200">
				<div class="sponsor__item-wrap nth-3">
					<h3 class="sponsor__item-tit">후원금 증액</h3>
					<p class="sponsor__item-txt">
						조금 더 여유를 내어주실 수 있다면,<br>
						지금 회원님의 후원금을 증액해 주세요.
					</p>
					<a class="sponsor__item-link" href="">정기후원 신청</a>
				</div>
			</li>
			<li class="sponsor__item h200">
				<div class="sponsor__item-wrap nth-4">
					<h3 class="sponsor__item-tit">Donation with Paypal(for international user)</h3>
					<p class="sponsor__item-txt">
						페이팔 서비스를 이용해 해외 어디에서든<br>
						후원하실 수 있습니다.<br>
						You can make a donation with Paypal from overseas.
					</p>
					<a class="sponsor__item-link type-another" href="">SINGLE</a>
					<a class="sponsor__item-link type-another" href="">MONTHLY</a>
				</div>
			</li>
		</ul>
		<h3 class="sponsor__sub-tit">후원계좌</h3>
		<div class="sponsor__account-box">
			<p class="sponsor__account-txt">
				국민은행  546901 - 01 - 146642 <span class="sponsor__name">(예금주 : 사단법인 동물자유연대)</span>
			</p>
		</div>
		<ul class="sponsor__account-list">
			<li class="sponsor__account-item">ㆍ개인은 연급여의 30% 이내에 해당하는 기부금액은 전액 소득공제를 받으실 수 있습니다.</li>
			<li class="sponsor__account-item">ㆍ법인(기업)의 기부금은 법인세금 제 24조 규정에 의해 손금을 인정 받을 수 있습니다.</li>
			<li class="sponsor__account-item">ㆍ후원금 사용 내역은 매달 초 살림공개 게시판에 공지됩니다.</li>
		</ul>
	</div><!-- //sponsor__body -->
</div>
