<%
	page = "page5"
	sub = 7
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="donation">
	<div class="donation__bg">
		<div class="donation__banner">
			<h2 class="donation__banner-tit">사회가 외면했던 동물들, 다시 찾는 희망</h2>
			<h3 class="donation__banner-sub">회원님의 힘을 한번 더 나눠주세요!</h3>
			<p class="donation__banner-txt">
				기르던 반려동물을 길에 버리는 것을 수치스럽게 생각지 못하는 사람이 많던 때가 있었습니다.<br>
				하지만 지금은 나이가 많은 반려동물과 함께 사는 것을 자랑하는 사람들이 늘고 있습니다.<br>
				지난 15여 년을 이어온 회원님들의 후원과 동물 친구들의 노력으로 변화하고 있는 것입니다.<br><br>

				동물자유연대는, 동물에 대한 사회적 관심을 견인해나가며 우리사회에 농장동물복지 필요성의 공감대를 만들었고, 2013년에는 아시아 최초로 쇼장의 돌고래 제돌이와 춘삼이, 삼팔이를 바다로 돌려보내는 성공적인 캠페인을 할 수 있었습니다.<br><br>

				그리고 동물복지형 동물보육원을 건립함으로써 우리 자력의 힘으로 선진적인 동물보육원을 건립하고 운영할 수 있다는 실증을 보여줬습니다. 하지만 이것은 끝이 아니라 제2, 제3의 동물보육원을 건립하고 운영하기 위한 첫 걸음이었습니다.<br><br>

				아직 해야 할 일이 많습니다. 가야 할 길이 멉니다. 동물자유연대는 더욱 더 탄탄한 뒷받침을 필요로 하고 있습니다. 회원님, 지금의 이 동력을 ‘동물의 힘’으로 더 크게 확장시켜 나갈 수 있도록, 변함없고 안정적인 지원으로 함께 해주세요!
			</p>
		</div><!-- //donation__banner -->
	</div><!-- //donation__bg -->
	<div class="donation__box">
		<h2 class="donation__box-tit">조금 더 여유를 내어주실 수 있다면, 지금 회원님의 후원금을 증액해 주세요.</h2>
		<p class="donation__box-txt">따뜻한 손길이 필요한 동물, 동물 복지 개선을 위한 토대 마련 등에 동물자유연대가 더 뛰겠습니다.</p>
	</div>
	<div class="donation__table">
		<p class="donation__txt">동물자유연대 회원은 로그인을 먼저 해주세요. 더 편하게 증액 신청을 하실 수 있습니다.</p>
		<table class="table1 mt10">
			<thead>
				<colgroup>
					<col width="216px">
					<col width="auto">
				</colgroup>
			</thead>
			<tbody>
				<tr class="table1__tr">
					<th class="table1__th">이름</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">이메일</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
							<span class="sub__txt">* 정기후원 신청시 입력한 이메일</span>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">연락처</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">후원회비</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
							<span class="sub__txt">(기존회비 + 증액회비)</span>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">응원글 남기기</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd100p">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">비밀번호</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="password" class="input1 wd120">
							<span class="sub__txt">* 비밀번호는 스팸 방지를 위해 입력하며 저장 되지는 않습니다.</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="center__group mt40">
			<a href="" class="btn btn1">후원금증액신청</a>
			<a href="" class="btn btn2">회원가입</a>
		</div>
	</div>
	<ul class="donation__list">
		<li class="donation__item">
			<img src="../../images/content/page5/donation_img1.jpg" alt="" class="donation__item-img">
			<h2 class="donation__item-tit">50명이 1만원 회비 증액 <span class="color1">(50만원)</span></h2>
			<p class="donation__item-txt">
				학대나 사고로 인해 상처 입고 고통받는 동물들을 치료해주고 새로운 가족을
				만나게 해줄 수 있습니다.
			</p>
		</li>
		<li class="donation__item">
			<img src="../../images/content/page5/donation_img2.jpg" alt="" class="donation__item-img">
			<h2 class="donation__item-tit">40명이 1만원 회비 증액 <span class="color1">(40만원)</span></h2>
			<p class="donation__item-txt">
				몸을 움직일 수 없는 케이지에서 사는 암퇘지와 암탉의 복지 개선의 토대가 될
				조사 활동의 현장에 나갈 수 있습니다.
			</p>
		</li>
		<li class="donation__item">
			<img src="../../images/content/page5/donation_img3.jpg" alt="" class="donation__item-img">
			<h2 class="donation__item-tit">30명이 1만원 회비 증액 <span class="color1">(30만원)</span></h2>
			<p class="donation__item-txt">
				더이상 돌고래들이 바다에서 잡혀와 좁은 수조 안에서 고통 받으며 살지 않도록
				하는 정책마련 활동에 쓰입니다.
			</p>
		</li>
		<li class="donation__item">
			<img src="../../images/content/page5/donation_img4.jpg" alt="" class="donation__item-img">
			<h2 class="donation__item-tit">25명이 1만원 회비 증액 <span class="color1">(25만원)</span></h2>
			<p class="donation__item-txt">
				열악한 환경에서 출산을 반복할 수밖에 없는 어미 고양이 한 마리의 중성화
				수술을 도와줄 수 있습니다.
			</p>
		</li>
	</ul>
	<div class="imageView__viewReplayList mt60">
		<div class="imageView__replyTitleResult">댓글<span>2</span></div>
		<ul>
			<li>
				<div class="imageView__replyItem">
					<div class="imageView__writer">홍길동</div>
					<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
				</div>
				<div class="imageView__replyContent">다음주부터 구체적인 공지가 나갈 예정입니다. 반려동물과 함께 참여하는 형식입니다. 많은 관심 부탁드립니다^^</div>
			</li>
			<li>
				<div class="imageView__replyItem">
					<div class="imageView__writer">동물자유연대</div>
					<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
				</div>
				<div class="imageView__replyContent">테스트 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 남산위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세 가을하늘 공활한데 높고구름없이 밝은달은 우리가슴 일편단심일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 이기상과 이맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리
					화려강산 대한사람 대한으로 길이보전하세. 테스트입니다. 댓글 테스트입니다.</div>
			</li>
		</ul>
	</div>
	<ul class="board__listPageing">
		<li>
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li class="board__pageingPrevBtn">
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li><a href="#n">1</a></li>
		<li><a href="#n">2</a></li>
		<li><a href="#n">3</a></li>
		<li><a href="#n">4</a></li>
		<li><a href="#n">5</a></li>
		<li class="board__pageingNextBtn">
			<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
		</li>
		<li>
			<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
		</li>
	</ul>
</div>
