<%
	page = "page5"
	sub = 6
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="faq-view">
	<div class="imageView__content">
		<div class="imageView__viewArea">
			<div class="imageView__viewTitle type-bt_top">
				<div class="imageView__view--subject">후원쇼핑은 상품을 구매하는 것이 아닙니다.</div>
				<div class="imageView__view--info">
					<div class="contentsInfo">
						<span class="contentsInfo-writer">동물자유연대</span>
						<span class="contentsInfo-date">2016.09.01 15:12</span>
						<span class="contentsInfo-viewCnt">105</span>
						<span class="contentsInfo-goodCont">77</span>
						<span class="contentsInfo-homepage"><a href="http://www.animals.or.kr" target="_blank">http://www.animals.or.kr</a></span>
					</div>
				</div>
				<div class="imageView__view--file">
					<a href="#n">동물복지축산농장 인증기준 및 인증등에 관한 세부 실시요령 제정 전문.pdf</a>
				</div>
			</div>
			<div class="imageView__viewContent">
				<div class="imageView__viewContentBox">
					후원쇼핑은 일반적인 온라인 쇼핑의 개념이 아닌  새로운 형태의 기부입니다.<br><br>

					정기 후원 외에 후원자들이 좀 더 관심있는 동물자유연대의 특정 활동을 지원할 수 있고, 후원을 선물할 수 있는 방법이기도 합니다.<br><br>

					후원은 내가 하지만 기부자는 선물하고픈 소중한 사람의 이름을 등록하여, 소중한 사람에게 기부하는 기쁨을 선물하는 것입니다. 이때에 기부금 영수증은  소중한 사람에게 발행해줄 수도 있습니다.<br><br>

					또한 여러분의 특별한 기념일을 후원쇼핑으로 기념할 수 있습니다. 기쁜 날을 동물들과 함께 나누세요!
				</div>
				<div class="imageView__snsGroup">
					<a href="#n"><img src="../../images/content/faceBookIcon.jpg" /></a>
					<a href="#n"><img src="../../images/content/twitterIcon.jpg" /></a>
				</div>
			</div>
			<div class="imageView__viewButtonGroup">
				<div class="imageView__viewButtonLeft"><a href="#n">추천</a></div>
				<div class="imageView__viewButtonRight"><a href="#n">목록</a></div>
			</div>
		</div>
	</div>
</div>
