<%
	page = "page5"
	sub = 2
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="education-view">
	<div class="imageView__content">
		<div class="imageView__viewArea">
			<div class="imageView__viewTitle type-bt_top">
				<div class="imageView__view--subject">해외에서도 페이팔을 통해 동물자유연대에 정기후원 하실 수 있습니다!</div>
				<div class="imageView__view--info">
					<div class="contentsInfo">
						<span class="contentsInfo-writer">동물자유연대</span>
						<span class="contentsInfo-date">2016.09.01 15:12</span>
						<span class="contentsInfo-viewCnt">105</span>
						<span class="contentsInfo-goodCont">77</span>
						<span class="contentsInfo-homepage"><a href="http://www.animals.or.kr" target="_blank">http://www.animals.or.kr</a></span>
					</div>
				</div>
				<div class="imageView__view--file">
					<a href="#n">동물복지축산농장 인증기준 및 인증등에 관한 세부 실시요령 제정 전문.pdf</a>
				</div>
			</div>
			<div class="imageView__viewContent">
				<div class="imageView__viewContentBox txt_c">
					해외에서도 동물자유연대 활동을 응원해 주고 싶은 분들 계시죠?<br>
					한국 계좌나 신용카드가 없어서 후원을 망설이셨던 분들,<br>
					이제는 페이팔로 정기후원 가능하십니다!<br><br>
					<img src="../../images/content/page5/sponsor_board01.jpg" alt=""><br><br>
					http://www.animals.or.kr/newmain/05cartoon/cartoon01.asp<br><br>

					다음 링크를 클릭해 정기후원을 신청하시면<br>
					매번 결제하는 번거로움을 덜 수 있습니다.<br><br>

					 멀리 해외에서도 동물자유연대를 응원해주시고<br>
					동물들의 복지 향상에 힘을 실어주시는 여러분,<br>
					진심으로 감사드립니다.
				</div>
				<div class="imageView__snsGroup">
					<a href="#n"><img src="../../images/content/faceBookIcon.jpg" /></a>
					<a href="#n"><img src="../../images/content/twitterIcon.jpg" /></a>
				</div>
			</div>
			<div class="imageView__viewButtonGroup">
				<div class="imageView__viewButtonLeft"><a href="#n">추천</a></div>
				<div class="imageView__viewButtonRight"><a href="#n">목록</a></div>
			</div>
		</div>
	</div>
</div>
