<%
	page = "page5"
	sub = 7
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="company">
	<ul class="company__list">
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
		<li class="company__item">
			<div class="company__wrap">
				<img src="../../images/content/page5/company_logo1.jpg" alt="">
			</div>
			<h2 class="company__tit">내추럴발란스</h2>
			<p class="company__txt">경기도 수원시 영통구 원천동 79-9</p>
			<p class="company__txt">Tel. 1644-5055</p>
		</li>
	</ul>
</div>
