<%
	page = "page6"
	sub = 2
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>

<div class="secret__area">
	<div class="secret__table">
		<table class="table1 mt20">
			<thead>
				<colgroup>
					<col width="216px">
					<col width="auto">
				</colgroup>
			</thead>
			<tbody>
				<tr class="table1__tr">
					<th class="table1__th">비밀번호</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="password" class="input1 wd240">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div><!-- //secret__table -->
	<div class="center__group mt40">
		<a href="" class="btn btn1">확인</a>
		<a href="" class="btn btn2">취소</a>
	</div>
</div>
