<%
	page = "page6"
	sub = 6
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="actionnews">
	<ul class="board__list">
		<li class="board__item">
			<p class="board__subject"><a href="" class="board__link"><img src="../../images/content/listNoticeIcon.png" alt="공지" class="board__icon">MBC 보도</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></p>
			<div class="board__info">
				<span class="board__span board__name">반려동물복지센터</span>
				<span class="board__span board__date">2016.12.23</span>
				<span class="board__span board__view">3105</span>
			</div>
		</li>
		<li class="board__item">
			<p class="board__subject"><a href="" class="board__link"><span class="board__number">36</span>MBC 보도, '길고양이서 살인진드기 발견, 도심 어디서든 주의해야'테스트입니다테스트입니다테스트입니다</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><span class="viewCntIcon">(235)</span></p>
			<div class="board__info">
				<span class="board__span board__name">홍길동</span>
				<span class="board__span board__date">2016.12.23</span>
				<span class="board__span board__view">3105</span>
			</div>
		</li>
		<li class="board__item">
			<p class="board__subject"><a href="" class="board__link"><span class="board__number">12336</span><img src="../../images/content/re_icon.gif" alt="답변" class="board__icon">MBC 보도, '길고양이서 살인진드기 발견, 도심 어디서든 주의해야'테스트입니다테스트입니다테스트입니다</a><span class="viewCntIcon">(235)</span></p>
			<div class="board__info">
				<span class="board__span board__name">관리자</span>
				<span class="board__span board__date">2016.12.23</span>
				<span class="board__span board__view">3105</span>
			</div>
		</li>
	</ul>
	<ul class="board__listPageing">
		<li>
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li class="board__pageingPrevBtn">
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li><a href="#n">1</a></li>
		<li><a href="#n">2</a></li>
		<li><a href="#n">3</a></li>
		<li><a href="#n">4</a></li>
		<li><a href="#n">5</a></li>
		<li class="board__pageingNextBtn">
			<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
		</li>
		<li>
			<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
		</li>
	</ul>
	<div class="board__search">
		<form>
			<div class="board__select">
				<select>
					<option>제목</option>
					<option>작성자</option>
					<option>내용</option>
				</select>
			</div>
			<div class="board__keyword"><input type="text" /></div>
			<div class="board__searchBtn"><input type="submit" /></div>
		</form>
	</div>
</div>
