<%
	page = "page3"
	sub = 0
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="education-view">
	<div class="imageView__content">
		<div class="imageView__viewArea">
			<div class="imageView__viewTitle type-bt_top">
				<div class="imageView__view--subject">동물자유연대와 해피펫이 함께하는 '반려견 사회화 교육' 신청(장소변경)</div>
				<div class="imageView__view--info">
					<div class="contentsInfo">
						<span class="contentsInfo-writer">동물자유연대</span>
						<span class="contentsInfo-date">2016.09.01 15:12</span>
						<span class="contentsInfo-viewCnt">105</span>
						<span class="contentsInfo-goodCont">77</span>
						<span class="contentsInfo-homepage"><a href="http://www.animals.or.kr" target="_blank">http://www.animals.or.kr</a></span>
					</div>
				</div>
				<div class="imageView__view--file">
					<a href="#n">동물복지축산농장 인증기준 및 인증등에 관한 세부 실시요령 제정 전문.pdf</a>
				</div>
			</div>
			<div class="imageView__viewContent">
				<div class="imageView__viewContentBox txt_c">
					<img src="../../images/common/board_img1.jpg" alt="">
				</div>
				<div class="imageView__snsGroup">
					<a href="#n"><img src="../../images/content/faceBookIcon.jpg" /></a>
					<a href="#n"><img src="../../images/content/twitterIcon.jpg" /></a>
				</div>
			</div>
			<div class="imageView__viewReplayWrite">
				<form>
					<div class="imageView__replyTitle">댓글달기</div>
					<div class="imageView__writerInfo">
						이름<input type="text" /> 비밀번호
						<input type="text" />
					</div>
					<div class="imageView__writeInfo">※ 운영원칙에 위배되는 글은 삭제됩니다.</div>
					<div class="imageView__writeContent">
						<div class="imageView__writeArea"><textarea></textarea></div>
						<div class="imageView__writeSubmit"><input type="submit" value="등록" /></div>
					</div>
				</form>
			</div>
			<div class="imageView__viewReplayList">
				<div class="imageView__replyTitleResult">댓글<span>2</span></div>
				<ul>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">홍길동</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">다음주부터 구체적인 공지가 나갈 예정입니다. 반려동물과 함께 참여하는 형식입니다. 많은 관심 부탁드립니다^^</div>
					</li>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">동물자유연대</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">테스트 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 남산위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세 가을하늘 공활한데 높고구름없이 밝은달은 우리가슴 일편단심일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 이기상과 이맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리
							화려강산 대한사람 대한으로 길이보전하세. 테스트입니다. 댓글 테스트입니다.</div>
					</li>
				</ul>
			</div>
			<div class="imageView__viewButtonGroup">
				<div class="imageView__viewButtonLeft"><a href="#n">추천</a></div>
				<div class="imageView__viewButtonRight"><a href="#n">목록</a></div>
			</div>
		</div>

		<!-- 게시글 목록추가 -->
		<div class="board__all type-another">
			<ul class="board__list">
				<li class="board__item">
					<p class="board__subject"><a href="" class="board__link"><img src="../../images/content/listNoticeIcon.png" alt="공지" class="board__icon">MBC 보도</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></p>
					<div class="board__info">
						<span class="board__span board__name">반려동물복지센터</span>
						<span class="board__span board__date">2016.12.23</span>
						<span class="board__span board__view">3105</span>
					</div>
				</li>
				<li class="board__item">
					<p class="board__subject"><a href="" class="board__link"><span class="board__number">36</span>MBC 보도, '길고양이서 살인진드기 발견, 도심 어디서든 주의해야'테스트입니다테스트입니다테스트입니다</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><span class="viewCntIcon">(235)</span></p>
					<div class="board__info">
						<span class="board__span board__name">홍길동</span>
						<span class="board__span board__date">2016.12.23</span>
						<span class="board__span board__view">3105</span>
					</div>
				</li>
				<li class="board__item">
					<p class="board__subject"><a href="" class="board__link"><span class="board__number">12336</span><img src="../../images/content/re_icon.gif" alt="답변" class="board__icon">MBC 보도, '길고양이서 살인진드기 발견, 도심 어디서든 주의해야'테스트입니다테스트입니다테스트입니다</a><span class="viewCntIcon">(235)</span></p>
					<div class="board__info">
						<span class="board__span board__name">관리자</span>
						<span class="board__span board__date">2016.12.23</span>
						<span class="board__span board__view">3105</span>
					</div>
				</li>
			</ul>
			<ul class="board__listPageing">
				<li>
					<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
				</li>
				<li class="board__pageingPrevBtn">
					<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
				</li>
				<li><a href="#n">1</a></li>
				<li><a href="#n">2</a></li>
				<li><a href="#n">3</a></li>
				<li><a href="#n">4</a></li>
				<li><a href="#n">5</a></li>
				<li class="board__pageingNextBtn">
					<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
				</li>
				<li>
					<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
				</li>
			</ul>
		</div>
		<!-- 게시글 목록추가 끝-->
	</div>
</div>
