<%
	page = "page3"
	sub = 1
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="education">

	<div class="education__thumbnail" id="carousel">
		<!-- <a href="" class="education__thumbnail-btn education__thumbnail-prev"></a>
		<a href="" class="education__thumbnail-btn education__thumbnail-next"></a> -->
		<ul class="education__pager slides">
			<li class="education__small"><img src="../../images/content/education/education_img1.jpg" class="education__small-img"></li>
			<li class="education__small"><img src="../../images/content/education/education_img2.jpg" class="education__small-img"></li>
			<li class="education__small"><img src="../../images/content/education/education_img3.jpg" class="education__small-img"></li>
			<li class="education__small"><img src="../../images/content/education/education_img1.jpg" class="education__small-img"></li>
			<li class="education__small"><img src="../../images/content/education/education_img2.jpg" class="education__small-img"></li>
			<li class="education__small"><img src="../../images/content/education/education_img3.jpg" class="education__small-img"></li>
			<li class="education__small"><img src="../../images/content/education/education_img1.jpg" class="education__small-img"></li>
			<li class="education__small"><img src="../../images/content/education/education_img2.jpg" class="education__small-img"></li>
			<li class="education__small"><img src="../../images/content/education/education_img3.jpg" class="education__small-img"></li>
		</ul>
	</div>
	<div class="education__slides" id="slider">
		<ul class="education__carousel slides">
			<li class="education__big"><img src="../../images/content/education/education_img1.jpg" class="education__big-img"></li>
			<li class="education__big"><img src="../../images/content/education/education_img2.jpg" class="education__big-img"></li>
			<li class="education__big"><img src="../../images/content/education/education_img3.jpg" class="education__big-img"></li>
			<li class="education__big"><img src="../../images/content/education/education_img1.jpg" class="education__big-img"></li>
			<li class="education__big"><img src="../../images/content/education/education_img2.jpg" class="education__big-img"></li>
			<li class="education__big"><img src="../../images/content/education/education_img3.jpg" class="education__big-img"></li>
			<li class="education__big"><img src="../../images/content/education/education_img1.jpg" class="education__big-img"></li>
			<li class="education__big"><img src="../../images/content/education/education_img2.jpg" class="education__big-img"></li>
			<li class="education__big"><img src="../../images/content/education/education_img3.jpg" class="education__big-img"></li>
		</ul>
	</div>
</div>
<script type="text/javascript">
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 110,
        maxItems: 7,
        asNavFor: '#slider'
      });

      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
</script>
<script type="text/javascript" src="../../js/libs/jquery.flexslider.js"></script>
