<div class="breadcrumb">
	<h2 class="hidden">사이트 이동 경로</h2>
	<span class="breadcrumb__item type-home"><a href="" class="breadcrumb__link">홈</a></span>
	<span class="breadcrumb__item"><a href="" class="breadcrumb__link"><%= data.pages[page].title.kor %></a></span>
	<span class="breadcrumb__item type-end"><%= data.pages[page].children[sub].title %></span>
	<div class="crumb-menu depth-1">
		<h3 class="crumb-menu__tit" data-id="crumbMenuBtn">상위 메뉴 목록</h3>
		<ul class="crumb-menu__list">
			<% for (var depth1 in data.pages) { %>
			<li class="crumb-menu__item"><a href="<%= data.pages[depth1].links[0] %>" class="crumb-menu__link"><%= data.pages[depth1].title.kor %></a></li>
			<% } %>
		</ul>
	</div>
	<div class="crumb-menu depth-2">
		<h3 class="crumb-menu__tit" data-id="crumbMenuBtn">하위 메뉴 목록</h3>
		<ul class="crumb-menu__list">
			<% data.pages[page].children.forEach(function(depth2) { %>
			<li class="crumb-menu__item"><a href="<%= depth2.links[0] %>" class="crumb-menu__link"><%= depth2.title %></a></li>
			<% }) %>
		</ul>
	</div>
</div><!-- //breadcrumb -->
