<div class="footer">
	<div class="footer__row">
		<div class="footer-family">
			<h2 class="hidden">관련사이트</h2>
			<ul class="footer-family__list">
				<% for (var f in data.familySite) { %>
				<li class="footer-family__item"><a href="<%= data.familySite[f] %>" target="_blank" class="footer-family__link"><%= f %></a></li>
				<% } %>
			</ul>
		</div><!-- //footer-family -->
		<div class="footer-social">
			<h2 class="hidden">소셜링크</h2>
			<ul class="footer-social__list">
				<% for (var item in data.site.social) { var i = Object.keys(data.site.social).indexOf(item); %>
				<li class="footer-social__item nth-<%= i+1 %>"><a href="<%= data.site.social[item] %>" target="_blank" class="footer-social__link"><%= item %></a></li>
				<% } %>
			</ul>
		</div><!-- //footer-social -->
		<div class="go-to-top">
			<a href="#" class="go-to-top__link" id="goToTop">탑</a>
		</div><!-- //go-to-top -->
	</div>
	<p class="site-info">
		<span class="site-info__item">주소 : <%= data.site.address %></span>
		<span class="site-info__item">고유번호 : <%= data.site.number %></span>
		<span class="site-info__item">대표 : <%= data.site.ceo %></span>
		<span class="site-info__item">개인정보관리담당자 : <%= data.site.person %></span><br>
		<span class="site-info__item">전화 : <%= data.site.tel %></span>
		<span class="site-info__item">팩스 : <%= data.site.fax %></span>
		<span class="site-info__item">이메일 : <%= data.site.mail %></span><br>
		<span class="site-info__item"><%= data.site.copyright %></span>
	</p>
</div><!-- //footer -->
