<div class="header" data-header="true">
	<h1 class="site-logo"><a href="../main/main.html" class="site-logo__link"><img src="../../images/layout/site-logo.png" alt="<%= data.site.name.kor %>"></a></h1>
	<div class="header__row">
		<div class="header-social">
			<h2 class="hidden">소셜링크</h2>
			<ul class="header-social__list">
				<% for (var item in data.site.social) { var i = Object.keys(data.site.social).indexOf(item); %>
				<li class="header-social__item nth-<%= i+1 %>"><a href="<%= data.site.social[item] %>" target="_blank" class="header-social__link"><%= item %></a></li>
				<% } %>
			</ul>
		</div><!-- //header-social -->
		<div class="user-link">
			<a href="" class="user-link__item">Home</a>
			<a href="" class="user-link__item">로그아웃</a>
			<a href="" class="user-link__item">정보수정</a>
			<a href="" class="user-link__item">쪽지함</a>
			<a href="" class="user-link__item">English</a>
			<a href="" class="user-link__item type-ico">검색</a>
		</div><!-- //user-link -->
	</div>
	<div class="gnb">
		<h2 class="gnb__tit">주메뉴</h2>
		<ul class="gnb__depth1-list">
			<%
				for (var depth1 in data.pages) {
					var i = Object.keys(data.pages).indexOf(depth1);
			%>
			<li class="gnb__depth1-item nth-<%= i+1 %>" data-title-en="<%= data.pages[depth1].title.eng %>" data-title-ko="<%= data.pages[depth1].title.kor %>">
				<a href="<%= data.pages[depth1].links[0] %>" class="gnb__depth1-link"><%= data.pages[depth1].title.kor %></a>
				<% if (data.pages[depth1].children) {%>
				<ul class="gnb__depth2-list <%= depth1 %> nth-<%= i+1 %>">
					<% data.pages[depth1].children.forEach(function(depth2,idx) { %>
					<li class="gnb__depth2-item nth-<%= idx+1 %>"><a href="<%= depth2.links[0] %>" class="gnb__depth2-link"><%= depth2.title %></a></li>
					<% }) %>
				</ul>
				<% } %>
			</li>
			<% } %>
		</ul>
		<div class="gnb__bg"></div>
	</div><!-- //gnb -->
</div><!-- //header -->
