<div class="sidebar" id="fixedSidebar">
	<div class="snb">
		<h2 class="snb__tit" data-parent-kor="<%= data.pages[page].title.kor%>" data-parent-eng="<%= data.pages[page].title.eng %>">하위메뉴</h2>
		<ul class="snb__list">
			<% data.pages[page].children.forEach(function(depth2,idx) { %>
			<li class="snb__item <% if (idx == sub) {%> is-active <% } %>"><a href="<%= depth2.links[0] %>" class="snb__link"><%= depth2.title %></a></li>
			<% }) %>
		</ul>
		<div class="side__banner">
			<img src="../../images/content/banner01.jpg" alt="">
		</div>
	</div><!-- //gnb -->
</div><!-- //sidebar -->
