<%
	page = "page7"
	sub = 3
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<script type="text/javascript" src="../../js/main.js"></script>
<link rel="stylesheet" href="../../css/main.css">
<div class="alliance">
	<div class="alliance__banner">
		<div class="alliance__wrap">
			<div class="alliance__box nth-1">
				<h2 class="alliance__banner-tit">Heart to Heart Relationship</h2>
				<p class="alliance__banner-txt"><img src="../../images/content/page7/alliance_txt1.png" alt="동물자유연대 1:1결연에 동참해 주세요!"></p>
				<a href="" class="alliance__btn">자세히보기</a>
			</div>
			<div class="alliance__box nth-2">
				<!--//메인 css 사용 -->
				<div class="main-content3" style="">
					<ul class="main-content3__list">
						<li class="main-content3__item nth-1">
							<div class="main-content3__body-item">
								<h3 class="main-content3__name">푸치</h3>
								<p class="main-content3__info">
									혼혈견 / 숫컷 / 5세
								</p>
							</div>
						</li>
						<li class="main-content3__item nth-1">
							<div class="main-content3__body-item">
								<h3 class="main-content3__name">푸치</h3>
								<p class="main-content3__info">
									혼혈견 / 숫컷 / 5세
								</p>
							</div>
						</li>
						<li class="main-content3__item nth-1">
							<div class="main-content3__body-item">
								<h3 class="main-content3__name">푸치</h3>
								<p class="main-content3__info">
									혼혈견 / 숫컷 / 5세
								</p>
							</div>
						</li>
					</ul>

					<div class="main-content3__bottom">
						<div class="main-content3__bottom-wrap">
							<div class="main-content3__number">1/3</div>
							<a href="" class="main-content3__slide-btn main-content3__slide-prev js-main3_prev">이전</a>
							<a href="" class="main-content3__slide-btn main-content3__slide-next js-main3_next">다음</a>
						</div>
					</div>
				</div>
				<!--//메인영역 -->
			</div><!-- //alliance__box-->
		</div>
		<div class="alliance__wrap">
			<div class="alliance__box nth-3">
				<h2 class="alliance__banner-tit"><img src="../../images/content/page7/alliance_tit.png" alt="instagram"></h2>
				<p class="alliance__banner-txt"><img src="../../images/content/page7/alliance_txt2.png" alt="인스타그램에서 결연동물의 모습을 실시간으로 확인하세요"></p>
				<a href="" class="alliance__btn type-another">자세히보기</a>
			</div>
		</div>
	</div>
	<div class="alliance__content">
		<div class="subMenu">
			<a href="" class="subMenu__link">전체</a>
			<a href="" class="subMenu__link">입양가능</a>
			<a href="" class="subMenu__link">영구보육</a>
		</div>
		<ul class="photo__list mt0">
			<li class="photo__item">
				<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
				<a href=""><span class="photo__tit"><span class="color1">[입양가능] </span>힘든 치료를 이겨내고 있는 여진이</span></a>
				<div class="photo__info contentsInfo">
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
					<span class="contentsInfo-heart">결연신청</span>
				</div>
			</li>
			<li class="photo__item">
				<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
				<a href=""><span class="photo__tit"><span class="color1">[입양가능] </span>힘든 치료를 이겨내고 있는 여진이</span></a>
				<div class="photo__info contentsInfo">
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
					<span class="contentsInfo-heart">결연신청</span>
				</div>
			</li>
			<li class="photo__item">
				<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
				<a href=""><span class="photo__tit"><span class="color1">[입양가능] </span>힘든 치료를 이겨내고 있는 여진이</span></a>
				<div class="photo__info contentsInfo">
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
					<span class="contentsInfo-heart">결연신청</span>
				</div>
			</li>
			<li class="photo__item">
				<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
				<a href=""><span class="photo__tit"><span class="color1">[입양가능] </span>힘든 치료를 이겨내고 있는 여진이</span></a>
				<div class="photo__info contentsInfo">
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
					<span class="contentsInfo-heart">결연신청</span>
				</div>
			</li>
			<li class="photo__item">
				<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
				<a href=""><span class="photo__tit"><span class="color1">[입양가능] </span>힘든 치료를 이겨내고 있는 여진이</span></a>
				<div class="photo__info contentsInfo">
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
					<span class="contentsInfo-heart">결연신청</span>
				</div>
			</li>
			<li class="photo__item">
				<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
				<a href=""><span class="photo__tit"><span class="color1">[입양가능] </span>힘든 치료를 이겨내고 있는 여진이</span></a>
				<div class="photo__info contentsInfo">
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
					<span class="contentsInfo-heart">결연신청</span>
				</div>
			</li>
			<li class="photo__item">
				<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
				<a href=""><span class="photo__tit"><span class="color1">[입양가능] </span>힘든 치료를 이겨내고 있는 여진이</span></a>
				<div class="photo__info contentsInfo">
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
					<span class="contentsInfo-heart">결연신청</span>
				</div>
			</li>
			<li class="photo__item">
				<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
				<a href=""><span class="photo__tit"><span class="color1">[입양가능] </span>힘든 치료를 이겨내고 있는 여진이</span></a>
				<div class="photo__info contentsInfo">
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
					<span class="contentsInfo-heart">결연신청</span>
				</div>
			</li>
		</ul>
	</div>
	<ul class="board__listPageing">
		<li>
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li class="board__pageingPrevBtn">
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li><a href="#n">1</a></li>
		<li><a href="#n">2</a></li>
		<li><a href="#n">3</a></li>
		<li><a href="#n">4</a></li>
		<li><a href="#n">5</a></li>
		<li class="board__pageingNextBtn">
			<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
		</li>
		<li>
			<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
		</li>
	</ul>
	<div class="board__search">
		<form>
			<div class="board__select">
				<select>
					<option>제목</option>
					<option>작성자</option>
					<option>내용</option>
				</select>
			</div>
			<div class="board__keyword"><input type="text" /></div>
			<div class="board__searchBtn"><input type="submit" /></div>
		</form>
	</div>
</div>
