<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>1:1결연 | 동물자유연대</title>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script> -->
	<script type="text/javascript" src="../../js/webfont.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.bxslider.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.dotdotdot.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script type="text/javascript" src="../../js/page1.js"></script>
	<link rel="stylesheet" href="../../css/libs/normalize.css">
	<link rel="stylesheet" href="../../css/libs/jquery.bxslider.css">
	<link rel="stylesheet" href="../../css/libs/flexslider.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>

<body>



	<div class="common__streetCatBg"><img src="../../images/content/companionAnimals2Bgtest.jpg" alt="길고양이 팝업 테스트배경" /></div>
	<div class="common__grayBg"></div>
	<div class="popup hg720">
		<div class="popup__wrap">
			<div class="popup__title">
				1대1 결연 신청
				<a href="#n"><img src="../../images/content/popupClose.png" alt="팝업닫기" /></a>
			</div>
			<div class="popup__wrap3">
				<div class="terms__area">
					<div class="terms__wrap">
						<h2 class="popup__subject mt0">결연회원가입약관</h2>
						<div class="terms__box hg180">
							(사)동물자유연대 반려동물복지센터 동물들과 1대1 결연을 맺어주셔서 감사합니다.<br><br>

							1. 1대1 결연을 맺어주신 결연회원은 동물자유연대 정회원의 자격을 획득합니다.<br><br>

							2. 정회원은 동물자유연대의 총회, 정책 의견 수렴 고지에 의한 의사 결정에 참여하실 수 있으며, 단체에서 발행하는 자료를 받아보실 수 있습니다.<br><br>

							3. 결연 동물이 입양되는 등으로 인해 후원금이 결연동물에게 사용되지 않는 사유가 발생할 수 있습니다. 이러한 경우 결연자에게 연락드려 다른 동물을 지원할 수 있는 등의 안내를 해드립니다. 결연회원에게 전화, 메시지 등을 발송하였으나 2주 이상 연락이 닿지 않을 시, 결연금은 단체에서 지정한 동물에게 이월됩니다. 이후에라도 결연 변경을 요청하시면 즉시 반영하겠습니다. 납부된 결연후원금은 반환되지 않습니다. 후원을 중지하고 싶을 경우에는 로그인 후 홈페이지에서 직접 변경 또는 (사)동물자유연대로 연락을 주시면 변경이 가능합니다.<br><br>

							4. 정회원으로의 가입 승인은 결연후원 신청 등록 및 후원회비 입금 확인 이후에 이루어집니다. <br><br>

							5. 정회원으로써 그 밖의 이용 약관에 관한 사항은 (사)동물자유연대의 정관을 준용하여 적용합니다.
						</div>
					</div>
					<div class="center__group mt10">
						<input type="checkbox" name="terms" id="terms1" class="checkbox01 type-another"><label for="terms1">결연회원가입 약관에 동의합니다.</label>
					</div>
					<div class="terms__area">
						<div class="terms__wrap">
							<h2 class="popup__subject mt20">개인정보 수집동의</h2>
							<div class="terms__box hg180">
								(사)동물자유연대' 는 (이하 '동물자유연대'는) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다. 동물자유연대는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br><br>

								1. 수집하는 개인정보 항목 <br>
								동물자유연대는 회원가입, 상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br><br>

								ο 수집항목 : 이름 , 생년월일 , 성별 , 로그인ID , 비밀번호 , 자택 전화번호 , 자택 주소 , 휴대전화번호 , 이메일 , 직업 , 회사명 , 회사전화번호 , 주민등록번호 , 신용카드 정보 , 은행계좌 정보 , 쿠키 , 접속 IP 정보 <br>
								ο 개인정보 수집방법 : 홈페이지(회원가입,정기후원,일시후원,상담,입양신청) , 전화/팩스/서면/우편 을 통한 회원가입<br><br>

								2. 개인정보의 수집 및 이용목적 <br>
								동물자유연대는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br><br>

								ο 회원가입 및 후원 신청, 인터넷 서비스, 커뮤니케이션 서비스<br><br>

								3. 개인정보의 보유 및 이용기간 <br>
								원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 기부금영수증 발행 등의 보존할 필요가 있는 경우 동물자유연대는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.<br><br>

								보존 항목 : 이름 , 연락처 , 주소 , 주민등록번호 , 후원 기록 <br>
								보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률, 법인세법, 국세기본법 <br>
								보존 기간 : 회원 탈퇴 시로부터 5년 이내<br><br>

								4. 개인정보의 파기절차 및 방법 <br>
								동물자유연대는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.<br><br>

								ο 파기절차 <br>
								회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다.<br>
								별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.<br><br>

								ο 파기방법 <br>
								- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. <br>
								- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br><br>

								5. 개인정보 제공 <br>
								동물자유연대는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br>
								- 이용자들이 사전에 동의한 경우 <br>
								- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br><br>

								6. 수집한 개인정보의 위탁 <br>
								보다 나은 서비스 제공을 위하여 아래와 같이 개인정보를 위탁하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다.<br><br>

								1) 위탁기관명 : 금융결제원 <br>
								위탁업무내용 : CMS자동이체를 통한 회비결제 <br>
								위탁기간 : 회비납부 기간<br><br>

								2) 위탁기관명 : 이지스엔터프라이즈 <br>
								위탁업무내용 : 신용카드를 통한 회비결제 <br>
								위탁기간 : 회비납부 기간<br><br>

								3) 위탁기관명 : 휴먼소프트웨어 <br>
								위탁업무내용 : 회원개인정보 보관 및 데이터 백업 <br>
								위탁기간 : 회원관리솔루션 이용계약 해지 시까지<br><br>

								4) 위탁기관명 : ㈜이니시스 <br>
								위탁업무내용 : 신용카드, 핸드폰, 은행계좌이체를 통한 일시후원 결제 <br>
								위탁기간 : 전자결제 이용계약 해지 시까지<br><br>

								4) 위탁기관명 : 오즈메일러 <br>
								위탁업무내용 : 뉴스레터 및 전체 메일 발송 <br>
								위탁기간 : 회원정보 및 메일수신 유지 시까지<br><br>

								7. 개인정보의 안전성 확보 조치 <br>
								동물자유연대는 개인정보보호법 제29조 등에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.<br><br>

								1) 개인정보 취급 직원의 최소화 및 교육 <br>
								개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화하여 개인정보를 관리하는 대책을 시행하고 있습니다.<br><br>

								2) 내부관리계획의 수립 및 시행 <br>
								개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.<br><br>

								3) 개인정보의 암호화 <br>
								이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.<br><br>

								4) 해킹 등에 대비한 기술적 대책 <br>
								해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신, 점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.<br><br>

								5) 개인정보에 대한 접근 제한 <br>
								개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.<br><br>

								6) 데이터서버에 대한 물리적 접근 차단 <br>
								서버가 보관된 장소는 서버관리자만 가능하도록 통제하고 있습니다. 또한 폐쇄회로를 통한 출입자 모니터링 및 자동 추적, 지문인식, 카드리더, 경보장치를 통해 물리적 접근을 통제합니다.<br><br>

								7) 문서보안을 위한 잠금장치 사용 <br>
								개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.<br><br>

								8) 기타 <br>
								회원가입 및 정보변경 웹페이지와 관련하여 로그인에 관한 정보는 모두 복호화 할 수 없는 암호화 처리를 합니다. 또한 홈페이지 상에서 대량의 개인정보를 취급하는 관리자 기능을 제공하지 않습니다.<br><br>

								8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항 <br>
								동물자유연대는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 동물자유연대의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 동물자유연대는 다음과 같은 목적을 위해 쿠키를 사용합니다.<br><br>

								1) 쿠키 등 사용 목적 <br>
								- 회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공<br><br>

								귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br><br>

								2) 쿠키 설정 거부 방법 <br>
								예: 쿠키 설정을 거부하는 방법으로는 회원님이 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.<br><br>

								설정방법 예(인터넷 익스플로어의 경우)<br>
								: 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보<br><br>

								단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.<br><br>

								9. 개인정보에 관한 민원서비스 <br>
								동물자유연대는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다..<br><br>

								개인정보관리책임자 성명 : 조지희 실장 <br>
								전화번호 : 02)2292-6337<br>
								이메일 : admin@animals.or.kr<br>

								귀하께서는 동물자유연대의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 동물자유연대는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br><br>

								기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br><br>

								1.개인정보침해신고센터 (www.1336.or.kr/국번없이 118)<br>
								2.정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)<br>
								3.대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)<br>
								4.경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)
						</div>
					</div>
					<div class="center__group mt10">
						<input type="checkbox" name="terms" id="terms2" class="checkbox01 type-another"><label for="terms2">개인정보수집에 동의합니다.</label>
					</div>
				</div><!--//terms__area -->
				<div class="center__group mt40">
					<a href="" class="btn btn1 wd160">입양신청</a>
					<a href="" class="btn btn2 wd160">취소</a>
				</div>
			</div>
		</div>
	</div>


</body>

</html>
