<%
	page = "page7"
	sub = 3
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="member">
	<div class="imageView__content">
		<div class="imageView__viewArea">
			<div class="imageView__viewTitle type-bt_top">
				<div class="imageView__view--subject">서면 덕수네 고양이까페에서 모금함을 전달해 주셨습니다</div>
				<div class="imageView__view--info">
					<div class="contentsInfo">
						<span class="contentsInfo-writer">동물자유연대</span>
						<span class="contentsInfo-date">2016.09.01 15:12</span>
						<span class="contentsInfo-viewCnt">105</span>
						<span class="contentsInfo-goodCont">77</span>
						<span class="contentsInfo-heart">결연신청</span>
					</div>
				</div>
				<div class="imageView__view--file">
					<a href="#n">동물복지축산농장 인증기준 및 인증등에 관한 세부 실시요령 제정 전문.pdf</a>
				</div>
			</div>
			<div class="imageView__viewContent">
				<div class="imageView__viewContentBox txt_c">
					<img src="../../images/content/page7/board_img1.jpg" alt="">

					<a href="" class="imageView__btn mt40">결연신청</a>
				</div>
				<div class="imageView__snsGroup">
					<a href="#n"><img src="../../images/content/faceBookIcon.jpg" /></a>
					<a href="#n"><img src="../../images/content/twitterIcon.jpg" /></a>
				</div>
			</div>
			<div class="imageView__viewReplayWrite">
				<form>
					<div class="imageView__replyTitle">댓글달기</div>
					<div class="imageView__writerInfo">
						이름<input type="text" /> 비밀번호
						<input type="text" />
					</div>
					<div class="imageView__writeInfo">※ 운영원칙에 위배되는 글은 삭제됩니다.</div>
					<div class="imageView__writeContent">
						<div class="imageView__writeArea"><textarea></textarea></div>
						<div class="imageView__writeSubmit"><input type="submit" value="등록" /></div>
					</div>
				</form>
			</div>
			<div class="imageView__viewReplayList">
				<div class="imageView__replyTitleResult">댓글<span>2</span></div>
				<ul>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">홍길동</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">다음주부터 구체적인 공지가 나갈 예정입니다. 반려동물과 함께 참여하는 형식입니다. 많은 관심 부탁드립니다^^</div>
					</li>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">동물자유연대</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">테스트 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 남산위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세 가을하늘 공활한데 높고구름없이 밝은달은 우리가슴 일편단심일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 이기상과 이맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리
							화려강산 대한사람 대한으로 길이보전하세. 테스트입니다. 댓글 테스트입니다.</div>
					</li>
				</ul>
			</div>
			<div class="imageView__viewButtonGroup">
				<div class="imageView__viewButtonLeft"><a href="#n">추천</a></div>
				<div class="imageView__viewButtonRight"><a href="#n">목록</a></div>
			</div>
		</div>
	</div>
</div>
