<%
	page = "page7"
	sub = 0
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="center">
	<h2 class="center__tit">동물자유연대 남양주 <span class="center__point">반려동물복지센터</span></h2>
	<p class="center__txt">
		한국 사회에서 처음으로 선진형 동물복지시스템을 적용한 동물입양센터가 2013년 10월 26일 개관하였습니다.<br>
		동물들이 제대로 된 보살핌을 받기 어려운 열악한 사회 환경에서  끼니를 걱정하며 살아야하는 생존형 보호소의 한계를 극복하고, 구조 동물에게도 삶의 질을 높여야 한다는 마음들이 모여 선진형 동물입양센터가 탄생하였습니다.
	</p>
	<p class="center__txt">
		동물자유연대 반려동물복지센터는 학대받고 버림받은 동물들에게 따뜻한 보살핌과 사랑 속에서 몸과 마음의 상처를 치유 받을 수 있는 최선의 돌봄을 제공합니다.
		또한 사랑과 책임감 있는 새가족을 이어주는 입양과 입양 사후 관리까지 체계적인 입양시스템을 구축하고 있으며, 자라나는 어린이와 청소년들에게 동물 보호의 마음과 이타심을 가르쳐 줄 교육센터의 역할도 수행합니다.
	</p>
	<p class="center__txt">
		이 행복한 보금자리는 여러분들의 따뜻한 손길에 의해 지어졌고, 운영되고 있습니다. 지속적인 관심과 후원으로 함께 해 주셔서 동물들이 안정적인 보살핌을 받을 수 있게 해 주세요.
	</p>
	<a href="" class="center__link">건립 후원 현황</a>
	<h3 class="center__sub-tit">반려동물복지센터 전경과 실내모습</h3>
	<div class="center__box">
		<img src="../../images/content/center_img1.jpg" alt="전경모습" class="center__img">
		<img src="../../images/content/center_img2.jpg" alt="전경모습" class="center__img">
		<img src="../../images/content/center_img3.jpg" alt="전경모습" class="center__img">
		<img src="../../images/content/center_img4.jpg" alt="전경모습" class="center__img">
	</div>
	<div class="center__sponser">
		<p class="center__subject">
			도움이 필요한 또 다른 동물에게<br>
			보금자리를 내어줄 수 있는 기회
		</p>
		<p class="center__content">
			“동물자유연대에서 입양해주세요.”
		</p>
		<p class="center__subject">
			보호중인 동물들과<br>
			1:1 결연 후원을 해주세요.
		</p>
		<p class="center__content">
			“남양주 동물복지센터가 재정자립을 이루면 <br>
 			제2의 동물복지센터가 건립될 수 있습니다.”
		</p>
		<a href="" class="center__sponser-link">입양신청</a>
		<a href="" class="center__sponser-link">1:1 결연 후원</a>
	</div>
</div>
