<%
	page = "page7"
	sub = 1
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="essay">
	<div class="imageList__content">
		<ul class="imageList__listArea">
			<li>
				<div class="imageList__listTitle newTitle"><a href="" class="imageList__listTitle-link"><img src="../../images/content/listNoticeIcon.png" alt="공지" class="board__icon">아프리카 BJ 생방송 중 동물 잔혹 영상 방영 '불기소처분'에 항의합니다!</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></div>
				<a class="imageList__description" href="#n">
					2016년 7월 1일 동물자유연대 홈페이지 학대제보게시판에 아프리카TV의 유명 BJ(이하 BJ)가 방송 중 고양이를 학대했다는 제보가 쏟아져 들어 왔습니다. 해당 BJ는 인터넷 생방송 중 자신의 개를 산책시키는 장면을 촬영하고 있었습니다. 2016년 7월 1일 동물자유연대 홈페이지 학대제보게시판에 아프리카TV의 유명 BJ(이하 BJ)가 방송 중 고양이를 학대했다는 제보가 쏟아져 들어 왔습니다. 해당 BJ는 인터넷 생방송 중 자신의 개를 산책시키는 장면을 촬영하고 있었습니다.
				</a>
				<div class="contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-date">2016.09.01 15:12</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
				<div class="imageList__contentsImage"><img src="../../images/content/listImg.jpg" alt="게시판 리스트 이미지" /></div>
			</li>
			<li>
				<div class="imageList__listTitle newTitle"><a href="" class="imageList__listTitle-link"><span class="board__number">36234</span>2말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></div>
				<a class="imageList__description" href="#n">
							말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.
						</a>
				<div class="contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-date">2016.09.01 15:12</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
				<div class="imageList__contentsImage"><img src="../../images/content/listImg.jpg" alt="게시판 리스트 이미지" /></div>
			</li>
			<li>
				<div class="imageList__listTitle newTitle"><a href="" class="imageList__listTitle-link"><span class="board__number">36</span>2말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></div>
				<a class="imageList__description" href="#n">
							2016년 7월 1일 동물자유연대 홈페이지 학대제보게시판에 아프리카TV의 유명 BJ(이하 BJ)가 방송 중 고양이를 학대했다는 제보가 쏟아져 들어 왔습니다. 해당 BJ는 인터넷 생방송 중 자신의 개를 산책시키는 장면을 촬영하고 있었습니다. 2016년 7월 1일 동물자유연대 홈페이지 학대제보게시판에 아프리카TV의 유명 BJ(이하 BJ)가 방송 중 고양이를 학대했다는 제보가 쏟아져 들어 왔습니다. 해당 BJ는 인터넷 생방송 중 자신의 개를 산책시키는 장면을 촬영하고 있었습니다.
						</a>
				<div class="contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-date">2016.09.01 15:12</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
				<div class="imageList__contentsImage"><img src="../../images/content/listImg.jpg" alt="게시판 리스트 이미지" /></div>
			</li>
			<li>
				<div class="imageList__listTitle newTitle"><a href="" class="imageList__listTitle-link"><span class="board__number">36</span>2말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></div>
				<a class="imageList__description" href="#n">
							말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.
						</a>
				<div class="contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-date">2016.09.01 15:12</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
				<div class="imageList__contentsImage"><img src="../../images/content/listImg.jpg" alt="게시판 리스트 이미지" /></div>
			</li>
		</ul>
		<ul class="board__listPageing">
			<li>
				<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
			</li>
			<li class="board__pageingPrevBtn">
				<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
			</li>
			<li><a href="#n">1</a></li>
			<li><a href="#n">2</a></li>
			<li><a href="#n">3</a></li>
			<li><a href="#n">4</a></li>
			<li><a href="#n">5</a></li>
			<li class="board__pageingNextBtn">
				<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
			</li>
			<li>
				<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
			</li>
		</ul>
	</div>
	<div class="board__search">
		<form>
			<div class="board__select">
				<select>
					<option>제목</option>
					<option>작성자</option>
					<option>내용</option>
				</select>
			</div>
			<div class="board__keyword"><input type="text" /></div>
			<div class="board__searchBtn"><input type="submit" /></div>
		</form>
	</div>
</div>
