<%
	page = "page7"
	sub = 5
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="star">
	<div class="star__info">
		<div class="star__box">
			<h2 class="star__tit"><img src="../../images/content/page7/star_tit.png" alt="OhBoy!와 함께하는 스타입양 캠페인"></h2>
			<a href="" class="star__btn1"><span>입양절차 안내 및 입양자 선정 기준 보기</span></a>
			<h3 class="star__sub-tit">동물자유연대 입양 대기중인 동물</h3>
			<div class="star__btn-area">
				<a href="" class="star__btn2"><span>동물자유연대 보호 동물</span></a>
				<a href="" class="star__btn2"><span>부산지부 보호 동물</span></a>
				<a href="" class="star__btn2"><span>외부 의뢰 보호 동물</span></a>
			</div>
			<h4 class="star__info-subject">동물자유연대 보호 동물</h4>
			<p class="star__info-txt">게시물 말머리에 <strong class="color1">[D11-OOO관]</strong>이라고 되어 있는 경우, 동물자유연대에서 보호 중인 동물들입니다.</p>
			<h4 class="star__info-subject">외부 의뢰 동물</h4>
			<p class="star__info-txt">게시물 말머리에 <strong class="color1">[D11-OOO관외]</strong>이라고 되어 있는 경우, 우리 단체가 보호, 관리중인 동물이 아닌 외부의 요청으로 입양을 연결하는 동물입니다.</p>
		</div>
	</div><!-- //star__info -->
	<div class="star__photo">
		<div class="star__photo-box">
			<div class="star__photo-border">
				<div class="star__photo-wrap">
					<a href="" class=""><img src="../../images/content/page7/star_img-big01.jpg" alt="" id="bigImg"></a>
				</div>
			</div>
		</div>
		<div class="star__photo-box">
			<ul class="star__list">
				<li class="star__item">
					<div class="star__photo-border">
						<div class="star__photo-wrap">
							<a href="" class="star__photo-link"><img src="../../images/content/page7/star_img-small01.jpg" alt=""  data-item="01"></a>
						</div>
					</div>
					<p class="star__subject">미스에이 페이와 머털이</p>
				</li>
				<li class="star__item">
					<div class="star__photo-border">
						<div class="star__photo-wrap">
							<a href="" class="star__photo-link"><img src="../../images/content/page7/star_img-small02.jpg" alt="" data-item="02"></a>
						</div>
					</div>
					<p class="star__subject">미스에이 페이와 머털이</p>
				</li>
				<li class="star__item">
					<div class="star__photo-border">
						<div class="star__photo-wrap">
							<a href="" class="star__photo-link"><img src="../../images/content/page7/star_img-small03.jpg" alt="" data-item="03"></a>
						</div>물

					</div>
					<p class="star__subject">미스에이 페이와 머털이</p>
				</li>
				<li class="star__item">
					<div class="star__photo-border">
						<div class="star__photo-wrap">
							<a href="" class="star__photo-link"><img src="../../images/content/page7/star_img-small04.jpg" alt="" data-item="04"></a>
						</div>
					</div>
					<p class="star__subject">미스에이 페이와 머털이</p>
				</li>
				<li class="star__item">
					<div class="star__photo-border">
						<div class="star__photo-wrap">
							<a href="" class="star__photo-link"><img src="../../images/content/page7/star_img-small05.jpg" alt="" data-item="05"></a>
						</div>
					</div>
					<p class="star__subject">미스에이 페이와 머털이</p>
				</li>
				<li class="star__item">
					<div class="star__photo-border">
						<div class="star__photo-wrap">
							<a href="" class="star__photo-link"><img src="../../images/content/page7/star_img-small06.jpg" alt="" data-item="06"></a>
						</div>
					</div>
					<p class="star__subject">미스에이 페이와 머털이</p>
				</li>
			</ul>
		</div>
	</div>
	<ul class="board__listPageing">
		<li>
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li class="board__pageingPrevBtn">
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li><a href="#n">1</a></li>
		<li><a href="#n">2</a></li>
		<li><a href="#n">3</a></li>
		<li><a href="#n">4</a></li>
		<li><a href="#n">5</a></li>
		<li class="board__pageingNextBtn">
			<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
		</li>
		<li>
			<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
		</li>
	</ul>
</div>
