<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>입양신청서 작성 | 동물자유연대</title>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script> -->
	<script type="text/javascript" src="../../js/webfont.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.bxslider.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.dotdotdot.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script type="text/javascript" src="../../js/page1.js"></script>
	<link rel="stylesheet" href="../../css/libs/normalize.css">
	<link rel="stylesheet" href="../../css/libs/jquery.bxslider.css">
	<link rel="stylesheet" href="../../css/libs/flexslider.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>

<body>



	<div class="common__streetCatBg"><img src="../../images/content/companionAnimals2Bgtest.jpg" alt="길고양이 팝업 테스트배경" /></div>
	<div class="common__grayBg"></div>
	<div class="popup">
		<div class="popup__wrap">
			<div class="popup__title">
				입양신청서작성
				<a href="#n"><img src="../../images/content/popupClose.png" alt="팝업닫기" /></a>
			</div>
			<div class="popup__wrap3">
				<p class="popup__txt">
					버려진 반려동물이 여생을 행복하게 보낼 수 있는 가정으로 입양되는 것이 저희 동물자유연대의 가장 큰 바램입니다. 이를 위한 저희의 의무는 이미 한 번 이상 버려진 반려동물이 또 다른 끔찍한 일을 겪지 않도록 보살피는 것입니다.
					이 점을 보다 확실히 하기 위해 입
					앞으로 새 가족이 되어주실 분들이 아래의 질문에 성실하게 응해 주시고, 반려동물을 선택하기 전에 가능한 한 많은 정보를 제공해 주시기를 부탁드립니다.
				</p>
				<div class="terms__area">
					<div class="terms__wrap">
						<h2 class="popup__subject">개인정보 취급방침</h2>
						<div class="terms__box hg180">
(사)동물자유연대는 (이하 '단체'는) 입양신청자의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.<br><br>

단체는 개인정보취급방침을 통하여 입양신청자께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br><br>


■ 개인정보 수집에 대한 동의<br><br>

1) "단체"는 이용자의 개인정보를 수집하는 경우에는 [위의 개인정보취급방침에 동의합니다]의 체크박스에 체크하는 절차를 마련하고 있으며, [위의 개인정보취급방침에 동의합니다]의 체크박스에 체크하였을 경우 개인정보 수집에 대하여 동의한 것으로 봅니다.<br>
2) "단체"는 다음 사항에 해당하는 경우에 이용자의 별도 동의 없이 개인정보를 수집.이용할 수 있습니다.<br>
- 서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적.기술적인 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우<br>
- 서비스의 제공에 따른 요금정산을 위하여 필요한 경우<br>
- 이 법 또는 다른 법률에 특별한 규정이 있는 경우<br><br>


■ 수집하는 개인정보 항목<br><br>

단체는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br><br>

ο 수집항목 : 이름, 생년월일, 로그인ID, 비밀번호, 자택 전화번호, 자택 주소, 휴대전화번호, 이메일, 직업, 단체명, 단체전화번호, 주민등록번호, 은행계좌 정보, 접속 로그, 쿠키, 후원회비, 자동이체날짜, 봉사희망분야, 단체주소, 자기소개, 자기정보공개여부<br>
ο 개인정보 수집방법 : 홈페이지(회원가입,후원하기)<br><br>


■ 개인정보의 수집 및 이용목적<br><br>

단체는 수집한 개인정보를 다음의 목적을 위해 활용합니다..<br><br>

ο 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산<br>
 - 콘텐츠 제공<br>
ο 회원 관리<br>
 - 회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 불만처리 등 민원처리 , 고지사항 전달<br>
ο 마케팅 및 광고에 활용<br>
 - 이벤트 등 광고성 정보 전달<br><br>


■ 개인정보의 보유 및 이용기간<br><br>

원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 단체는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.<br><br>

 - 보존 항목 : 이름, 휴대전화번호, 이메일, 은행계좌 정보, 후원회비, 자동이체날짜, 봉사희망분야, 단체주소, 자기소개, 자기정보공개여부<br>
 - 보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률<br>
 - 보존 기간 : 5년

						</div>
					</div>
					<div class="center__group mt10">
						<input type="checkbox" name="terms" id="terms" class="checkbox01 type-another"><label for="terms">위 개인정보취급방침에 동의합니다.</label>
					</div>
				</div><!--//terms__area -->
				<div class="center__group mt40">
					<a href="" class="btn btn1 wd160">입양신청</a>
					<a href="" class="btn btn2 wd160">취소</a>
				</div>
			</div>
		</div>
	</div>


</body>

</html>
