<%
	page = "page7"
	sub = 5
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="member">
	<div class="imageView__content">
		<div class="imageView__viewArea">
			<div class="imageView__viewTitle type-bt_top">
				<div class="imageView__view--subject">입양신청서 작성전 꼭! 봐주세요.</div>
				<div class="imageView__view--info">
					<div class="contentsInfo">
						<span class="contentsInfo-writer">동물자유연대</span>
						<span class="contentsInfo-date">2016.09.01 15:12</span>
						<span class="contentsInfo-viewCnt">105</span>
						<span class="contentsInfo-goodCont">77</span>
						<span class="contentsInfo-homepage"><a href="http://www.animals.or.kr" target="_blank">http://www.animals.or.kr</a></span>
					</div>
				</div>
				<div class="imageView__view--file">
					<a href="#n">동물복지축산농장 인증기준 및 인증등에 관한 세부 실시요령 제정 전문.pdf</a>
				</div>
			</div>
			<div class="imageView__viewContent">
				<div class="imageView__viewContentBox txt_c">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/yI_S7bRhQdg" frameborder="0" allowfullscreen></iframe>
					<br><br>
					평생을 함께할 반려동물 입양을 결정하셨나요?<br>
					단지 외로워서 예뻐서 입양을 생각하신다면 조금 더 신중하게 생각해 주세요.<br>
					반려동물은 평생 함께 할 가족입니다. 가족을 들이는 일에 가벼운 마음으로 임하지는 않으시겠죠?<br>
					힘든 고통과 절망속에서 지내던 아이들에게 새로운 희망을 안겨주는 일이 입양입니다. <br>
					반려동물과 평생을 함께할 준비가 되셨는지 다시한번 생각해 보세요.<br>
					여러 여건과 마음의 준비가 다 되셨다면 HAPPY ENDING의 주인공이 되어 볼까요? ^^
					<br><br>
					<a href=""><img src="../../images/content/page7/banner_img1.jpg" alt="도움이 필요한 동물에게 보금자리를 내어줄 수 있는 기회 사지마세요. 동물자유연대에서 입양하세요 입양신청하러가기"></a>
					<br><br>
					<a href=""><img src="../../images/content/page7/btn_img.jpg" alt="입양신청서 작성"></a>
				</div>
				<div class="imageView__snsGroup">
					<a href="#n"><img src="../../images/content/faceBookIcon.jpg" /></a>
					<a href="#n"><img src="../../images/content/twitterIcon.jpg" /></a>
				</div>
			</div>
			<div class="imageView__viewReplayWrite">
				<form>
					<div class="imageView__replyTitle">댓글달기</div>
					<div class="imageView__writerInfo">
						이름<input type="text" /> 비밀번호
						<input type="text" />
					</div>
					<div class="imageView__writeInfo">※ 운영원칙에 위배되는 글은 삭제됩니다.</div>
					<div class="imageView__writeContent">
						<div class="imageView__writeArea"><textarea></textarea></div>
						<div class="imageView__writeSubmit"><input type="submit" value="등록" /></div>
					</div>
				</form>
			</div>
			<div class="imageView__viewReplayList">
				<div class="imageView__replyTitleResult">댓글<span>2</span></div>
				<ul>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">홍길동</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">다음주부터 구체적인 공지가 나갈 예정입니다. 반려동물과 함께 참여하는 형식입니다. 많은 관심 부탁드립니다^^</div>
					</li>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">동물자유연대</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">테스트 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 남산위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세 가을하늘 공활한데 높고구름없이 밝은달은 우리가슴 일편단심일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 이기상과 이맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리
							화려강산 대한사람 대한으로 길이보전하세. 테스트입니다. 댓글 테스트입니다.</div>
					</li>
				</ul>
			</div>
			<div class="imageView__viewButtonGroup">
				<div class="imageView__viewButtonLeft"><a href="#n">추천</a></div>
				<div class="imageView__viewButtonRight"><a href="#n">목록</a></div>
			</div>
		</div>
	</div>
</div>
