<%
	page = "page7"
	sub = 5
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="apply">
	<div class="apply__area">
		<div class="apply__box nth-1">
			<iframe width="100%" height="260" src="https://www.youtube.com/embed/yI_S7bRhQdg" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="apply__box nth-2">
			<img src="../../images/content/page7/apply_banner.jpg" alt="평생을 함께할 반려동물 입양을 결정하셨나요?단지 외로워서 예뻐서 입양을 생각하신다면 조금 더 신중하게 생각해 주세요. 반려동물은 평생 함께 할 가족입니다. 가족을 들이는 일에 가벼운 마음으로 임하지는 않으시겠죠? 힘든 고통과 절망속에서 지내던 아이들에게 새로운 희망을 안겨주는 일이 입양입니다. 반려동물과 평생을 함께할 준비가 되셨는지 다시한번 생각해 보세요. 여러 여건과 마음의 준비가 다 되셨다면 HAPPY ENDING의 주인공이 되어 볼까요?">
		</div>
	</div>
	<div class="imageList__content">
		<div class="subMenu  mt20">
			<a href="" class="subMenu__link">전체</a>
			<a href="" class="subMenu__link">스타입양</a>
			<a href="" class="subMenu__link">동물자유연대 보호</a>
			<a href="" class="subMenu__link">부산지부</a>
			<a href="" class="subMenu__link">외부 의뢰</a>
			<a href="" class="subMenu__link">강아지</a>
			<a href="" class="subMenu__link">고양이</a>
			<a href="" class="subMenu__link">기타동물</a>
		</div>
		<ul class="imageList__listArea">
			<li>
				<div class="imageList__listTitle newTitle"><a href="" class="imageList__listTitle-link"><img src="../../images/content/listNoticeIcon.png" alt="공지" class="board__icon">아프리카 BJ 생방송 중 동물 잔혹 영상 방영 '불기소처분'에 항의합니다!</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></div>
				<a class="imageList__description" href="#n">
					2016년 7월 1일 동물자유연대 홈페이지 학대제보게시판에 아프리카TV의 유명 BJ(이하 BJ)가 방송 중 고양이를 학대했다는 제보가 쏟아져 들어 왔습니다. 해당 BJ는 인터넷 생방송 중 자신의 개를 산책시키는 장면을 촬영하고 있었습니다. 2016년 7월 1일 동물자유연대 홈페이지 학대제보게시판에 아프리카TV의 유명 BJ(이하 BJ)가 방송 중 고양이를 학대했다는 제보가 쏟아져 들어 왔습니다. 해당 BJ는 인터넷 생방송 중 자신의 개를 산책시키는 장면을 촬영하고 있었습니다.
				</a>
				<div class="contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-date">2016.09.01 15:12</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
				<div class="imageList__contentsImage"><img src="../../images/content/listImg.jpg" alt="게시판 리스트 이미지" /></div>
			</li>
			<li>
				<div class="imageList__listTitle newTitle"><a href="" class="imageList__listTitle-link"><span class="board__number">36234</span>2말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></div>
				<a class="imageList__description" href="#n">
							말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.
						</a>
				<div class="contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-date">2016.09.01 15:12</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
				<div class="imageList__contentsImage"><img src="../../images/content/listImg.jpg" alt="게시판 리스트 이미지" /></div>
			</li>
			<li>
				<div class="imageList__listTitle newTitle"><a href="" class="imageList__listTitle-link"><span class="board__number">36</span>2말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></div>
				<a class="imageList__description" href="#n">
							2016년 7월 1일 동물자유연대 홈페이지 학대제보게시판에 아프리카TV의 유명 BJ(이하 BJ)가 방송 중 고양이를 학대했다는 제보가 쏟아져 들어 왔습니다. 해당 BJ는 인터넷 생방송 중 자신의 개를 산책시키는 장면을 촬영하고 있었습니다. 2016년 7월 1일 동물자유연대 홈페이지 학대제보게시판에 아프리카TV의 유명 BJ(이하 BJ)가 방송 중 고양이를 학대했다는 제보가 쏟아져 들어 왔습니다. 해당 BJ는 인터넷 생방송 중 자신의 개를 산책시키는 장면을 촬영하고 있었습니다.
						</a>
				<div class="contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-date">2016.09.01 15:12</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
				<div class="imageList__contentsImage"><img src="../../images/content/listImg.jpg" alt="게시판 리스트 이미지" /></div>
			</li>
			<li>
				<div class="imageList__listTitle newTitle"><a href="" class="imageList__listTitle-link"><span class="board__number">36</span>2말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.</a><img class="newTitleIcon" src="../../images/content/listNewIcon.png"/><img class="LockIcon" src="../../images/content/listLockCnt.png"><span class="viewCntIcon">(3)</span></div>
				<a class="imageList__description" href="#n">
							말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.말줄임테스트입니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세.
						</a>
				<div class="contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-date">2016.09.01 15:12</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
				<div class="imageList__contentsImage"><img src="../../images/content/listImg.jpg" alt="게시판 리스트 이미지" /></div>
			</li>
		</ul>
		<ul class="board__listPageing">
			<li>
				<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
			</li>
			<li class="board__pageingPrevBtn">
				<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
			</li>
			<li><a href="#n">1</a></li>
			<li><a href="#n">2</a></li>
			<li><a href="#n">3</a></li>
			<li><a href="#n">4</a></li>
			<li><a href="#n">5</a></li>
			<li class="board__pageingNextBtn">
				<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
			</li>
			<li>
				<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
			</li>
		</ul>
	</div>
	<div class="board__search">
		<form>
			<div class="board__select">
				<select>
					<option>제목</option>
					<option>작성자</option>
					<option>내용</option>
				</select>
			</div>
			<div class="board__keyword"><input type="text" /></div>
			<div class="board__searchBtn"><input type="submit" /></div>
		</form>
	</div>
</div>
