<%
	page = "page7"
	sub = 2
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="volunteer">
	<div class="volunteer__info">
		<h2 class="volunteer__tit">반려동물복지센터 봉사신청 안내사항</h2>
		<dl class="volunteer__dl">
			<dt class="volunteer__dt">01 개인 신청은 봉사 희망 일로부터 최소 일주일 전에 해주세요. (일회성 봉사보다 정기봉사 우선 신청 받습니다.)</dt>
			<dd class="volunteer__dd">일일 최대 수용 인원은 10~15명입니다. 봉사 희망 일에 촉박해 신청하시면 인원 마감으로 봉사하실 수 없습니다.</dd>
			<dt class="volunteer__dt color1">02 봉사신청서 작성 후 봉사 가능여부는 신청일 기준 3일 이내에 전화가 아닌 메일로 답변 드립니다.</dt>
			<dd class="volunteer__dd">가능 여부에 대한 소모성 전화가 많아 업무가 가중되고 있으니 정확한 메일 기재 후 메일을 확인해 주세요.</dd>
			<dt class="volunteer__dt">03 처음 방문하는 봉사자는 매주 금,토요일 오후 1시~4시까지 봉사하실 수 있습니다.</dt>
			<dd class="volunteer__dd">
				오후 1시, 첫 봉사자를 위한 봉사 교육이 있으니 시간을 꼭 지켜주세요.<br>
				동물미용봉사(전문가) 신청자는 날짜 상관없이 신청 가능합니다.
			</dd>
			<dt class="volunteer__dt">04 10명 이상 단체봉사는 최소 한 달 전에 신청해 주세요.</dt>
			<dd class="volunteer__dd">단체봉사는 반려동물복지센터 내부 사정에 따라 가능하지 않을 수 있습니다.</dd>
			<dt class="volunteer__dt">05 미성년자는 보호자(부모님 또는 선생님) 동반 시에만 봉사 가능합니다.</dt>
			<dd class="volunteer__dd">
				미성년자는 보호자의 사전 봉사 후(최소 1회) 동반 봉사 가능합니다.<br>
				미성년자는 월 1회만 봉사 가능합니다.<br>
				초등학생은 보호자 동반시에도 학생과 동물의 안전상 봉사가 불가합니다.
			</dd>
			<dt class="volunteer__dt">06 동물자유연대 반려동물복지센터는 1365, VMS 등 자원봉사 포털에 가입되어 있지 않습니다.</dt>
			<dd class="volunteer__dd">봉사확인증은 동물자유연대 자체 양식이므로 제출 기관에 가능 여부 확인 후 요청해 주세요.</dd>
		</dl>
	</div>
	<div class="table__area mt50">
		<table class="table1">
			<thead>
				<colgroup>
					<col width="216px">
					<col width="auto">
				</colgroup>
			</thead>
			<tbody>
				<tr class="table1__tr">
					<th class="table1__th">회원여부</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="radio" name="member" id="member01" class="radio01" /><label for="member01" class="label01">회원</label>
							<input type="radio" name="member" id="member02" class="radio01" /><label for="member02" class="label01">비회원</label>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">신청인 성명</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">성별</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="radio" name="gender" id="gender01" class="radio01" /><label for="gender01" class="label01">남</label>
							<input type="radio" name="gender" id="gender02" class="radio01" /><label for="gender02" class="label01">여</label>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">연령</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd60">
							<span class="input__txt">세</span>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">전화번호</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd60">
							<span class="dash">-</span>
							<input type="text" class="input1 wd60">
							<span class="dash">-</span>
							<input type="text" class="input1 wd60">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">이메일</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">사시는 지역</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">봉사활동 인원 수</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd60">
							<span class="input__txt">명</span>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">자원봉사 신청 종류</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="radio" name="service" id="service01" class="radio01" /><label for="service01" class="label01">정기봉사(월1회, 주1회 등)</label>
							<input type="radio" name="service" id="service02" class="radio01" /><label for="service02" class="label01">비정기봉사</label>
							<input type="radio" name="service" id="service03" class="radio01" /><label for="service03" class="label01">입양을 전제로한 봉사</label>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">자원봉사 경험</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="radio" name="experience" id="experience01" class="radio01" /><label for="experience01" class="label01">유</label>
							<input type="radio" name="experience" id="experience02" class="radio01" /><label for="experience02" class="label01">무</label>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">봉사확인증</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="radio" name="necessity" id="necessity01" class="radio01" /><label for="necessity01" class="label01">필요함</label>
							<input type="radio" name="necessity" id="necessity02" class="radio01" /><label for="necessity02" class="label01">필요하지 않음</label>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">자원봉사 선택</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="checkbox" name="sl" id="option_check_01" class="checkbox01"><label for="option_check_01">미용</label>
							<input type="checkbox" name="sl" id="option_check_02" class="checkbox01"><label for="option_check_02">목욕</label>
							<input type="checkbox" name="sl" id="option_check_03" class="checkbox01"><label for="option_check_03">청소 및 산책</label>
							<input type="checkbox" name="sl" id="option_check_04" class="checkbox01"><label for="option_check_04">차량봉사 등</label>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">봉사 희망 날짜</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd100">
							<a href="" class="input__calender">달력선택</a>
							<span class="input__txt">달력은 인터넷 익스플로러에서만 지원됩니다. (직접 입력할 땐 2014-01-01 형식으로 입력)</span>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">봉사 가능 시간</th>
					<td class="table1__td">
						<div class="input__form wd100">
							<select class="wd100 select30">
								<option>3시간</option>
								<option>3시간</option>
								<option>3시간</option>
							</select>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">간단한 자기소개</th>
					<td class="table1__td">
						<div class="input__form">
							<textarea rows="3" cols="3" class="textarea1 wd100p"></textarea>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div><!-- //delete__table -->
	<div class="center__group mt40">
		<a href="" class="btn btn1 wd80">확인</a>
		<a href="" class="btn btn2 wd80">취소</a>
	</div>
</div>
