<%
	page = "main"
%>
<% layout('../_layout/_layout') -%>
<div class="visual">
	<div class="visual__wrap">
		<ul class="visual__list">
			<li class="visual__item nth-1">
					충격!
					고양이 공장의 진실
					불법의 온상, 경매장에 대한 강력한 단속을 요구합니다.
				<a href="#" class="visual__btn">자세히보기</a>
			</li>
			<li class="visual__item nth-2">
				충격!
				고양이 공장의 진실
				불법의 온상, 경매장에 대한 강력한 단속을 요구합니다.
				<a href="#" class="visual__btn">자세히보기</a>
			</li>
			<li class="visual__item nth-3">
				충격!
				고양이 공장의 진실
				불법의 온상, 경매장에 대한 강력한 단속을 요구합니다.
				<a href="#" class="visual__btn">자세히보기</a>
			</li>
			<li class="visual__item nth-4">
				충격!
				고양이 공장의 진실
				불법의 온상, 경매장에 대한 강력한 단속을 요구합니다.
				<a href="#" class="visual__btn">자세히보기</a>
			</li>
		</ul>
		<a href="" class="visual__slide-btn visual__slide-prev js-visual_prev">이전</a>
		<a href="" class="visual__slide-btn visual__slide-next js-visual_next">다음</a>
	</div>
</div>
<div class="main-wrap">
	<div class="main-box col-12">
		<div class="main-sponsor">
			<h2 class="main-sponsor__tit"><img src="../../images/main/main_sponsor_tit.gif" alt="정부보조금0% 시민의 후원이 힘입니다."></h2>
			<div class="main-sponsor__list">
				<a href="#" class="main-sponsor__item nth-1">정기후원</a>
				<a href="#" class="main-sponsor__item nth-2">후원안내</a>
				<a href="#" class="main-sponsor__item nth-3">1:1결연</a>
				<a href="#" class="main-sponsor__item nth-4">후원증액</a>
			</div>
		</div>
	</div>
	<div class="main-box col-6">
		<div class="main-content1">
			<h2 class="main-content1__tit"><a href="" class="main-content1__link1">주요활동</a></h2>
			<h3 class="main-content1__item is-active bt-none"><a href="#" class="main-content1__link1 js-tab" onclick="return false">반려동물</a></h3>
			<div class="main-content1__board">
				<img src="../../images/main/activity_img_01.jpg" alt="동물자유연대와 해피펫이 함께하는 '반려견 사회화 교육'" class="main-content1__board-img">
				<a href="" class="main-content1__link1 js-tab">
					<div class="main-content1__board-view">
						<h3 class="main-content1__board-tit">동물자유연대와 해피펫이 함께하는 '반려견 사회화교육' 동물자유연대와 해피펫이 함께하는 '반려견 사회화교육'</h3>
						<p class="main-content1__board-txt js-dot" data-item="40">지난 8월 27일 강서구 등촌동에 위치한 서울호서직업전문학교 에서 동물자유연대와 해피펫이 함께하는  ‘반려견 사회화 교육’ 두 번째 지난 8월 27일 강서구 등촌동에 위치한 서울호서직업전문학교에서 동물자유연대와 해피펫이 함께하는 ‘반려견 사회화 교육’ 두 번째</p>
						<p class="main-content1__board-date">2016.08.24</p>
					</div>
				</a>
				<ul class="main-content1__board-list">
					<li class="main-content1__board-item"><a href="#" class="main-content1__link2">방치는 죽음을 부르는 학대입니다. 슈키를 응원해주세요!</a></li>
					<li class="main-content1__board-item"><a href="" class="main-content1__link2">지역캣맘협의체 지원사업, 어떻게 진행중일까요?</a></li>
				</ul>
			</div><!-- //main-content1__board -->
			<h3 class="main-content1__item"><a href="" class="main-content1__link1 js-tab" onclick="return false">농장동물</a></h3>
			<div class="main-content1__board">
				농장동물
			</div><!-- //main-content1__board -->
			<h3 class="main-content1__item"><a href="" class="main-content1__link1 js-tab">동물실험</a></h3>
			<div class="main-content1__board">
				동물실험
			</div><!-- //main-content1__board -->
			<h3 class="main-content1__item"><a href="" class="main-content1__link1 js-tab">전시동물</a></h3>
			<div class="main-content1__board">
				전시동물
			</div><!-- //main-content1__board -->
			<h3 class="main-content1__item"><a href="" class="main-content1__link1 js-tab">길고양이</a></h3>
			<div class="main-content1__board">
				길고양이
			</div><!-- //main-content1__board -->
			<a href="" class="main-content1__more">더보기</a>
		</div>
	</div>
	<div class="main-box col-6">
		<div class="main-content2">
			<h2 class="main-content2__tit is-active"><a href="" class="main-content2__link1">공지사항</a></h2>
			<div class="main-content2__board">
				<ul class="main-content2__board-list type-another">
					<li class="main-content2__board-item"><a href="" class="main-content2__link2">‘천연 해충방지 스프레이와 버물리' 직접 만들기 교실 ‘천연 해충방지 스프레이와 버물리' 직접 만들기 교실 ‘천연 해충방지 스프레이와 버물리' 직접 만들기 교실 ‘천연 해충방지 스프레이와 버물리' 직접 만들기 교실<span class="main-content2__board-date">2016.08.24</span></a></li>
					<li class="main-content2__board-item"><a href="" class="main-content2__link2">[TV동물농장 방영] 고양이 농장에서 구조한 7마리, 입양/임시보호 동참! 퍼 날라 주세요!<span class="main-content2__board-date">2016.08.24</span></a></li>
					<li class="main-content2__board-item"><a href="" class="main-content2__link2">동물자유연대 소식지 '함께 나누는 삶' 무료 e-book<span class="main-content2__board-date">2016.08.24</span></a></li>
					<li class="main-content2__board-item"><a href="" class="main-content2__link2">개식용반대중복캠페인에 동참해주세요!<span class="main-content2__board-date">2016.08.24</span></a></li>
					<li class="main-content2__board-item"><a href="" class="main-content2__link2">[채용 마감] 상근 활동가 모집 (시민단체 경력자 우대)<span class="main-content2__board-date">2016.08.24</span></a></li>
					<li class="main-content2__board-item"><a href="" class="main-content2__link2">동물자유연대 입양신청 절차와 선정기준에 대한 안내<span class="main-content2__board-date">2016.08.24</span></a></li>
				</ul>
			</div>
			<h2 class="main-content2__tit"><a href="" class="main-content2__link1">보도자료</a></h2>
		</div>
	</div>
	<div class="main-box col-6">
		<div class="main-content3">
			<div class="main-content3__header">
				<h2 class="main-content3__tit">1:1 결연</h2>
				<p class="main-content3__txt">
					고통 받고 상처 받았던<br>
					동물들을 위해 1:1 결연으로<br>
					소울메이트가 되어주세요.
				</p>
				<a href="" class="main-content3__btn">결연신청</a>
			</div>
			<ul class="main-content3__list">
				<li class="main-content3__item nth-1">
					<div class="main-content3__body-item">
						<h3 class="main-content3__name">푸치</h3>
						<p class="main-content3__info">
							혼혈견 / 숫컷 / 5세
						</p>
					</div>
				</li>
				<li class="main-content3__item nth-1">
					<div class="main-content3__body-item">
						<h3 class="main-content3__name">푸치</h3>
						<p class="main-content3__info">
							혼혈견 / 숫컷 / 5세
						</p>
					</div>
				</li>
				<li class="main-content3__item nth-1">
					<div class="main-content3__body-item">
						<h3 class="main-content3__name">푸치</h3>
						<p class="main-content3__info">
							혼혈견 / 숫컷 / 5세
						</p>
					</div>
				</li>
			</ul>

			<div class="main-content3__bottom">
				<div class="main-content3__bottom-wrap">
					<div class="main-content3__number">1/3</div>
					<a href="" class="main-content3__slide-btn main-content3__slide-prev js-main3_prev">이전</a>
					<a href="" class="main-content3__slide-btn main-content3__slide-next js-main3_next">다음</a>
				</div>
			</div>
		</div>
	</div>
	<div class="main-box col-6">
		<div class="main-content4">
			<div class="main-content4__header">
				<ul class="main-content4__tab-list">
					<li class="main-content4__tab-item is-active js-toggle"><a href="" class="main-content4__tab-btn">전시동물</a></li>
					<li class="main-content4__tab-item js-toggle"><a href="" class="main-content4__tab-btn">농장동물</a></li>
					<li class="main-content4__tab-item js-toggle"><a href="" class="main-content4__tab-btn">영장류</a></li>
					<li class="main-content4__tab-item js-toggle"><a href="" class="main-content4__tab-btn">배분사업</a></li>
				</ul>
			</div>
			<div class="main-content4__body">
				<ul class="main-content4__list">
					<li class="main-content4__item nth-1 js-body">
						<h3 class="main-content4__tit">돌고래 전시금지</h3>
						<p class="main-content4__txt">
							동물을 상업적 목적을 위해 전시하는 동뭘원과 수족관에 반대합니다.<br>
							전시환경 개선으로 동물 복지를 증진시키고 동물쇼, 체험전시 등으로 동물에게 신체적,<br>
							정신적 고통을 주는 일을 중단시키기 위한 캠페인 및 입법 활동을 전개합니다.
						</p>
						<a href="" class="main-content4__btn">자세히보기</a>
					</li>
					<li class="main-content4__item nth-2 js-body">
						<span style="color:#222">농장동물</span>
					</li>
					<li class="main-content4__item nth-3 js-body">
						<span style="color:#222">영장류</span>
					</li>
					<li class="main-content4__item nth-4 js-body">
						<span style="color:#222">배분사업</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-box col-3">
		<a href="#" class="main-content5__img nth-1">이슈포커스 사진</a>
		<div class="main-content5__body">
			<h3 class="main-content5__tit"><a href="" class="main-content5__link1">이슈포커스</a></h3>
			<p class="main-content5__subject"><a href="" class="main-content5__link1">삼팔이에 이어 춘삼이도 야생에서 번식에 성공했습니다.</a></p>
			<p class="main-content5__txt js-dot">불법포획되어 쇼에 동원되었다가 2013년 제주 고향바다로 돌아간 세 마리의 남방큰돌고래 불법포획되어 쇼에 동원되었다가 2013년 제주 고향바다로 돌아간 세 마리의 남방큰돌고래</p>
		</div>
	</div>
	<div class="main-box col-3">
		<a href="#" class="main-content5__img nth-2">함께나누는삶 사진</a>
		<div class="main-content5__body">
			<h3 class="main-content5__tit"><a href="" class="main-content5__link1">함께나누는삶</a></h3>
			<p class="main-content5__subject"><a href="" class="main-content5__link1">내 삶과 우리의 삶이  동물들의 삶보다 위가 아니기</a></p>
			<p class="main-content5__txt js-dot">이렇게 살면 되겠다.’ 일상이 이어지는 동안 문득 그런 생각이 들 때가 있다. 보통은 그 반대로 생각 이렇게 살면 되겠다.’ 일상이 이어지는 동안 문득 그런 생각이 들 때가 있다. 보통은 그 반대로 생각</p>
		</div>
	</div>
	<div class="main-box col-3">
		<a href="#" class="main-content5__img nth-3">입양후기 사진</a>
		<div class="main-content5__body">
			<h3 class="main-content5__tit"><a href="" class="main-content5__link1">입양후기</a></h3>
			<p class="main-content5__subject"><a href="" class="main-content5__link1">딩동이가 이사하고 집에 쉬야를 안해서 한동안 고생했어요~!</a></p>
			<p class="main-content5__txt js-dot">안녕하세요. 딩동파파입니다. 입양후기 게시판에 새로운 글들이 자주 올라오는 것 같아서 참 좋네 안녕하세요. 딩동파파입니다. 입양후기 게시판에 새로운 글들이 자주 올라오는 것 같아서 참 좋네</p>
		</div>
	</div>
	<div class="main-box col-3">
		<a href="#" class="main-content5__img nth-4">센터에세이 사진</a>
		<div class="main-content5__body">
			<h3 class="main-content5__tit"><a href="" class="main-content5__link1">센터에세이</a></h3>
			<p class="main-content5__subject"><a href="" class="main-content5__link1">허스키 "슈키"가 퇴원하여 센터로 입소하였습니다.</a></p>
			<p class="main-content5__txt js-dot">주인의 방치로 인해 아사 직전 구조되어 장기간 입원치료를 받던 슈키가 드디어 센터로 입소</p>
		</div>
	</div>

	<div class="main-box col-6">
		<div class="main-content6">
			<h2 class="main-content6__subject"><span class="main-content6__point1">OhBoy!</span>와 함께하는<br><span class="main-content6__point2">스타 입양 캠페인</span></h2>
			<h3 class="main-content6__tit"><img src="../../images/main/main_content6_tit.png" alt="사지마세요 입양하세요"></h3>
			<a href="#" class="main-content6__btn">자세히보기</a>
		</div>
	</div>
	<div class="main-box col-6">
		<div class="main-content7">
			<h2 class="main-content7__tit">입양안내</h2>
			<p class="main-content7__txt">
				도움이 필요한 동물에게 보금자리를 내어줄 수 있는 기회!<br>
				<strong>동물자유연대에서 입양하세요!</strong>
			</p>
			<ul class="main-content7__list">
				<li class="main-content7__item">
					<a class="main-content7__link" href="#"><img src="../../images/main/main_content7_img1.png" alt="강아지"></a>
					<p class="main-content7__img-txt">이사가는 주인에게 버려지고 노인들에게 개고기감으로 끌려가던 꼬마</p>
				</li>
				<li class="main-content7__item">
					<a class="main-content7__link" href="#"><img src="../../images/main/main_content7_img1.png" alt="강아지"></a>
					<p class="main-content7__img-txt">이사가는 주인에게 버려지고 노인들에게 개고기감으로 끌려가던 꼬마</p>
				</li>
			</ul>
			<div class="main-content7__btn-area">
				<div class="main-content7__paging"></div>
				<div class="main-content7__play"></div>
			</div>
			<a href="" class="main-content7__slide-btn main-content7__slide-prev js-mid_prev">이전</a>
			<a href="" class="main-content7__slide-btn main-content7__slide-next js-mid_next">다음</a>
		</div>
	</div>

	<div class="main-box col-4">
		<div class="main-border">
			<div class="main-content8">
				<ul class="main-content8__list">
					<li class="main-content8__item nth-1">
						<h3 class="main-content8__tit">잃어버린 동물 <span class="main-content8__point">찾는방법</span></h3>
						<p class="main-content8__txt">길고양이에 대한 오해와 편견을<br>넘어 공존으로</p>
						<a href="" class="main-content8__btn">자세히보기</a>
					</li>
					<li class="main-content8__item nth-2">
					</li>
					<li class="main-content8__item nth-3">
					</li>
				</ul>
				<div class="main-content8__area">
					<div class="main-content8__number">
						1/3
					</div>
					<div class="main-content8__btn-area">
						<a href="" class="main-content8__btn-left" id="prevBtn"></a>
						<a href="" class="main-content8__btn-right" id="nextBtn"></a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //main-box-->
	<div class="main-box col-4">
		<div class="main-border">
			<div class="main-content9">
				<span class="main-content9__view">
					<h3 class="main-content9__view-tit">이벤트</h3>
					<p class="main-content9__view-subject">1석 2조 유기동물 후원 기획전</p>
					<p class="main-content9__view-txt">(휴대폰케이스 판매 수익금이 기부됩니다.)</p>
					<a href="" class="main-content9__view-btn">참여하기</a>
				</span>
				<h3 class="main-content9__tit">1석 2조 유기동물 후원 기획전</h3>
				<p class="main-content9__subject">함께 기부하는 손쉬운 방법</p>
				<p class="main-content9__txt">※ 휴대폰케이스 판매 수익금이 기부됩니다.</p>
			</div>
		</div>
	</div>
	<div class="main-box col-4">
		<div class="main-border">
			<div class="main-content10">
				<div class="main-content10__service">
					<h3 class="main-content10__tit">봉사신청</h3>
					<p class="main-content10__txt">
						진심으로 사랑할 준비가 되셨다면<br>
						동물에게 사랑을 나눠주세요.
					</p>
					<a href="" class="main-content10__btn">자세히보기</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- //main-wrap -->
