<%
	page = "page4"
	sub = 4
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="video">
	<div class="menu__select">
		<select>
			<option>전체</option>
			<option>메뉴1</option>
			<option>메뉴1</option>
		</select>
	</div>
	<ul class="photo__list">
		<li class="photo__item">
			<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
			<a href=""><span class="photo__tit">사지말고 입양하세요</span></a>
			<div class="photo__info contentsInfo">
				<span class="contentsInfo-viewCnt">105</span>
				<span class="contentsInfo-goodCont">77</span>
			</div>
		</li>
		<li class="photo__item">
			<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
			<a href=""><span class="photo__tit">사지말고 입양하세요</span></a>
			<div class="photo__info contentsInfo">
				<span class="contentsInfo-viewCnt">105</span>
				<span class="contentsInfo-goodCont">77</span>
			</div>
		</li>
		<li class="photo__item">
			<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
			<a href=""><span class="photo__tit">사지말고 입양하세요</span></a>
			<div class="photo__info contentsInfo">
				<span class="contentsInfo-viewCnt">105</span>
				<span class="contentsInfo-goodCont">77</span>
			</div>
		</li>
		<li class="photo__item">
			<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
			<a href=""><span class="photo__tit">사지말고 입양하세요</span></a>
			<div class="photo__info contentsInfo">
				<span class="contentsInfo-viewCnt">105</span>
				<span class="contentsInfo-goodCont">77</span>
			</div>
		</li>
		<li class="photo__item">
			<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
			<a href=""><span class="photo__tit">사지말고 입양하세요</span></a>
			<div class="photo__info contentsInfo">
				<span class="contentsInfo-viewCnt">105</span>
				<span class="contentsInfo-goodCont">77</span>
			</div>
		</li>
		<li class="photo__item">
			<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
			<a href=""><span class="photo__tit">사지말고 입양하세요</span></a>
			<div class="photo__info contentsInfo">
				<span class="contentsInfo-viewCnt">105</span>
				<span class="contentsInfo-goodCont">77</span>
			</div>
		</li>
		<li class="photo__item">
			<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
			<a href=""><span class="photo__tit">사지말고 입양하세요</span></a>
			<div class="photo__info contentsInfo">
				<span class="contentsInfo-viewCnt">105</span>
				<span class="contentsInfo-goodCont">77</span>
			</div>
		</li>
		<li class="photo__item">
			<a href=""><img src="../../images/content/page4/video01.jpg" alt="" class="photo__img"></a>
			<a href=""><span class="photo__tit">사지말고 입양하세요</span></a>
			<div class="photo__info contentsInfo">
				<span class="contentsInfo-viewCnt">105</span>
				<span class="contentsInfo-goodCont">77</span>
			</div>
		</li>
	</ul>
	<ul class="board__listPageing">
		<li>
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li class="board__pageingPrevBtn">
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li><a href="#n">1</a></li>
		<li><a href="#n">2</a></li>
		<li><a href="#n">3</a></li>
		<li><a href="#n">4</a></li>
		<li><a href="#n">5</a></li>
		<li class="board__pageingNextBtn">
			<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
		</li>
		<li>
			<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
		</li>
	</ul>
	<div class="board__search">
		<form>
			<div class="board__select">
				<select>
					<option>제목</option>
					<option>작성자</option>
					<option>내용</option>
				</select>
			</div>
			<div class="board__keyword"><input type="text" /></div>
			<div class="board__searchBtn"><input type="submit" /></div>
		</form>
	</div>
</div>
