<%
	page = "page4"
	sub = 3
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="magazine">
	<ul class="magazine__list">
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
		<li class="magazine__item">
			<a href=""><img src="../../images/content/page4/magazine01.png" alt="" class="magazine__img"></a>
			<a href=""><span class="magazine__tit">2016년 여름호</span><span class="magazine__date">2016년 8월</span></a>
		</li>
	</ul>
	<ul class="board__listPageing">
		<li>
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li class="board__pageingPrevBtn">
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li><a href="#n">1</a></li>
		<li><a href="#n">2</a></li>
		<li><a href="#n">3</a></li>
		<li><a href="#n">4</a></li>
		<li><a href="#n">5</a></li>
		<li class="board__pageingNextBtn">
			<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
		</li>
		<li>
			<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
		</li>
	</ul>
	<div class="board__search">
		<form>
			<div class="board__select">
				<select>
					<option>제목</option>
					<option>작성자</option>
					<option>내용</option>
				</select>
			</div>
			<div class="board__keyword"><input type="text" /></div>
			<div class="board__searchBtn"><input type="submit" /></div>
		</form>
	</div>
</div>
