<%
	page = "page4"
	sub = 2
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="statement-view">
	<div class="imageView__content">
		<div class="imageView__viewArea">
			<div class="imageView__viewTitle type-bt_top">
				<div class="imageView__view--subject">동물자유연대와 해피펫이 함께하는 '반려견 사회화 교육' 신청(장소변경)</div>
				<div class="imageView__view--info">
					<div class="contentsInfo">
						<span class="contentsInfo-writer">동물자유연대</span>
						<span class="contentsInfo-date">2016.09.01 15:12</span>
						<span class="contentsInfo-viewCnt">105</span>
						<span class="contentsInfo-goodCont">77</span>
						<span class="contentsInfo-homepage"><a href="http://www.animals.or.kr" target="_blank">http://www.animals.or.kr</a></span>
					</div>
				</div>
				<div class="imageView__view--file">
					<a href="#n">동물복지축산농장 인증기준 및 인증등에 관한 세부 실시요령 제정 전문.pdf</a>
				</div>
			</div>
			<div class="imageView__viewContent">
				<div class="imageView__viewContentBox">
					○ 2016년 8월 10일 창원지방법원 제3형사부(정재수 재판장)는 길고양이를 산 채로 뜨거운 물에 넣어 죽인 후 유통시킨 업자 정모씨에게 동물보호법 위반 및 식품위생법 위반 혐의로 징역 10월, 집행유예 2년, 80시간의 사회봉사명령을 선고한 1심 판결과 동일한 형을 선고했다. 동물자유연대는 살아있는 고양이 600마리를 죽인 끔찍한 동물학대를 용인한 재판부의 판결에 분노한다.<br><br>
					○ 사건 발생 후 동물자유연대는 법정 최고형을 요구하는 시민들의 온라인 탄원서 2만2천여부를 검찰과 재판부에 제출하였으며, 여러 방송과 신문사에서도 일명 '나비탕 사건'을 크게 보도하였고, 길고양이에 대한 생명경시와 보신문화로 포장된 잔혹한 동물학대에 비판을 가했다.<br><br>
					○ 2016년 4월 6일 1심 판결 후 검찰은 피고인의 행위가 동물보호법의 원래 목적에 위배되는 행위이며, 위반한 기간이 매우 길고, 길고양이를 잡아 식품으로 판매하여 죄질이 나쁘며 학대한 고양이의 수가 많다는 것에 비해 형량이 가벼운 점을 들어 항소하였다. 그러나 2심 재판부는 피고인이 어려운 경제형편으로 인해 이 일을 했고, 약용으로 필요로 하는 곳에 판매하였으며, 동일한 행위로 처벌받은 적이 없고, 생명을 경시하는 의미로 학대한 것이 아니라는 이유로 동일한 형량을 선고했다.<br><br>
					○ 재판부의 이번 판결로 인해 우리 사회에서는 아무리 많은 동물을 잔인하게 도살해도 생업을 위한 것이라면 용인될 수 있다는 오점을 남겼다. 동물자유연대는 재판부의 판결에 분노하며, 사법부에 강력하게 요구하는 바이다. 동물학대라는 범죄에 대한 처벌은 우리 사회가 생명을 존중하고 약자를 보호하는 사회로 가는 방향에서 매우 중요하다. 과연 약자에 대한 올바른 보호의 역할을 하고 있는지 사법부의 동물학대에 대한 바른 가치 정립을 촉구한다.<br><br>
					○ 동물자유연대는 길고양이의 약용판매가 생업으로 합리화되어 학대를 처벌하지 못한 현실에 분노하며,  정부와 국회는 길고양이를 포획하여 식용으로 유통, 판매, 도살하는 행위를 금지하는 법 제정에 적극 임할 것을 촉구한다.<br><br>
					<p class="txt_c">
						2016년 8월 10일<br>
						동물자유연대
					</p>
				</div>
				<div class="imageView__snsGroup">
					<a href="#n"><img src="../../images/content/faceBookIcon.jpg" /></a>
					<a href="#n"><img src="../../images/content/twitterIcon.jpg" /></a>
				</div>
			</div>
			<div class="imageView__viewReplayWrite">
				<form>
					<div class="imageView__replyTitle">댓글달기</div>
					<div class="imageView__writerInfo">
						이름<input type="text" /> 비밀번호
						<input type="text" />
					</div>
					<div class="imageView__writeInfo">※ 운영원칙에 위배되는 글은 삭제됩니다.</div>
					<div class="imageView__writeContent">
						<div class="imageView__writeArea"><textarea></textarea></div>
						<div class="imageView__writeSubmit"><input type="submit" value="등록" /></div>
					</div>
				</form>
			</div>
			<div class="imageView__viewReplayList">
				<div class="imageView__replyTitleResult">댓글<span>2</span></div>
				<ul>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">홍길동</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">다음주부터 구체적인 공지가 나갈 예정입니다. 반려동물과 함께 참여하는 형식입니다. 많은 관심 부탁드립니다^^</div>
					</li>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">동물자유연대</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">테스트 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 남산위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세 가을하늘 공활한데 높고구름없이 밝은달은 우리가슴 일편단심일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 이기상과 이맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리
							화려강산 대한사람 대한으로 길이보전하세. 테스트입니다. 댓글 테스트입니다.</div>
					</li>
				</ul>
			</div>
			<div class="imageView__viewButtonGroup">
				<div class="imageView__viewButtonLeft"><a href="#n">추천</a></div>
				<div class="imageView__viewButtonRight"><a href="#n">목록</a></div>
			</div>
		</div>
	</div>
</div>
