<%
	page = "page4"
	sub = 5
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="busan-write">
	<div class="table__area">
		<table class="table1 mt20">
			<thead>
				<colgroup>
					<col width="216px">
					<col width="auto">
				</colgroup>
			</thead>
			<tbody>
				<tr class="table1__tr">
					<th class="table1__th">이름</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">연락처</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">이메일</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">홈페이지</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd240">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">옵션</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="checkbox" name="sl" id="option_check_01" class="checkbox01"><label for="option_check_01">답변메일받기</label>
							<input type="checkbox" name="sl" id="option_check_02" class="checkbox01"><label for="option_check_02">비밀글</label>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">제목</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="text" class="input1 wd100p">
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">내용</th>
					<td class="table1__td">
						<div class="input__form">
							<textarea rows="3" cols="3" class="textarea1 wd100p"></textarea>
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">첨부파일1</th>
					<td class="table1__td">
						<div class="input__form">
							<span class="upload-set-v1 upload-set-v1_w100p">
								<span class="upload-set-v1__wrap" data-value="찾아보기">
									<input type="file" name="" class="upload-set-v1__file upload-hidden" title="첨부파일">
								</span>
								<input type="text" name="" class="input1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)">
							</span><!-- //upload-set-v1 -->
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">첨부파일2</th>
					<td class="table1__td">
						<div class="input__form">
							<span class="upload-set-v1 upload-set-v1_w100p">
								<span class="upload-set-v1__wrap" data-value="찾아보기">
									<input type="file" name="" class="upload-set-v1__file upload-hidden" title="첨부파일">
								</span>
								<input type="text" name="" class="input1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)">
							</span><!-- //upload-set-v1 -->
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">첨부파일3</th>
					<td class="table1__td">
						<div class="input__form">
							<span class="upload-set-v1 upload-set-v1_w100p">
								<span class="upload-set-v1__wrap" data-value="찾아보기">
									<input type="file" name="" class="upload-set-v1__file upload-hidden" title="첨부파일">
								</span>
								<input type="text" name="" class="input1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)">
							</span><!-- //upload-set-v1 -->
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">첨부파일4</th>
					<td class="table1__td">
						<div class="input__form">
							<span class="upload-set-v1 upload-set-v1_w100p">
								<span class="upload-set-v1__wrap" data-value="찾아보기">
									<input type="file" name="" class="upload-set-v1__file upload-hidden" title="첨부파일">
								</span>
								<input type="text" name="" class="input1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)">
							</span><!-- //upload-set-v1 -->
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">첨부파일5</th>
					<td class="table1__td">
						<div class="input__form">
							<span class="upload-set-v1 upload-set-v1_w100p">
								<span class="upload-set-v1__wrap" data-value="찾아보기">
									<input type="file" name="" class="upload-set-v1__file upload-hidden" title="첨부파일">
								</span>
								<input type="text" name="" class="input1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)">
							</span><!-- //upload-set-v1 -->
						</div>
					</td>
				</tr>
				<tr class="table1__tr">
					<th class="table1__th">비밀번호</th>
					<td class="table1__td">
						<div class="input__form">
							<input type="password" class="input1 wd240">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div><!-- //delete__table -->
	<div class="center__group mt40">
		<a href="" class="btn btn1 wd80">확인</a>
		<a href="" class="btn btn2 wd80">취소</a>
	</div>
</div>
