<%
	page = "page4"
	sub = 5
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="cartoon">
	<ul class="cartoon__list">
		<li class="cartoon__item">
			<a href=""><span class="cartoon__border"><img src="../../images/content/page4/cartoon01.jpg" alt="" class="cartoon__img"></span></a>
			<div class="cartoon__box">
				<a href=""><span class="cartoon__tit">따스한 손길을 내밀어주세요<span class="viewCntIcon type-f14">(3)</span></span></a>
				<div class="cartoon__info contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
			</div>
		</li>
		<li class="cartoon__item">
			<a href=""><span class="cartoon__border"><img src="../../images/content/page4/cartoon01.jpg" alt="" class="cartoon__img"></span></a>
			<div class="cartoon__box">
				<a href=""><span class="cartoon__tit">따스한 손길을 내밀어주세요<span class="viewCntIcon type-f14">(3)</span></span></a>
				<div class="cartoon__info contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
			</div>
		</li>
		<li class="cartoon__item">
			<a href=""><span class="cartoon__border"><img src="../../images/content/page4/cartoon01.jpg" alt="" class="cartoon__img"></span></a>
			<div class="cartoon__box">
				<a href=""><span class="cartoon__tit">따스한 손길을 내밀어주세요<span class="viewCntIcon type-f14">(3)</span></span></a>
				<div class="cartoon__info contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
			</div>
		</li>
		<li class="cartoon__item">
			<a href=""><span class="cartoon__border"><img src="../../images/content/page4/cartoon01.jpg" alt="" class="cartoon__img"></span></a>
			<div class="cartoon__box">
				<a href=""><span class="cartoon__tit">따스한 손길을 내밀어주세요<span class="viewCntIcon type-f14">(3)</span></span></a>
				<div class="cartoon__info contentsInfo">
					<span class="contentsInfo-writer">동물자유연대</span>
					<span class="contentsInfo-viewCnt">105</span>
					<span class="contentsInfo-goodCont">77</span>
				</div>
			</div>
		</li>
	</ul>
	<ul class="board__listPageing">
		<li>
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li class="board__pageingPrevBtn">
			<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
		</li>
		<li><a href="#n">1</a></li>
		<li><a href="#n">2</a></li>
		<li><a href="#n">3</a></li>
		<li><a href="#n">4</a></li>
		<li><a href="#n">5</a></li>
		<li class="board__pageingNextBtn">
			<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
		</li>
		<li>
			<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
		</li>
	</ul>
	<div class="board__search">
		<form>
			<div class="board__select">
				<select>
					<option>제목</option>
					<option>작성자</option>
					<option>내용</option>
				</select>
			</div>
			<div class="board__keyword"><input type="text" /></div>
			<div class="board__searchBtn"><input type="submit" /></div>
			<a href="" class="btn btn2 fl_r">쓰기</a>
		</form>
	</div>
</div>
