<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>길고양이 | 동물자유연대</title>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script> -->
	<script type="text/javascript" src="../../js/webfont.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.bxslider.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.dotdotdot.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script type="text/javascript" src="../../js/page1.js"></script>
	<script type="text/javascript" src="../../js/jquery.combo.select.js"></script>
	<link rel="stylesheet" href="../../css/libs/normalize.css">
	<link rel="stylesheet" href="../../css/libs/jquery.bxslider.css">
	<link rel="stylesheet" href="../../css/libs/flexslider.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="../../css/page2.css">
	<link rel="stylesheet" href="../../css/combo.select.css">
</head>

<body>



	<div class="common__streetCatBg"><img src="../../images/content/companionAnimals2Bgtest.jpg" alt="길고양이 팝업 테스트배경" /></div>
	<div class="common__grayBg"></div>
	<div class="popup">
		<div class="popup__wrap">
			<div class="popup__title">
				동물보호법
				<a href="#n"><img src="../../images/content/popupClose.png" alt="팝업닫기" /></a>
			</div>
			<div class="popup__content">
				<div class="popup__contentBox">
					<span class="popup__H1">제8조(동물학대 등의 금지)</span> ① 누구든지 동물에 대하여 다음 각 호의 행위를 하여서는 아니 된다.
					<개정 2013.3.23, 2013.4.5><br>
						<ul>
							<li>1. 목을 매다는 등의 잔인한 방법으로 죽이는 행위</li>
							<li>2. 노상 등 공개된 장소에서 죽이거나 같은 종류의 다른 동물이 보는 앞에서 죽이는 행위</li>
							<li>3. 고의로 사료 또는 물을 주지 아니하는 행위로 인하여 동물을 죽음에 이르게 하는 행위</li>
							<li>4. 그 밖에 수의학적 처치의 필요, 동물로 인한 사람의 생명·신체·재산의 피해 등 농림축산식품부령으로 정하는 정당한 사유 없이 죽이는 행위</li>
						</ul>
						② 누구든지 동물에 대하여 다음 각 호의 학대행위를 하여서는 아니 된다.
						<개정 2013.3.23><br>
							<ul>
								<li>1. 도구·약물을 사용하여 상해를 입히는 행위. 다만, 질병의 예방이나 치료 등 농림축산식품부령으로 정하는 경우는 제외한다.</li>
								<li>2. 살아 있는 상태에서 동물의 신체를 손상하거나 체액을 채취하거나 체액을 채취하기 위한 장치를 설치하는 행위. 다만, 질병의 치료 및 동물실험 등 농림축산식품부령으로 정하는 경우는 제외한다.</li>
								<li>3. 도박·광고·오락·유흥 등의 목적으로 동물에게 상해를 입히는 행위. 다만, 민속경기 등 농림축산식품부령으로 정하는 경우는 제외한다.</li>
								<li>4. 그 밖에 수의학적 처치의 필요, 동물로 인한 사람의 생명·신체·재산의 피해 등 농림축산식품부령으로 정하는 정당한 사유 없이 상해를 입히는 행위</li>
							</ul>
							③ 누구든지 제14조제1항제1호 및 제2호에 해당하는 동물에 대하여 다음 각 호의 행위를 하여서는 아니 된다.<br>
							<ul>
								<li>1. 포획하여 판매하거나 죽이는 행위</li>
								<li>2. 제14조제1항에 따른 보호조치의 대상이 되는 동물임을 알면서 알선·구매하는 행위</li>
							</ul>
							④ 소유자등은 동물을 유기(遺棄)하여서는 아니 된다.<br> ⑤ 누구든지 제1항부터 제3항까지에 해당하는 행위를 촬영한 영상물을 판매·전시·전달·상영하거나 인터넷에 게재하여서는 아니 된다. 다만, 동물보호 의식을 고양시키기 위한 목적이 표시된 홍보 활동 등 농림축산식품부령으로 정하는 경우에는 그러하지 아니하다.
							<신설 2013.8.13><br>
								<br>
								<span class="popup__h1">제46조(벌칙)</span> ① 제8조제1항부터 제3항까지의 규정을 위반한 자는 1년 이하의 징역 또는 1천만원 이하의 벌금에 처한다.<br> ② 다음 각 호의 어느 하나에 해당하는 자는 500만원 이하의 벌금에 처한다.<br>
								<ul>
									<li>1. 제26조제3항을 위반하여 비밀을 누설하거나 도용한 윤리위원회의 위원</li>
									<li>2. 제30조제1호를 위반하여 거짓이나 그 밖의 부정한 방법으로 동물복지축산농장 인증을 받은 자</li>
									<li>3. 제30조제2호를 위반하여 인증을 받지 아니한 농장을 동물복지축산농장으로 표시한 자</li>
								</ul>
								③ 제8조제5항을 위반하여 영상물을 판매·전시·전달·상영하거나 인터넷에 게재한 자는 300만원 이하의 벌금에 처한다.
								<신설 2013.8.13>
									<종전 제3항은 제4항으로 이동 2013.8.13><br> ④ 다음 각 호의 어느 하나에 해당하는 자는 100만원 이하의 벌금에 처한다.
										<제3항에서 이동, 종전 제4항은 제5항으로 이동 2013.8.13><br>
											<ul>
												<li>1. 제33조에 따른 등록 및 신고 또는 제34조에 따른 신고를 하지 아니하고 영업을 한 자</li>
												<li>2. 거짓이나 그 밖의 부정한 방법으로 제33조에 따른 등록 및 신고 또는 제34조에 따른 신고를 한 자</li>
												<li>3. 제38조에 따른 영업정지기간에 영업을 한 영업자</li>
											</ul>
											⑤ 제24조를 위반하여 동물실험을 한 자는 50만원 이하의 벌금에 처한다.
											<제4항에서 이동 2013.8.13><br>
												<br>
				</div>
			</div>
		</div>
	</div>


</body>

</html>
