<%
	page = "page2"
	sub = 4
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="cat">
	<div class="animal__banner type-cat">
		<p class="animal__banner__txt">
			바람직한 반려동물 문화 조성, 동물 학대 사건 대응, 피학대 동물 구조 및<br>
			보호,유기동물 재입양, 개 식용금지, 길고양이와의 공존 등 다양한 분야에<br>
			대한 제도 정비 및 인식 개선 캠페인을 진행하고 있습니다.
		</p>
	</div>
	<h2 class="animal__tit">반려동물 길고양이</h2>
	<ul class="animal__list">
		<li class="animal__item"><a href="#content1" class="animal__link">길고양이는</a></li>
		<li class="animal__item"><a href="#content2" class="animal__link">길고양이와 함께 살기</a></li>
		<li class="animal__item"><a href="#content3" class="animal__link">길고양이 구조와 보호</a></li>
		<li class="animal__item"><a href="#content4" class="animal__link">TNR</a></li>
	</ul>
	<div class="cat__content" id="content1">
		<h3 class="cat__sub-tit">01.길고양이는</h3>
		<img src="../../images/content/page2/cat_img01.jpg" alt="고양이" class="cat__img">
		<p class="cat__txt">
			많은 사람이 길고양이 모두가 사람에게 버림받은 고양이라고 생각하곤 합니다. 하지만 길고양이는 아주 오래전부터 길에서 태어나 살아온 동물입니다. 물론 그중에는 사람에게 키워지다 집을 나오거나 버려진 경우도 있지만, 대부분 길고양이는 처음부터 길에서 나고 살아온 경우가 많습니다. <br>
			많은 사람에게 길고양이는 경계가 심하고 쓰레기봉투 근처를 기웃거리다 사람이 나타나면 다급하게 숨어버리는 모습으로 연상되곤 합니다. 하지만 길고양이에게 호의적인 외국에서는 한낮에도 사람들이 지나다니는 담벼락과 골목에서 느긋하게 낮잠을 자거나 일광욕을 하는 길고양이들을 쉽게 만날 수 있습니다. 모두 비슷한 습성을 가진 길고양이인데도 이러한 차이가 생기는 이유는 무엇일까요? 그것은 사람들이 길고양이를 대하는 태도의 차이 때문입니다.
		</p>
		<p class="cat__txt">
			우리가 주위에서 흔히 만나는 길고양이들은 스스로 안전을 지키기 위해 태어날 때부터 사람에 대한 경계부터 익히게 됩니다.<br>
			먹이와 물을 구하기 어려운 도시에서 길고양이의 삶은 하루하루 생존을 위한 전쟁입니다. <br>
			쓰레기봉투에서 찾아낸 한 조각의 음식물 쓰레기를 차지하기 위해 다툼을 하고, 갓 태어난 새끼고양이의 절반 이상은 성묘가 되기도 전에 목숨을 잃습니다. 단지 배를 채우고 싶었을 뿐인데 사람들은 쓰레기를 뒤져 길을 더럽히는 길고양이를 없애야 한다고 이야기합니다. 사방이 도로와 건물로 막힌 도시에서 안전한 곳을 찾지 못해 지하실에 새끼를 낳은 어미고양이를 밖으로 쫓아내기도 합니다. 사람들만의 세상이 되어버린 이곳에서 길고양이는 오늘도 살아내기 위해 안간힘을 쓰고 있습니다.
		</p>
		<p class="cat__txt">
			길고양이로 인해 발생하는 문제는 단순히 길고양이를 잡아 없애는 방법으로 해결할 수 없습니다. 정기적으로 사료와 물을 제공해 길고양이의 건강과 거리 위생을 관리하고, TNR 시행을 통해 적정한 개체 수를 유지하면서 공존을 위해 노력해야 합니다. 길고양이를 좋아하는 사람과 그렇지 않은 사람들이 조금씩 양보한다면 다양한 생명이 함께 살아가는 세상을 만들 수 있습니다. 길고양이에 대한 우리의 생각이 조금만 바뀐다면 길고양이 또한 사람을 두려워하지 않고 평화롭게 살아갈 수 있습니다.
		</p>
	</div><!-- //cat__content -->
	<div class="cat__content" id="content2">
		<h3 class="cat__sub-tit">02.길고양이와 함께 살기</h3>
		<h4 class="cat__subject">길고양이 돌보기</h4>
		<img src="../../images/content/page2/cat_img02.jpg" alt="고양이" class="cat__img">
		<h5 class="cat__sub-subject">사료의 양은?</h5>
		<p class="cat__txt">
			보통 성묘 한 마리당 하루 최소 반 컵 이상의 건식 사료가 필요하지만, 고양이의 크기, 계절, 그 외 여러 상황에 따라 적절한 분량의 사료를 조절해야 합니다. 너무 적은 양의 사료를 공급해 서열에 밀리는 고양이의 몫이 돌아오지 않는다면 문제지만, 길고양이가 사료에만 의존해 먹이 활동을 중단할 정도로 많은 양의 사료를 주는 것도 바람직하지 않습니다. <br>
			이사나 개인적인 사정 등으로 부득이하게 길고양이에게 밥 주는 것을 중단했을 때 길고양이가 스스로 먹이 활동을 할 수 있어야 하기 때문입니다. 따라서 길고양이에게 사료를 줄 때는 밥을 먹는 길고양이의 수, 먹는 속도 등을 살펴본 뒤 밥을 먹으러 오는 길고양이들이 다툼 없이 충분히 먹을 정도의 양을 측정해 급여하는 것이 좋습니다.
		</p>
		<h5 class="cat__sub-subject">사료를 줄 때 주의해야 할 사항은?</h5>
		<p class="cat__txt">
			길고양이에게 밥을 줄 때 가장 문제가 되는 것은 이웃과의 갈등입니다. 길고양이를 좋아하는 사람이 있는 것처럼 길고양이를 무서워하거나 좋아하지 않는 사람도 많으므로 길고양이에게 밥을 줄 때는 이웃에게 불편을 주지 않도록 주의가 필요합니다.
		</p>
		<p class="cat__txt">
			사료를 줄 때는 사람들이 많이 다니지 않는 공간과 시간을 선택하고, 밥을 먹으러 오는 길고양이가 여러 마리일 경우 한 군데에 주는 것보다 서로 싸우지 않도록 분산해서 주는 것이 좋습니다. 더불어 길고양이에게 밥을 주는 장소를 깨끗하게 관리한다면 고양이의 건강에도 도움이 되고 이웃과의 마찰도 줄일 수 있습니다.
		</p>
		<p class="cat__txt">
			또한, 밥을 줄 때는 길고양이가 야생성을 유지할 수 있도록 길고양이와 너무 친해지지 않는 것이 좋습니다.
			아직 길고양이에 대한 부정적인 인식이 강한 우리나라에서는 사람에게 친화적인 길고양이보다 경계와 야생성을 가진 길고양이가 안전한 길 생활을 할 확률이 더 높기 때문입니다.
		</p>
		<h5 class="cat__sub-subject">물</h5>
		<p class="cat__txt">
			길고양이에게는 먹이만큼이나 깨끗한 물이 중요합니다. 고양이는 사람과 달리 염분을 과잉 섭취할 경우 신장, 심장 등에 심각한 질병이 생깁니다. 보통 통통한 길고양이를 보면 잘 먹어서 살이 쪘다고 생각하지만, 사실 그중 대부분은 염분이 많은 사람들의 음식물 쓰레기를 먹고 병을 얻어 몸이 부은 것입니다.
		</p>
		<p class="cat__txt">
			먹을 것을 찾기 어려운 환경에서 길고양이들은 부득이하게 사람들이 먹다 버린 짠 음식을 먹게 되는데 물까지 제대로 마시지 못한다면 염분을 원활하게 배출하지 못해
			건강이 더욱 악화합니다. 길고양이가 도시에서 물을 구한다는 것은 쉽지 않고, 누군가 주지 않는다면 깨끗한 물을 마시는 것은 거의 불가능한 일입니다.
		</p>
		<p class="cat__txt">
			밥을 줄 때는 물도 항상 함께 챙겨주세요. 밥그릇과 마찬가지로 인적이 드문 곳에 깨끗한 물을 놓아둔다면 언제나 갈증에 시달리는 길고양이에게 물 한 모금의 행복을 선물할 수 있습니다.
		</p>
		<h4 class="cat__subject">길고양이 입양</h4>
		<p class="cat__txt">
			길에서 태어나 적응하며 야생성을 갖게 된 길고양이는 입양하는 것보다 길에서 건강하게 살 수 있도록 지원해주는 편이 바람직합니다. 하지만 사람과 함께 살다 버려지거나 집을 나와 길 생활을 하게 된 유기묘, 어미를 잃은 새끼 고양이, 사고나 질병 등으로 인해 길 생활이 어려워진 길고양이 등 입양이 필요한 경우도 있습니다. 이러한 길고양이들은 구조되어 좋은 가정으로 입양을 가는 것이 가장 바람직하지만, 구조한 길고양이의 입양을 결정하거나 다른 사람에게 입양을 보낼 때는 신중해야 합니다.
		</p>
		<p class="cat__txt">
			대부분 발견 당시 귀엽고 불쌍하다는 마음으로 구조를 결정하게 되지만 고양이와 함께 사는 것은 생각과는 조금 다를 수 있습니다. 흔히 고양이는 외로움을 타지 않아 키우기 편하다고 생각하지만 입양될 정도로 사람과 친화적인 고양이는 다른 반려동물과 마찬가지로 사람의 손길을 필요로 하므로 살뜰하게 보살펴야 합니다. 또한, 고양이는 털이 많이 빠지므로 입양 전 동물 털로 인한 알레르기가 있는지, 털 빠짐을 감당할 수 있는지 등에 대해서도 반드시 생각해야 합니다. 그 외에도 입양자 가족 모두 동의하는지, 결혼이나 출산 등 앞으로의 계획은 어떠한지, 반려묘가 아플 때 치료할 정도의 경제적 능력이 있는지 등을 충분히 생각하고 입양을 결정해야 합니다.
		</p>
		<p class="cat__txt">
			만약 이러한 고민 후 길고양이를 입양했다면 평생 함께해 주세요. 한번 사람에게 키워진 고양이는 다시 길 생활에 적응할 수 없고, 이미 입양을 기다리는 길고양이가 많은 상황에서 새로운 입양자를 찾는다는 것은 쉽지 않은 일입니다. 잘못된 선택으로 인해 여러분의 고양이가 유기동물 보호소에서 안락사되거나 길에서 비참하게 생을 마감하는 일이 없도록 신중한 결정을 부탁 드립니다.
		</p>
		<h4 class="cat__subject">동물자유연대 길고양이 유인물</h4>
		<p class="cat__txt">
			&lt;길고양이에 대한 잘못된 편견과 상식에 대해 알려드립니다. <a href="http://bit.ly/MiyUQ1">http://bit.ly/MiyUQ1</a>&gt;<br>
			&lt;길고양이와의 안전하고 따뜻한 겨울나기 <a href="http://bit.ly/19OjE9p">http://bit.ly/19OjE9p</a>&gt;<br>
			&lt;길고양이와의 공존을 위한 주민 협조문 <a href="http://bit.ly/17EX5gu">http://bit.ly/17EX5gu</a>&gt;
		</p>
		<a href="" class="cat__btn"><span>동물보호법</span></a>
	</div><!-- //cat__content -->
	<div class="cat__content">
		<h3 class="cat__sub-tit" id="content3">03.길고양이와 구조와 보호</h3>
		<img src="../../images/content/page2/cat_img03.jpg" alt="고양이" class="cat__img">
		<p class="cat__txt">
			길고양이는 영양 부족, 사고, 질병 등으로 인해 치료가 필요한 경우가 많지만, 현재 우리나라에는 소유주가 없는 길고양이를 구조해 치료, 보호하는 기관이 부재합니다.
		</p>
		<p class="cat__txt">
			동물단체에서 일정 부분 도움을 드리고 있지만, 회비로 운영되는 시민단체의 특성상 도움이 필요한 모든 길고양이를 구조한다는 것은 사실상 불가능한 일입니다. 따라서 길고양이 구조와 보호에는 구조자 본인의 책임과 의지가 함께 뒤따라야 합니다.
		</p>
		<h4 class="cat__subject mt50">다치거나 아픈 길고양이를 발견했을 때</h4>
		<p class="cat__txt">
			심각한 사고나 질병으로 인해 움직이지 못하는 길고양이라면 장갑을 끼고 담요를 이용해 구조한 뒤 이동장에 넣어 병원에서 치료를 받을 수 있도록 합니다. 치료가 필요하지만 움직이는 것이 가능하고 경계가 심해 손으로 잡을 수 없는 상황이라면 고양이 포획틀을 이용하는 것이 가장 안전합니다.<br>
			소유주가 없는 길고양이는 구조자분께서 임시보호자가 되어 검사비를 부담하지 않을 경우 동물병원에서도 무조건 받아주기 어려울 수 있습니다. 구조는 길고양이를 잡아 병원에 옮기는 것만으로 끝나는 것이 아니라 치료의 진행 방향, 치료 후 방사를 할지, 입양을 보낼지 등의 사항을 결정하는 것까지 이어집니다. 그 과정에서 동물단체가 치료비 일부 지원, 입양 공고 등의 도움을 드릴 수 있지만, 구조자분의 협조가 함께 해야 원활한 구조, 보호가 가능합니다.
		</p>
		<h4 class="cat__subject">학대당한 길고양이를 발견했을 때</h4>
		<p class="cat__txt">
			길고양이 또한 동물보호법에 의해 보호되는 동물이기 때문에 길고양이에 대한 학대 행위는 형사 처벌 대상입니다.<br>
			누군가 길고양이를 학대하는 장면을 목격했다면 즉시 경찰에 신고를 해주세요. 동물 학대의 경우 동물이 스스로 피해를 진술할 수 없으므로 사진이나 동영상 등의 증거 자료를 확보하는 것이 큰 도움이 됩니다. 만약 신고를 받은 경찰이 동물보호법에 대해 잘 모르거나 혼자 고발을 진행하기 어렵다면 동물자유연대로 연락해주세요.
		</p>
		<h4 class="cat__subject">동물자유연대 길고양이 유인물</h4>
		<p class="cat__txt">
			&lt;동물학대가 의심될때 붙여주세요. <a href="http://bit.ly/ZtY3Jv">&gt;
		</p>
	</div>
	<div class="cat__content">
		<h3 class="cat__sub-tit" id="content4">04.TNR</h3>
		<img src="../../images/content/page2/cat_img04.jpg" alt="고양이" class="cat__img">
		<p class="cat__txt">
			TNR은 길고양이 개체 수를 조절하기 위해 길고양이를 안전하게 포획(Trap)해 중성화 수술(Neuter)을 시킨 뒤 제자리 방사(Return)하는 방법으로 국내 일부 지자체에서도 시행 중입니다. TNR이 효과를 발휘하기 위해서는 단순히 중성화 수술 후 방사로 끝나는 것이 아니라 방사한 후 수술을 받은 길고양이가 건강하게 영역을 지키며 살 수 있어야 합니다. <br>
			이미 TNR이 오래전부터 진행되어온 외국에서는 중성화 수술 후 방사하는 수준을 넘어 포획(Trap), 검사(Test), 예방접종(Vaccinate), 중성화 수술(Alter), 방사(Return), 관찰(Monitor), 까지 이어지는 TTVARM으로 발전하고 있습니다. 이 모든 과정이 순조롭게 진행되고, 특히 방사 후 관리가 가능하기 위해서는 각 지역에서 길고양이를 돌보는 분들의 역할이 매우 중요합니다.
		</p>
		<h4 class="cat__subject">TNR 대상이 되는 고양이는?</h4>
		<p class="cat__txt">
			동물보호법상 길고양이는 포획해 유기동물 보호소로 입소하는 대신 중성화 수술 이후 포획한 장소에 다시 방사하도록 규정되어 있습니다. 하지만 영양 상태가 좋지 않고 수술 후 관리가 어려운 길고양이 특성상 TNR 기준에 맞는 길고양이만을 포획해야 합니다.
		</p>
		<h4 class="cat__subject">TNR 신청하기</h4>
		<p class="cat__txt">
			TNR이 길고양이 개체 수 조절 효과를 발휘하기 위해서는 수술을 받고 방사된 길고양이가 건강하게 영역을 확보해 다른 지역에서 새로운 길고양이가 유입되는 것을 방지할 수 있어야 합니다. 그래서 TNR은 단순히 중성화 수술을 하고 방사하는 것에 그치지 않고 방사 후 재정착해서 잘 살아가는지 확인하는 것이 더 중요합니다.
			만약 길고양이가 원래 포획된 지역이 아닌, 다른 지역에 방사될 경우 세력 다툼에서 밀려나 위험에 빠질 확률이 높습니다. 따라서 TNR을 신청한다면 수술이 잘 이루어지는지 확인하고, 이후 방사된 길고양이가 길에서 잘 살아갈 수 있도록 관리해야 합니다.
		</p>
		<h4 class="cat__subject">동물자유연대 길고양이 TNR 유인물</h4>
		<p class="cat__txt">&lt;길고이양에게 내일을 <a href="http://bit.ly/1bAhWG6">http://bit.ly/1bAhWG6</a>&gt;</p>
	</div><!-- //cat__content -->
</div>
