<%
	page = "page2"
	sub = 3
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="animalsExhitited">
	<div class="imageList__header">
		<h2>Animals exhitited</h2>
		<p>동물을 상업적 목적을 위해 전시하는 동물원과 수족관에 반대합니다. 전시환경 개선으로 동물 복지를 증진시키고 동물쇼, 체험전시 등으로 동물에게 신체적, 정신적 고통을 주는 일을 중단시키기 위한 캠페인 및 입법 활동을 전개합니다.</p>
		<ul>
			<li><a href="#n">ㆍ돌고래 제돌이와 약속해주세요! ></a></li>
			<li><a href="#n">ㆍ돌고래를 위해 쉽게 할 수 있는 일 ></a></li>
		</ul>
	</div>
	<div class="imageView__content">
		<div class="imageView__viewArea">
			<div class="imageView__viewTitle">
				<div class="imageView__view--subject">MBC 보도, '길고양이서 살인진드기 발견, 도심 어디서든 주의해야' 후속·정정보도를 요청합니다.</div>
				<div class="imageView__view--info">
					<div class="contentsInfo">
						<span class="contentsInfo-writer">동물자유연대</span>
						<span class="contentsInfo-date">2016.09.01 15:12</span>
						<span class="contentsInfo-viewCnt">105</span>
						<span class="contentsInfo-goodCont">77</span>
						<span class="contentsInfo-homepage"><a href="http://www.animals.or.kr" target="_blank">http://www.animals.or.kr</a></span>
					</div>
				</div>
				<div class="imageView__view--file">
					<a href="#n">동물복지축산농장 인증기준 및 인증등에 관한 세부 실시요령 제정 전문.pdf</a>
				</div>
			</div>
			<div class="imageView__viewContent">
				<div class="imageView__viewContentBox">
					2016년 7월 1일 동물자유연대 홈페이지 학대제보게시판에 아프리카TV의 유명 BJ(이하 BJ)가 방송 중 고양이를 학대했다는 제보가 쏟아져 들어 왔습니다.<br>
					<br> 해당 BJ는 인터넷 생방송 중 자신의 개를 산책시키는 장면을 촬영하고 있었습니다. BJ의 개가 길고양이를 발견했고 공격했으나 BJ는 이를 제지하지 않고 촬영을 계속이어나갔고, 결국 개가 고양이를 물고 흔든 사건이었습니다. 사고가 터지고 나서야 BJ는 카메라를 내려놓고 자신의 개를 제지했으며, 길고양이를 병원으로 데려가는 등의 조치는 커녕 제대로 살펴보지도 않고 자신의 개만 챙겨 귀가 했습니다.<br>
					<br> 이에 동물자유연대는 법률 전문가와 수의학자의 자문을 구해 동물보호법에 따라 ▲도박·광고·오락·유흥 등의 목적으로 동물에게 상해를 입히는 행위 ▲정당한 사유 없이 상해를 입히는 행위 ▲동물학대 영상물 인터넷 게재 ▲안전조치 미이행에 대해서 성동경찰서에 7월 19일 BJ를 고발하였고, BJ의 거주지인 여주경찰서로 사건이 이송되어 수사가 진행 되었습니다.<br>
					<br> 현재 사건은 피의자 조사 후 피의자의 의견이 상당히 반영되어 고의성을 찾을 수 없다는 이유로 "혐의없음(증거불충분)"으로 검찰에 넘어갔고, 검찰은 경찰조사대로 불기소처분을 내렸습니다. 물론 불기소처분에 따라 이 사건은 재판조차도 받지 못했습니다.<br>
					<br>
					<br> 동물자유연대는 검찰의 불기소처분에 대해 항고를 제기할 예정입니다. 수의사에 따르면, “아메리칸 핏불 테리어의 경우 집 밖에서 산책할 시에 입마개 착용이 의무이나 가해동물의 반려인은 이를 준수하지 않았으며 이로 인해 고양이를 무는 사고가 발생하였고 상해를 입은 피해동물을 즉시 동물병원으로 이송하지 않아 피해동물의 안위를 보장할 수 없게 되었다.” 라며 “아메리칸 핏불 테리어의 치아구조와 특성 및 무는 힘의 정도를 근거로 분석하였을
					때 피해동물에게 치명적인 손상을 입혔을 것으로 추정된다.”고 말하였습니다.<br>
					<br> 또한 SBS가 인터뷰한 판사는 "갑작스러운 돌발 상황은 주인이 제지할 수 없겠지만, 개가 물어뜯는 동안 다소 내버려 두고 지켜본 경우라면 미필적 고의나 부작위(해야 할 조처를 하지 않음) 책임을 물을 수 있을 것"이라는 견해를 내놨습니다. <br>
					<br> 해당 BJ의 생방송 후, 동물자유연대에 많은 시민들이 제보를 하였습니다. 법적으로 맹견에게 입마개를 채우도록 하는 것은 혹여 생길지도 모를 사고에 대비하기 위함입니다. 해당 BJ는 자신의 개에게 입마개를 채우지 않았으며, 곧바로 사고로 이어졌습니다. 사고 후 고양이는 전혀 움직임이 없었습니다. 고양이의 기본적인 습성 상 공격을 당한 후, 도망가는 것이 정상행동이나 피해 고양이는 전혀 움직이지 못하고 있습니다. 치명적인 신체의 손상을
					입었을 확률이 매우 높습니다.<br>
					<br> 동물자유연대는 검찰에 항고할 예정이며, 사법부의 현명한 판단을 기대해봅니다.<br>
				</div>
				<div class="imageView__snsGroup">
					<a href="#n"><img src="../../images/content/faceBookIcon.jpg" /></a>
					<a href="#n"><img src="../../images/content/twitterIcon.jpg" /></a>
				</div>
			</div>
			<div class="imageView__viewReplayWrite">
				<form>
					<div class="imageView__replyTitle">댓글달기</div>
					<div class="imageView__writerInfo">
						이름<input type="text" /> 비밀번호
						<input type="text" />
					</div>
					<div class="imageView__writeInfo">※ 운영원칙에 위배되는 글은 삭제됩니다.</div>
					<div class="imageView__writeContent">
						<div class="imageView__writeArea"><textarea></textarea></div>
						<div class="imageView__writeSubmit"><input type="submit" value="등록" /></div>
					</div>
				</form>
			</div>
			<div class="imageView__viewReplayList">
				<div class="imageView__replyTitleResult">댓글<span>2</span></div>
				<ul>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">홍길동</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">다음주부터 구체적인 공지가 나갈 예정입니다. 반려동물과 함께 참여하는 형식입니다. 많은 관심 부탁드립니다^^</div>
					</li>
					<li>
						<div class="imageView__replyItem">
							<div class="imageView__writer">동물자유연대</div>
							<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
						</div>
						<div class="imageView__replyContent">테스트 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 남산위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세 가을하늘 공활한데 높고구름없이 밝은달은 우리가슴 일편단심일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 이기상과 이맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리
							화려강산 대한사람 대한으로 길이보전하세. 테스트입니다. 댓글 테스트입니다.</div>
					</li>
				</ul>
			</div>
			<div class="imageView__viewButtonGroup">
				<div class="imageView__viewButtonLeft"><a href="#n">추천</a></div>
				<div class="imageView__viewButtonRight"><a href="#n">목록</a></div>
			</div>
		</div>
	</div>
</div>
