<%
	page = "page2"
	sub = 3
	title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
	<% layout('../_layout/_layout') -%>
<div class="dolphin">
	<div class="dolphin__title">돌고래 <span>'제돌이'</span>와의 약속,</div>
	<div class="dolphin__title2">"나는 돌고래 수족관을 관람하지 않겠습니다."</div>
	<div class="dolphin__imageArea"><img src="../../images/content/dolphin01.jpg" alt="바다를 헤엄치는 돌고래" /></div>
	<div class="dolphin__textArea">
		돌고래 ‘제돌이’를 아시나요? 2013년 여름, 서울대공원에서 쇼를 하던 제돌이는 가족들이 살고 있는 제주 바다로 돌아갔습니다.<br> 지금은 백 여 마리의 남방큰돌고래들과 함께 넓은 바다를 헤엄치며 건강하게 살고 있습니다.<br> 그러나 아직도 우리나라 수족관에서 하루하루를 힘겹게 살고 있는 수십 마리의 돌고래들이 있습니다.<br>
		<br> 우리가 돌고래 수족관의 입장권을 사는 것은, 고통스럽개 포획되어 전시되는 돌고래의 숫자를 늘리는 일입니다.<br>
	</div>
	<div class="dolphin__imageArea">
		<div class="dolphin__imageAreaLeft">
			<div class="dolphin__imageArea"><img src="../../images/content/dolphin02.jpg" alt="그물에 갇힌 돌고래" /></div>
			<div>
				일본에서는 돌고래 떼를 몰아넣고 전시할 돌고래를 포획한 뒤 나머지 돌고래들은 칼로 무참히 도살합니다. 포획되는 돌고래들은 포획 즉시 치사율이 6배나 증가할 정도로 극심한 스트레스와 고통을 받습니다.
			</div>
		</div>
		<div class="dolphin__imageAreaRight">
			<div class="dolphin__imageArea"><img src="../../images/content/dolphin03.jpg" alt="돌고래쇼 공연중인 돌고래" /></div>
			<div>
				하루에 160킬로미터 이상 수영하던 돌고래들은 하루아침에 몸을 겨우 돌릴 수 있을만한 크기에 수족관에 갇혀, 죽은 물고기를 받아먹는 대가로 쇼를 해야 합니다. 평생을 스트레스와 질병에 시달리며 살다가 수명을 다하지 못하고 숨을 거둡니다.
			</div>
		</div>
	</div>
	<div class="dolphin__promise">
		<div class="dolphin__promiseBox">
			<div class="dolphin__promiseLeft">
				<div>더 많은 돌고래들이 제돌이처럼 바다에서 행복하게 살 수 있도록, 이제는 제돌이와 약속해 주세요.</div>
				<div><span>"</span>나는 앞으로 돌고래 수족관을<br>관람하지 않겠습니다.<span>"</span></div>
				<div>
					<p>현재까지 약속해주신 분</p>
					<div>3,704</div>
				</div>
			</div>
			<div class="dolphin__promiseRight">
				<div><img src="../../images/content/dolphinPromiseTitleBg.jpg" alt="돌고래쇼에서 공연하는 돌고래모습" /></div>
				<div>
					<input type="text" placeholder="이름" />
					<input type="text" placeholder="이메일" />
					<input type="text" placeholder="남기는 말" />
				</div>
				<div><input type="submit" value="약속하기" /></div>
			</div>
		</div>
	</div>
	<div class="dolphin__work">
		돌고래를 더 적극적으로 지켜주고 싶으신가요?
		<div>돌고래를 위해 쉽게 할 수 있는 일 <a href="#n">자세히보기</a></div>
		<img src="../../images/content/dolphinBanner02.png" alt="돌고래 일러스트 이미지" />
	</div>
	<div class="imageView__viewReplayList">
		<ul>
			<li>
				<div class="imageView__replyItem">
					<div class="imageView__writer">홍길동</div>
					<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
				</div>
				<div class="imageView__replyContent">다음주부터 구체적인 공지가 나갈 예정입니다. 반려동물과 함께 참여하는 형식입니다. 많은 관심 부탁드립니다^^</div>
			</li>
			<li>
				<div class="imageView__replyItem">
					<div class="imageView__writer">동물자유연대</div>
					<div class="imageView__writeDate">2016.09.01 15:12 | <a href="#n">삭제</a></div>
				</div>
				<div class="imageView__replyContent">테스트 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 남산위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세 가을하늘 공활한데 높고구름없이 밝은달은 우리가슴 일편단심일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세 이기상과 이맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리
					화려강산 대한사람 대한으로 길이보전하세. 테스트입니다. 댓글 테스트입니다.</div>
			</li>
		</ul>
	</div>
	<div>
		<ul class="imageList__listPageing">
			<li>
				<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
			</li>
			<li class="imageList__pageingPrevBtn">
				<a href="#n"><img src="../../images/content/listFirstBtn.png" /></a>
			</li>
			<li><a href="#n">1</a></li>
			<li><a href="#n">2</a></li>
			<li><a href="#n">3</a></li>
			<li><a href="#n">4</a></li>
			<li><a href="#n">5</a></li>
			<li class="imageList__pageingNextBtn">
				<a href="#n"><img src="../../images/content/listNextBtn.png" /></a>
			</li>
			<li>
				<a href="#n"><img src="../../images/content/listLastBtn.png" /></a>
			</li>
		</ul>
	</div>
</div>
