@charset "UTF-8";
@import "variables";
@import "mixins";

// Content
//
// Styleguide 4.

// Title
//
// Styleguide 4.1

// page-tit
//
// Styleguide 4.1.1
.page-tit { margin:30px 0;color:$gray2; line-height:1; margin-left:-2px;font-size:32px;
	&:before { display:block;width:30px;margin-bottom:12px;margin-left:2px; border-top:3px solid $color1;content:''; }
}


.newTitleIcon{margin-left:10px;}
.newTitleIcon, .LockIcon{display:inline-block; vertical-align:middle;}
.newTitleIcon + .LockIcon{margin-left:10px;}
.viewCntIcon { font-size: 13px; color: #999999; padding-left: 20px; background: url("../images/content/listReplyCnt.png") 0 4px no-repeat; margin: 0 5px; }
img + .viewCntIcon{margin-left:10px; margin-right:0;}
.viewCntIcon.type-f14{font-size:14px; background: url("../images/content/listReplyCnt.png") 0 2px no-repeat;}

/*게시판*/
.board__icon{margin-right:10px; vertical-align:middle;}
.board__number{display:inline-block; width:50px; height:20px; margin-right:10px; border:1px solid #d6d6d6; background-color:#f5f5f5; font-size:12px; text-align:center; line-height:20px; box-sizing:border-box;}
.board__listPageing {text-align:center; margin:32px 0 20px 0;}
.board__listPageing li {display:inline;}
.board__listPageing li a {border:1px solid #cccccc; display:inline-block; text-align:center; width:37px; height:37px; line-height:37px;}
.board__pageingPrevBtn {margin-right:20px;}
.board__pageingNextBtn {margin-left:20px;}
.board__listPageing li a.on,
.board__listPageing li a:hover {border:1px solid #1991d7; color:#1991d7;}
.board__search {margin:0 0 0 258px;}
.board__search:after {display:block; content:""; clear:both;}
.board__select {float:left; width:120px;}
.board__select select {}
.board__keyword {float:left; margin:0 5px;}
.board__keyword input[type="text"] {width:300px; height:40px; border:1px solid #eaeaea; text-indent:10px; box-sizing:border-box;}
.board__searchBtn {float:left;}
.board__searchBtn input[type="submit"] {width:40px; height:40px; border:1px solid #1991d7; border:none; text-indent:-9999px; background:#1991d7 url("../images/content/searchIcon.png") center center no-repeat;}

.menu__select{width:120px;}

/* 이미지게시판 글보기 */
.imageView__viewArea {}
.imageView__viewTitle {margin-top:15px; padding-bottom:22px; border-bottom:1px solid #dedede;}
.imageView__viewTitle.type-bt_top{margin-top:0; padding-top:22px; border-top:1px solid #dedede;}
.imageView__view--subject {font-size:18px; color:#222222; font-weight:700;}
.imageView__view--info {margin:12px 0;}
.imageView__view--file {font-size:13px; color:#999999; padding-left:15px; background:url("../images/content/listClip.png") 0 center no-repeat;}
.imageView__view--file a {}
.imageView__view--file a:hover {color:#222;}
.imageView__viewContent {font-size:14px; color:#767676; border-bottom:1px solid #dedede;}
.imageView__viewContentBox {padding:24px; line-height:1.5;}
.imageView__viewContentBox p{margin:0; line-height:1.3;}
.imageView__snsGroup {text-align:right; margin:24px 0 40px 0;}
.imageView__snsGroup a {display:inline-block; line-height:1;}
.imageView__viewReplayWrite {padding:20px 0 10px 0;}
.imageView__viewReplayWrite:after {display:block; content:""; clear:both;}
.imageView__replyTitle {float:left; font-size:14px; color:#222222; font-weight:800; padding-right:15px; margin-right:17px;  height:32px; line-height:32px; background:url("../images/content/replyWriteIcon.jpg") right center no-repeat;}
.imageView__writerInfo {float:left; font-size:13px; color:#767676; font-weight:400;}
.imageView__writerInfo:before {content:" | "; padding-right:13px;}
.imageView__writerInfo input[type="text"] {border:1px solid #dddddd; width:100px; height:32px; line-height:32px; margin:0 10px;}
.imageView__writeInfo {float:left; font-size:13px; color:#999999; letter-spacing:-1px; height:32px; line-height:32px;}
.imageView__writeContent {position:relative; z-index:1; width:100%; float:left; margin:10px 0;}
.imageView__writeContent:after {content:""; display:block; clear:both;}
.imageView__writeArea {width:99%; border:1px solid #dddddd; overflow:hidden;}
.imageView__writeArea textarea {border:none; width:864px; height:46px; padding-left:1%;}
.imageView__writeSubmit {position:absolute; top:0px; right:0px; width:9%;}
.imageView__writeSubmit input[type="submit"] {width:100%; font-size:14px; background:#1991d7; border:1px solid #1991d7; color:#fff; height:54px;}
.imageView__viewReplayList {}
.imageView__replyTitleResult {font-size:14px; color:#222222; border-bottom:1px solid #dedede; padding:5px 0 10px 0; font-weight:700;}
.imageView__replyTitleResult span {font-size:14px; color:#1991d7; margin:0 7px;}
.imageView__viewReplayList ul {list-style:none; padding:0px; margin:0px;}
.imageView__viewReplayList ul li {border-bottom:1px solid #dedede; padding:17px 0;}
.imageView__replyItem {}
.imageView__replyItem:after {content:""; display:block; clear:both;}
.imageView__writer {float:left; font-size:13px; color:#222222; font-weight:700;}
.imageView__writeDate {float:right; font-size:13px; color:#999999;}
.imageView__replyContent {font-size:14px; color:#767676; line-height:20px; margin-top:15px;}
.imageView__viewButtonGroup {margin:26px 0 0 0;}
.imageView__viewButtonGroup:after {display:block; content:""; clear:both;}
.imageView__viewButtonLeft {float:left;}
.imageView__viewButtonRight {float:right;}
.imageView__viewButtonLeft a,
.imageView__viewButtonRight a {display:block; width:80px; height:40px; line-height:40px; font-size:14px; color:#666666; border:1px solid #666666; font-weight:700;  text-align:center; color:#666666;}
.imageView__btn{display:inline-block; width:160px; height:45px; background-color:#1991d7; line-height:45px; color:#fff; text-align:center;}
.contentsInfo {font-size:13px; color:#999999;}
.contentsInfo span {font-weight:400; padding:0 0 0 22px;}
.contentsInfo span:after {content:" | "; padding-left:5px; margin-right:5px;}
.contentsInfo span:last-child:after {content:"";}
.contentsInfo span:first-child:after {}
.contentsInfo-writer {padding:0px!important;}
.contentsInfo-date {background:url("../images/content/listWriteTime.png") 0 2px no-repeat;}
.contentsInfo-viewCnt {background:url("../images/content/listViewCnt.png") 0 center no-repeat;}
.contentsInfo-goodCont {background:url("../images/content/listGood.png") 0 center no-repeat;}
.contentsInfo-homepage {background:url("../images/content/listHomepage.png") 0 center no-repeat;}
.contentsInfo-basket {background:url("../images/content/listBasket.png") 0 center no-repeat;}
.contentsInfo-recommend {background:url("../images/content/listRecommend.png") 0 center no-repeat;}
.contentsInfo-heart {display:inline-block; width:85px; height:26px; padding-left:26px !important;color:#fff; line-height:26px; border-radius:5px; background:url("../images/content/listHeart.png") 6px center no-repeat #1991d7; box-sizing:border-box;}
.contentsInfo-homepage a:hover {color:#222;}
.imageList__contentsImage {position:absolute; top:28px; right:0px;}
.imageList__contentsImage img {width:158px; height:103px;}



/*한줄게시판*/
.board{
	&__subject{float:left;  height:100%; display:inline-block; margin:0; line-height:60px; font-size:14px;}
	&__subject:after{display:block; clear:both; content:'';}
	&__link{float:left; display:inline-block; overflow:hidden;  max-width:400px; text-overflow:ellipsis; white-space:nowrap;
		&:hover{text-decoration:underline;}
	}
	&__list{margin:0; padding:0; list-style:none; border-top:1px solid #ededed;}
	&__item{height:60px; border-bottom:1px solid #ededed; font-size:0; line-height:60px;}
	&__item:after{display:block; clear:both; content:'';}
	&__info{float:right;}
	&__span{padding:0px 10px 0px 30px; box-sizing:border-box; font-size:13px;
		& + .board__span{position:relative; border-left:1px solid #dedede;}
	}
	&__date:before{position:absolute; left:10px; top:0; bottom:0; width:15px; height:15px; margin:auto 0; background-image:url('../images/content/listWriteTime.png'); content:'';}
	&__view:before{position:absolute; left:10px; top:0; bottom:0; width:16px; height:10px; margin:auto 0; background-image:url('../images/content/listViewCnt.png'); content:'';}
	&__contact{float:right; display:inline-block; width:80px; height:40px;  line-height:40px; border:1px solid #666666; text-align:center; color:#666; font-weight:700;}
}


/*자세히보기 버튼*/
.detail{
	&__link{position:absolute; top:166px; left:30px; display:inline-block; width:150px; height:40px; border:1px solid #fff; text-align:center; font-size:14px; color:#fff; line-height:38px; box-sizing:border-box;}
	&__btn{position:relative; padding-right:20px; box-sizing:border-box;
		&:after{position:absolute; top:0; bottom:0; right:0; width:11px; height:11px; margin:auto 0; background:url('../../images/content/DetailViewBtn.png'); content:'';}
	}
}
/*삭제글 유형*/
.delete{
	&__area{text-align:center;}
	&__tit{margin:0; font-size:14px; color:#222;}
	&__banner{
		& + .delete__banner{margin-top:20px;}
	}
}
.secret{
	&__area{text-align:center;}
	&__tit{margin:0; font-size:14px; color:#222;}
	&__banner{
		& + .delete__banner{margin-top:20px;}
	}
}
.table1{width:100%; border-spacing:0; border-collapse:collapse; text-align:left;
	&__tr{border-top:1px solid #dedede;}
	&__th{padding:22px 30px; background-color:#fafafa; border-bottom:1px solid #dedede; font-size:14px; color:#222;}
	&__td{padding:22px 30px; border-bottom:1px solid #dedede;}
}
.input1 {box-sizing:border-box; height:30px; padding:5px; border:1px solid #dddddd; vertical-align:middle; font-size:14px; line-height:1;
	& + .input1{margin-left:5px;}
}
.input{
	&__form{margin:-7px 0px; font-size:0;
		&.type-another{position:relative;}
	}
	&__txt{font-size:14px; vertical-align:middle;}
	&__calender{overflow:hidden; position:relative; left:-1px; display:inline-block; text-indent:-9999px; width:30px; height:30px; background-image:url('../../images/content/calender_icon.jpg'); vertical-align:middle;}
}
.input1 + .input__txt{margin-left:10px;}
.input__calender + .input__txt{margin-left:10px;}
.input__wrap{display:inline-block;
	& + .input__wrap{margin-top:5px;}
}
.dash{margin:0px 10px; font-size:14px; vertical-align:middle;}
.button1{width:100px; border:1px solid #ddd; color:#767676; font-weight:700; background-color:#fff; cursor:pointer;}
.textarea1{height:300px; padding:5px; border:1px solid #ddd; box-sizing:border-box;}

.sub__txt{margin-left:10px; font-size:13px; vertical-align:middle;
	&.type-another{position:absolute; top:0; bottom:0; left:130px; margin:auto 0; height:20px; line-height:20px;}
}

/*common*/
.inline-block{display:inline-block !important;}
.wd60{width:60px !important;}
.wd80{width:80px !important;}
.wd100{width:100px !important;}
.wd120{width:120px !important;}
.wd160{width:160px !important;}
.wd240{width:240px !important;}
.wd250{width:250px !important;}
.wd320{width:320px !important;}
.wd460{width:460px !important;}
.wd600{width:600px !important;}
.wd704{width:704px !important;}
.wd100p{width:100% !important;}

.hg140{height:140px !important;}
.hg180{height:180px !important;}
.hg550{height:550px !important;}
.hg720{height:720px !important;}

/*margin*/
.mt0{margin-top:0px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}

/*폰트사이즈*/
.fs0{font-size:0 !important;}

.txt_c{text-align:center !important;}
.left__group{text-align:left; font-size:0;}
.center__group{text-align:center; font-size:0;}
.right__group{text-align:right; font-size:0;}
.btn + .btn{margin-left:10px;}
.btn{display:inline-block; width:120px; height:40px; text-align:center; line-height: 38px; font-size:14px; box-sizing:border-box; }
.btn1{background-color:#1991d7; color:#fff; border:1px solid #1991d7;}
.btn2{border:1px solid #666666; color:#666666;}
.btn3{background-color:#f24443; color:#fff; border:1px solid #f24443;}
.btn4{border:1px solid #cccccc; color:#767676; background-color:#fff;}

.bt{border-top:1px solid #dedede !important;}

.fl_r{float:right;}
/*tab-v1*/
.tab-v1__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;  padding:0; margin:0; /*border-collapse:collapse;*/  list-style:none;}
.tab-v1__item { -webkit-box-sizing: border-box; box-sizing: border-box; display: table-cell; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; width: 1%; height: 40px;  border-left:1px solid #151718; border-right:1px solid #3f454a; background-color: #2a2e31; color: #fff; font-size: 12px; text-align: center; vertical-align: middle; }
.tab-v1__item:first-child {border-left:none; }
.tab-v1__item:last-child {border-right:none;}
.tab-v1__item.is-active {background-color: #1991d7; }
.tab-v1__link { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; display: table-cell; width: 1000px; height: inherit; color: inherit; text-decoration: none; vertical-align: middle; }
.tab-v1__item.is-active .tab-v1__link { font-weight: 600; }


/*radio,checkbox*/
.checkbox01 + label {display: inline-block; margin-left: 5px;margin-right: 10px; font-size:14px;}
@media only screen {
	.checkbox01 { overflow: hidden; position: absolute; top:auto; width:1px; height:1px; padding: 0; margin: -1px;border: 0; clip: rect(0, 0, 0, 0);}
	.checkbox01 + label.solo.type-cart{float:left; width:0px; margin-top:15px; padding-left:12px;}
	.checkbox01 + label { position: relative; margin-left: 0; padding-left: 20px; cursor: pointer;}
	.checkbox01 + label:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 12px; height: 12px; margin: auto; border: 1px solid #dddddd; background-color: #fff; content: '';cursor: pointer;}
	.checkbox01.type-another + label:before { border:1px solid #767676;}
	.checkbox01:checked + label:after { position: absolute; top: -3px; left: 2px; bottom: 0; width: 6px; height: 4px; margin: auto; border-left:2px solid #222; border-bottom:2px solid #222;
	transform: rotate(-48deg); background-repeat: no-repeat; cursor: pointer; content: '';}
	.checkbox01 + label { margin-right: 20px;}
	.checkbox01:last-of-type + label { margin-right: 0;}
	.checkbox01.disabled + label:before {position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 12px; height: 12px; margin: auto; border: 1px solid #dddddd; background-color: #ddd; content: '';cursor: pointer;}
}
.checkbox01 + label.solo{overflow:hidden; text-indent:-9999px; min-height:12px; width:0px;}


@media only screen {
	.radio01 {overflow:hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0, 0, 0, 0);}
	.radio01 + .label01:before {content:""; position:absolute; top:4px; left:0; box-sizing:border-box; width:12px; height:12px; margin:auto; border:1px solid #666; border-radius:50%;}
	.radio01:checked + .label01:after {content:""; position:absolute; top:7px; left:3px; width:6px; height:6px; margin:auto; border-radius:50%; background:#767676;}
	.radio01 + .label01 {position:relative; font-size:14px; font-weight:500; color:#898989; padding-left:21px; display:inline-block; height:20px; line-height:20px; margin-left:0; cursor:pointer;}
	.radio01 + .label01.other { font-size:12px; color:#555; line-height:20px;}
	.radio01 + label + .radio01 + label {margin-left:20px;}
}
.radio01 + label + .radio01 {margin-left:20px;}



/* file */
.upload-set-v1 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; position:relative; height:32px;
	&_w100p { width:100%; }
	&_thumb { padding-left:31px; }
	&__input { width:100%; padding-right:150px; background-color:#fafafa;
		&:focus { border-color:#dedfde; }
	}
	&__wrap { display:inline-block; overflow:hidden; position:absolute; top:0; right:0; width:140px; height:30px; vertical-align:middle; border:1px solid #ddd; box-sizing:border-box; background-color:#fff; font-size:14px;
		&:before { content:attr(data-value); -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; left:0; top:0; right:0; bottom:0; height:1.3em; margin:auto;  color:#767676; text-align:center; line-height:1.3; }
	}
	&__file { position:absolute; top:0; right:0; height:100%; font-size:45px; opacity:0;  filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; cursor:pointer; }
}

.upload-display { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; top:0; left:0; width:32px; height:32px; border:1px solid #dedfde; }
.upload-thumb { position:absolute; top:0; left:0; bottom:0; right:0; margin:auto; max-width:100%; }




/*팝업*/
.popup {background:#fff; z-index:101; position:fixed; font-size:13px; width:708px; height:575px; top:0;left:0;right:0;bottom:0; margin:auto;}
.popup__title {position:relative; z-index:1; background:#1991d7; font-size:24px; color:#fff; padding:11px; text-align:center;}
.popup__title a {float:right;}
.popup__content {margin:22px 16px; font-size:13px; color:#666666; height:481px; border:1px solid #e5e5e5; line-height:20px; overflow-y:scroll; letter-spacing:-1px;}
.popup__wrap3{padding:40px 20px; box-sizing:border-box;}
.popup__wrap2 {display:table; width:100%; height:430px; padding:30px; box-sizing:border-box;}
.popup__content2{display:table-cell; width:1%; border:1px solid #ededed; background-color:#fafafa; vertical-align:middle; text-align:center;}
.popup__contentBox {margin:22px 16px;}
.popup__h1 {display:block; font-size:13px; color:#222222; font-weight:700; margin:0 0 10px 0;}
.popup__contentBox ul {list-style:none; padding:0 0 0 15px; margin:0 0 10px 0;}
.popup__contentBox ul li {padding-left:12px; text-indent:-12px;}
.popup{
	&__dl{display:inline-block;width:350px; font-size:0;}
	&__dt{float:left; color:$gray2; font-size:14px; line-height:30px;}
	&__dd{margin-left:100px; line-height:30px;
		& + .popup__dt{margin-top:5px;
			& + .popup__dd{margin-top:5px;}
		}
	}
	&__subject{margin:40px 0 0; font-size:18px; color:#222; }
	&__txt{margin:0; font-weight:700; color:#000022;}
}

/*팝업bg*/
.common__grayBg {display:block; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.8; filter:alpha(opacity=80); z-index:100;}



/*동물*/
.animal{
	&__banner{display:table-cell; height:180px; width:1%; padding:0px 380px 0px 20px;  vertical-align:middle; box-sizing:border-box; color:#fff; line-height:1.7;
		&__txt{font-size:14px;}
		&.type-cat{background:url('../images/content/board_tit_bg01.jpg') no-repeat center center;}
		&.type-animal{height:190px; background:url('../images/content/board_tit_bg02.jpg') no-repeat center center;}
	}
	&__banner-tit{position:relative; padding-left:20px; line-height:1.1;
		&:before{position:absolute; top:0; bottom:0; left:0; width:16px; height:16px; background-image:url('../images/content/adandon_icon2.png'); content:'';}
	}
	&__tit{margin:40px 0px; font-size:24px; color:#222;}
	&__list{margin:0; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:25%; height:45px; padding-left:30px; border-bottom:1px solid #e9e9e9; line-height:45px; text-align:center; box-sizing:border-box; font-size:14px; color:#333; font-weight:700;
		&:first-child{padding-left:0;}
	}
	&__link{position:relative; display:block; width:100%; box-sizing:border-box;
		&:after{position:absolute; left:0; bottom:0; display:none; width:100%; border-bottom:3px solid $color1; content:'';}
		&:hover{color:$color1;
			&:after{display:block;}
		}
	}
	&__content{margin-top:40px;
		&:after{display:block; clear:both; content:'';}
	}
}



/* 조직도 */
.organ {}
.organ__content {text-align:center;}
.organ__list {margin:60px 0;}
.organ__list h3 {font-size:18px; color:#222; text-align:left;}
.organ__list table {width:100%; border-collapse:collapse;}
.organ__list.type-another{margin:0;}
.organ__list.type-another table {text-align:center;}
.organ__col-type {width:25%;}
.organ__col-name {width:12.5%;}
.organ__col-position {width:12.5%;}
.organ__col-number {width:25%;}
.organ__col-email {width:25%;}
.organ__col-type2 {width:25%;}
.organ__col-name2 {width:25%;}
.organ__col-position2 {width:25%;}
.organ__col-email2 {width:25%;}
.organ__list table thead tr th {background:#fafafa; border:1px solid #222; border-top:2px solid #222; color:#222; font-size:16px; line-height:33px;}
.organ__list table thead tr th:first-child {border-left:none;}
.organ__list table thead tr th:last-child {border-right:none;}
.organ__list table tbody tr th,
.organ__list table tbody tr td {line-height:33px; font-size:14px; color:#767676; border:1px solid #d6d6d6;}
.organ__list table tbody tr th {background:#fafafa; border-left:none;}
.organ__list table tbody tr td:last-child {border-right:none;}


/* 이미지게시판 */
.imageList__header {border:1px solid #cfdbe2; min-height:228px; padding:0 20px 0 240px;}
.imageList__header h2 {font-size:24px; color:#333333; margin-top:37px;}
.imageList__header p {font-size:14px; color:#666666; margin:-5px 0 1em 0;}
.imageList__header ul {list-style:none; padding:0px; margin:0px;}
.imageList__header ul:after {display:block; clear:both; content:"";}
.imageList__header ul li {float:left; width:33.33%; line-height:22px;}
.imageList__header ul li a {font-size:14px; color:#1991d7; letter-spacing:-1px;}
.imageList__content {}
.imageList__listArea {list-style:none; padding:0px; margin:0px;}
.imageList__listArea li {position:relative; z-index:1; padding:28px 0; border-bottom:1px solid #ededed;}
.imageList__listTitle {position:relative; z-index:1;  font-size:14px; color:#767676; font-weight:700;  height:16px; }
.imageList__listTitle-link{float:left; display:inline-block; overflow:hidden; max-width:630px; height:20px; line-height:20px; text-overflow:ellipsis; white-space:nowrap;}
.newTitleIcon {vertical-align:middle;}
.imageList__description {display:block; font-size:14px; color:#767676; margin:17px 0; line-height:20px; width:750px; height:42px;}
.imageList__description:hover {text-decoration:underline;}
.board__all{border-top:1px solid #ededed;margin-top:40px;}/*추가보드 여백조정*/
.board__all.type-another{border-top:none;}
/*사진게시판*/
.photo{
	&__list{list-style:none; margin:-10px 0px 0px -30px; padding:0; padding-bottom:30px; border-bottom:1px solid #e5e5e5; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:25%; margin-top:30px; padding-left:30px; text-align:center; box-sizing:border-box;}
	&__img{display:inline-block; vertical-align:middle;}
	&__tit{display:block; margin:20px 0 0;font-size:14px; font-weight:400; line-height:1; text-align:left;}
	&__info{margin-top:44px;text-align:left;}
}

.subMenu{margin:35px 0 0px; padding:0; padding:15px 0px; border-bottom:1px solid #e5e5e5; box-sizing:border-box; list-style:none;
	&__link{float:left; display:inline-block; padding-right:15px; font-size:13px;
		& + .subMenu__link:before{display:inline-block; padding-right:15px; color:#76767; content:'|'}
		&:first-child{padding-left:15px;}
		&:hover{color:$color1;}
	}
	&:after{display:block; clear:both; content:'';}
}

/*약관*/
.terms{
	&__tit{margin:40px 0px 0px; font-size:24px; font-weight:700; color:#222;}
	&__box{overflow:auto; width:100%; height:200px; margin-top:20px; padding:20px; border:1px solid #cccccc; font-size:13px; box-sizing:border-box; line-height:1.5;}
}

/*이미지 슬라이드*/
.imgSlide{
	&__banner{position:relative; height:280px;}
	&__list{padding:0; margin:0;list-style:none;}
	&__btn{position:absolute; top:0; bottom:0; overflow:hidden; width:50px; height:60px; background:url('../images/content/page5/sponsor_btn.png') no-repeat; margin:auto 0; text-indent:-9999px;}
	&__btn-prev{left:0;}
	&__btn-next{right:0; background-position:-50px 0px;}
}

/*사이드 배너*/
.side__banner img{width:100%;}
