@charset "UTF-8";
@import "variables";
@import "mixins";
html,body {height:100%;}
body { background-color:#fff; }

// Layout
//
// Styleguide 3.

// Layout
//
// 기본 레이아웃입니다.<br>
// *fixed footer* 효과를 위해 `display:table`, `display:table-row`로 되어 있습니다.
//
// ```
// .wrapper {display:table;}
// .wrapper__row {display:table-row;}
// .wrapper__row.type-full-height {height:100%;}
// ```
// 화면이 스크롤시 `data-header="true"`속성을 가지고 있는 요소들의 기준으로 `id="fixedHeader"`와 `id="fixedSidebar"`가 화면에 고정됩니다.
//
// Markup:
// <div class="wrapper" id="AnimalsWrap">
// 	<div class="wrapper__row">
// 		<div class="header" data-header="true">
// 			<!-- Header 영역 -->
// 		</div><!-- //header -->
// 	</div>
// 	<div class="wrapper__row type-full-height">
// 		<div class="container">
// 			<div class="page-visual" data-header="true">
// 				<!-- 비쥬얼 영역 -->
// 			</div><!-- //page-visual -->
// 			<div class="page-header" id="fixedHeader">
// 				<!-- 스크롤 고정 헤더 -->
// 			</div><!-- //page-header -->
// 			<div class="content" id="AnimalsContent">
// 				<!-- 컨텐츠 영역 -->
// 			</div><!-- //content -->
// 			<div class="sidebar" id="fixedSidebar">
// 				<!-- 사이드바 영역 -->
// 			</div><!-- //sidebar -->
// 		</div><!-- //container -->
// 	</div>
// 	<div class="wrapper__row">
// 		<div class="footer">
// 			<!-- Footer 영역 -->
// 		</div><!-- //footer -->
// 	</div>
// </div><!-- //wrapper -->
//
// Styleguide 3.1
.wrapper { overflow:hidden; display:table; width:100%; height:100%; table-layout:fixed;
	&__row { display:table-row; width:100%;
		&:before,
		&:after { display:table-cell; width:50%; content:''; }
		&.type-full-height { height:100%; }
	}
}

// Skip
//
// 키보드로 컨텐츠 영역을 바로갈 수 있는 skip 링크 입니다. `body` 최상단에 위치합니다.
//
// Markup:
// <body>
// 	<div class="skip"></div>
// 	<div class="wrapper"></div>
// </body>
//
// Styleguide 3.2

.skip { position:absolute; top:0; left:0; right:0;
	a { display:block; overflow:hidden; max-height:0; text-align:center; background-color:$color1; color:#fff;
		&:focus { max-height:200px; padding:5px; }
	}
}

// Header
//
// Header 구성
//
// Markup:
// <div class="header" data-header="true">
// 	<h1 class="site-logo">
// 		<!-- 사이트 로고 -->
// 	</h1>
// 	<div class="header__row">
// 		<div class="header-social">
// 			<!-- 소셜 링크 -->
// 		</div><!-- //header-social -->
// 		<div class="user-link">
// 			<!-- 사용자 링크 -->
// 		</div><!-- //user-link -->
// 	</div>
// 	<div class="gnb">
// 		<!-- 주메뉴 -->
// 	</div><!-- //gnb -->
// </div><!-- //header -->
//
// Styleguide 3.3
.header {display:table-cell;z-index:900;position:relative;width:$site-width; height:100px;background-color:#fff;
	&:after {position:absolute;bottom:-1px;left:-1000px;right:-1000px;border-bottom:1px solid $color1;content:'';}
	&__row {display:table;z-index:1;position:relative;width:100%;min-height:40px;color:#fff;
		&:before { z-index:-1; position:absolute; background-color:#1991d7; top:0;bottom:0;left:-1000px; right:-1000px; content:''; }
	}
}

// Site Logo
//
// 사이트 로고
//
// Markup:
//  <div class="header" data-header="true">
//  	<h1 class="site-logo"><a href="../main/main.html" class="site-logo__link"><img src="../../images/layout/site-logo.png" alt="동물자유연대"></a></h1>
//  	<div class="header__row">
//  		<!-- 소셜 링크, 사용자 링크 -->
//  	</div>
//  </div><!-- //header -->
//
// Styleguide 3.3.1

.site-logo {overflow:hidden;z-index:900;position:absolute;bottom:0;left:0;height:60px;margin:0;
	&__link {display:block;height:100%;}
}

// Social Link Group (Header)
//
// 소셜링크 모음<br>
// [Scott Kellum Method IR](http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/) 사용
//
//Markup:
//  <div class="header__row">
//  	<ul class="header-social__list">
//  		<li class="header-social__item nth-1"><a href="http://blog.naver.com/animalkawa" target="_blank" class="header-social__link">Blog</a></li>
//  		<li class="header-social__item nth-2"><a href="https://twitter.com/animalkorea" target="_blank" class="header-social__link">Twiter</a></li>
//  		<li class="header-social__item nth-3"><a href="https://www.facebook.com/animalkorea" target="_blank" class="header-social__link">Facebook</a></li>
//  		<li class="header-social__item nth-4"><a href="#" target="_blank" class="header-social__link">Instagram</a></li>
//  		<li class="header-social__item nth-5"><a href="#" target="_blank" class="header-social__link">Kakao Story</a></li>
//  	</ul>
//  </div><!-- //header__row -->
//
// Styleguide 3.3.2
.header-social { display:table-cell;vertical-align:middle;
	$this:&;
	&__list {overflow:hidden;margin:0;padding:0;list-style:none; }
	&__item {float:left;}
	&__link {display:block;width:40px;height:40px;background:url(../images/layout/sp-header-social.png) no-repeat; @include ir-sk;
		@for $i from 1 through 5 {
			#{$this}__item.nth-#{$i} & {background-position:(-40px*$i)+40px 0;}
		}
	}
}

// User Link Group
//
// 사용자 링크 모음<br>
// 검색은 `type-ico` *class* 삽입하여 [Scott Kellum Method IR](http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/) 기법으로 별도 처리
//
//Markup:
//  <div class="header__row">
//  	<div class="user-link">
//  		<a href="" class="user-link__item">Home</a>
//  		<a href="" class="user-link__item">로그아웃</a>
//  		<a href="" class="user-link__item">정보수정</a>
//  		<a href="" class="user-link__item">쪽지함</a>
//  		<a href="" class="user-link__item">English</a>
//  		<a href="" class="user-link__item type-ico">검색</a>
//  	</div><!-- //user-link -->
//  </div>
//
// Styleguide 3.3.3
.user-link {display:table-cell;height:inherit;vertical-align:middle;text-align:right;text-transform:uppercase;font-size:0;
	&__item {position:relative;display:inline-block;margin:0 14px 0 15px;font-size:12px;vertical-align:middle;
		&:focus,
		&:hover { padding-top:1px;border-bottom:1px solid #fff;}
		&:before { position:absolute;top:0;bottom:0;left:-15px;height:10px;margin:auto;border-left:1px solid #8cc8eb; content:''; pointer-events:none;}
		&:first-child:before { border-width:0;}
		&.type-ico { display:inline-block;width:40px;height:40px;margin:0;background:url(../images/layout/sp-user-link.png) no-repeat; @include ir-sk;
			&:focus,
			&:hover { padding-top:0;border-bottom:none; }
			&:before {display:none;}
		}
	}
}

// Global Navigation Bar
//
// 주메뉴<br>
// 같은 간격 배치를 위해 `text-align:justify`사용
//
// ```
// .gnb__depth1-list {text-align:justify;}
// .gnb__depth1-list:after {display:inline-block;width:100%;content:'';}
// .gnb__depth1-item {display:inline-block;}
// ```
//
//Markup:
//  <div class="header" data-header="true">
//  	<h1 class="site-logo"></h1>
//  	<div class="header__row">
//  		<!-- 소셜 링크, 사용자 링크 -->
//  	</div>
//  	<div class="gnb">
//  		<h2 class="gnb__tit">주메뉴</h2>
//  		<ul class="gnb__depth1-list">
//  			<li class="gnb__depth1-item nth-1"><a href="#" class="gnb__depth1-link">단체소개</a></li>
//  			<li class="gnb__depth1-item nth-2"><a href="#" class="gnb__depth1-link">주요활동</a></li>
//  			<li class="gnb__depth1-item nth-3"><a href="#" class="gnb__depth1-link">교육안내</a></li>
//  			<li class="gnb__depth1-item nth-4"><a href="#" class="gnb__depth1-link">후원안내</a></li>
//  			<li class="gnb__depth1-item nth-5"><a href="#" class="gnb__depth1-link">참여게시판</a></li>
//  			<li class="gnb__depth1-item nth-6"><a href="#" class="gnb__depth1-link">반려동물복지센터</a></li>
//  		</ul>
//  	</div><!-- //gnb -->
//  </div><!-- //header -->
//
// Styleguide 3.3.4
.gnb { margin-left:230px;
	&__tit {@include hidden;}
	&__depth1-list {overflow:hidden;height:60px;margin:0;padding:0;list-style:none;text-align:justify;margin-bottom:-2em;
		&:after{display:inline-block;width:100%;content:'';}
	}
	&__depth1-item {display:inline-block; vertical-align:top;}
	&__depth1-link {box-sizing:border-box;display:table-cell;height:60px;padding:5px;vertical-align:middle;font-size:16px;color:$gray2;font-weight:bold; border-bottom:3px solid #fff; box-sizing:border-box;
		&.is-active{border-bottom:3px solid #1891d6;}
	}
	&__depth2-list {display:none; position:absolute; z-index:150; margin:0; padding:0; font-size:13px; color:#767676; background-color:#fff; list-style:none; text-align:center;
		&.nth-1{left:246px;}
		&.nth-2{left:360px;}
		&.nth-3{left:515px;}
		&.nth-4{left:634px;}
		&.nth-5{left:774px;}
		&.nth-6{left:914px;}
		&.nth-7{left:1101px;}
	}
	&__depth2-item {display:block; height:30px; line-height:30px;}
	&__depth2-link {display:block; height:100%;}
	&__depth2-link:hover{color:$color1;}
	&__bg{display:none; position:absolute; top:99px; left:0px;width:100%; z-index:100; height:270px; background-color:#fff;  color:#fff;text-indent:-9999px; border-bottom:1px solid #1891d6;
		&:before { position: absolute; left: -1200px; width: 1200px; display: block; height: 270px; background-color: #fff; border-bottom:1px solid #1891d6; content: ''; }
		&:after { position: absolute; right: -1200px; width: 1200px; display: block; height: 270px; background-color: #fff; border-bottom:1px solid #1891d6; content: ''; }
	}
}

// Footer
//
// Footer 구성
//
// Markup:
//  <div class="footer">
//  	<div class="footer__row">
//  		<div class="footer-family">
//  			<!-- 관련사이트 -->
//  		</div><!-- //footer-family -->
//  		<div class="footer-social">
//  			<!-- 소셜링크 -->
//  		</div><!-- //footer-social -->
//  		<div class="go-to-top">
//  			<!-- 맨 위로 -->
//  		</div><!-- //go-to-top -->
//  	</div>
//  	<p class="site-info">
//  		<!-- 사이트 정보 -->
//  	</p>
//  </div><!-- footer -->
//
// Styleguide 3.4
.footer {position:relative;z-index:800;display:table-cell;width:1200px;background-color:#fff;height:152px;
	&:before {position:absolute;top:0;left:-1000px;right:-1000px;border-top:1px solid #d6d6d6;content:'';}
	&__row {position:relative;display:table;width:100%;min-height:50px;padding-bottom:1px;
		&:after {position:absolute;bottom:0;left:-1000px;right:-1000px;border-bottom:1px solid #d6d6d6;content:'';}
	}
}

// Family Site
//
// 관련사이트 링크 모음
//
// Markup:
//  <div class="footer">
//  	<div class="footer__row">
//  		<div class="footer-family">
//  			<h2 class="hidden">관련사이트</h2>
//  			<ul class="footer-family__list">
//  				<li class="footer-family__item"><a href="http://www.savedogs.or.kr/" target="_blank" class="footer-family__link">다름노</a></li>
//  				<li class="footer-family__item"><a href="http://www.benicetobunnies.org/" target="_blank" class="footer-family__link">화장품 동물실험반대</a></li>
//  				<li class="footer-family__item"><a href="http://www.animals.or.kr/harpseal/" target="_blank" class="footer-family__link">하프물범</a></li>
//  				<li class="footer-family__item"><a href="http://www.animal.go.kr/" target="_blank" class="footer-family__link">동물보호관리시스템</a></li>
//  			</ul>
//  		</div><!-- //footer-family -->
//  	</div>
//  </div><!-- footer -->
//
// Styleguide 3.4.1
.footer-family { display:table-cell;vertical-align:middle;line-height:1;
	&__list {margin:0;padding:0;list-style:none;}
	&__item {float:left;padding-right:30px;color:$gray1;font-size:16px;font-weight:bold;
		&:before {float:left; height:14px; margin-top:1px; margin-right:30px;border-left:1px solid #d6d6d6;content:'';}
		&:first-child:before { border-left:none;}
	}
	&__link {}
}

// Social Link Group (Footer)
//
// 소셜링크 모음<br>
// [Scott Kellum Method IR](http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/) 사용
//
// Markup:
//  <div class="footer">
//  	<div class="footer__row">
//  		<div class="footer-social">
//  			<h2 class="hidden">소셜링크</h2>
//  			<ul class="footer-social__list">
//  				<li class="footer-social__item nth-1"><a href="http://blog.naver.com/animalkawa" target="_blank" class="footer-social__link">Blog</a></li>
//  				<li class="footer-social__item nth-2"><a href="https://twitter.com/animalkorea" target="_blank" class="footer-social__link">Twiter</a></li>
//  				<li class="footer-social__item nth-3"><a href="https://www.facebook.com/animalkorea" target="_blank" class="footer-social__link">Facebook</a></li>
//  				<li class="footer-social__item nth-4"><a href="#" target="_blank" class="footer-social__link">Instagram</a></li>
//  				<li class="footer-social__item nth-5"><a href="#" target="_blank" class="footer-social__link">Kakao Story</a></li>
//  			</ul>
//  		</div><!-- //footer-social -->
//  	</div>
//  </div><!-- footer -->
//
// Styleguide 3.4.2
.footer-social { display:table-cell;vertical-align:middle;text-align:right;
	$this:&;
	&__list {overflow:hidden;display:inline-block;margin:0;padding:0;list-style:none;vertical-align:middle;}
	&__item {float:left;margin-left:10px;
		&:first-child { margin-left:0;}
	}
	&__link {display:block;width:32px;height:32px;background:url(../images/layout/sp-footer-social.png) no-repeat; @include ir-sk;
		@for $i from 1 through 5 {
			#{$this}__item.nth-#{$i} & {background-position:(-32px*$i)+32px 0;}
		}
	}
}
// Go To Top
//
// 위로가기<br>
// 부드러운 스크롤 적용
// ```
//  $("#goToTop").on('click', function(e) {
//  	e.preventDefault();
//  	$('html, body').animate({
//  		scrollTop: 0
//  	}, 300);
//  });
// ```
//
// Markup:
//  <div class="footer">
//  	<div class="footer__row">
//  		<div class="go-to-top">
//  			<a href="#" class="go-to-top__link" id="goToTop">탑</a>
//  		</div><!-- //go-to-top -->
//  	</div>
//  </div><!-- footer -->
//
// Styleguide 3.4.3
.go-to-top {display:table-cell;width:100px;vertical-align:middle;text-align:right;
	&__link {display:inline-block;width:50px;height:50px;background:$color1 url(../images/layout/btn-go-to-top.png) no-repeat; @include ir-sk;vertical-align:middle;}
}

// Site Info
//
// 사이트 정보<br>
//
// Markup:
//  <div class="footer">
//  	<div class="footer__row">
//  	</div>
//  	<p class="site-info">
//  		<span class="site-info__item">주소 : 서울특별시 성동구 행당로 17길 1-77 (우04714)</span>
//  		<span class="site-info__item">고유번호 : 206-82-06985</span>
//  		<span class="site-info__item">대표 : 조희경</span>
//  		<span class="site-info__item">개인정보관리담당자 : 조희경</span><br>
//  		<span class="site-info__item">전화 : 02-2292-6337</span>
//  		<span class="site-info__item">팩스 : 02-2292-6339</span>
//  		<span class="site-info__item">이메일 : admin@animals.or.kr</span><br>
//  		<span class="site-info__item">Copyright © 2016 동물자유연대. All rights reserved.</span>
//  	</p><!-- site-info->
//  </div><!-- footer -->
//
// Styleguide 3.4.4
.site-info { display:table-cell;height:100px;vertical-align:middle;line-height:1.5;
	&__item {display:inline-block;margin-right:20px;}
}

// Container
//
// 공통 컨텐츠 영역<br>
// 컨텐츠 바로가기를 위해 `id="AnimalsContent"`를 선언합니다.<br>
// 화면이 스크롤시 `data-header="true"`속성을 가지고 있는 요소들의 기준으로 `id="fixedHeader"`와 `id="fixedSidebar"`가 화면에 고정됩니다.
//
// ```
//  <body>
//  	<div class="skip">
//  		<a href="#AnimalsContent">본문 바로가기</a>
//  	</div><!-- //skip -->
//  	<div class="wrapper">
//  		<!-- 컨텐츠 -->
//  	</div><!-- wrapper -->
//  </body>
// ```
//
// ```
//  $(window).on("scroll", function(e) {
//  	var h = 0;
//  	$("[data-header='true']").each(function(){
//  		h = h + $(this).height();
//  	})
//  	if ($(this).scrollTop() > h) {
//  		$("#fixedHeader").addClass("js-fixed");
//  		$("#fixedSidebar").addClass("js-fixed");
//  	} else {
//  		$("#fixedHeader").removeClass("js-fixed");
//  		$("#fixedSidebar").removeClass("js-fixed");
//  	}
//  });
// ```
//
// Markup:
//  <div class="container">
//  	<div class="page-visual" data-header="true">
//  		비쥬얼 영역
//  	</div><!-- //page-visual -->
//  	<div class="page-header" id="fixedHeader">
//  		<!-- 스크롤 고정 헤더 -->
//  	</div><!-- //page-header -->
//  	<div class="content" id="AnimalsContent">
//  		<!-- 컨텐츠 영역 -->
//  	</div><!-- //content -->
//  	<div class="sidebar" id="fixedSidebar">
//  		<!-- 사이드바 영역 -->
//  	</div><!-- //sidebar -->
//  </div><!-- //container -->
//
// Styleguide 3.5
.container {z-index:500;position:relative;display:table-cell; padding-bottom:100px;
	&:before,
	&:after {position:absolute;top:0;bottom:0;border-left:1px solid #d6d6d6;content:'';}
	&:before{right:$column-width;}
	&:after {right:0;}
}

.page-visual {z-index:500;position:relative;height:140px;
	&:before {z-index:-1;position:absolute;top:0;left:-1000px;right:-1000px;display:block;height:100%;margin:auto;background:url('../images/common/page_visual1.jpg') no-repeat center center;content:''; }
}

.page-header {z-index:900;position:relative;height:46px;background-color:#fff;
	&:before {position:absolute;bottom:0;left:-1000px;right:-1000px;height:45px;border-bottom:1px solid #d6d6d6;background-color:#fff;content:'';}
	&.js-fixed {position:fixed;top:0;left:0;right:0;width:$site-width;margin:auto;}
}

// Breadcrumb
//
// 사이트 이동 경로<br>
// 기본 사이트 이동 경로 위에 *depth*별 메뉴(`crumb-menu`) 노출<br>
// *script* 활용 하여 `data-id="crumbMenuBtn"`에 `tabindex="0"`생성 후 *click*, *kepress* *event* 적용
//
// ```
//  var crumbBtn = $("[data-id='crumbMenuBtn']");
//  $(crumbBtn).each(function(){
//  	var _this = $(this);
//  	_this.attr("tabindex","0");
//  	_this.on("click keypress",function(e){
//  		e.stopPropagation();
//  		if ((e.keyCode == 13)||(e.type == 'click')) {
//  			if ($(this).next().hasClass("js-active")) {
//  				$(this).next().removeClass("js-active");
//  			} else {
//  				$(crumbBtn).next().removeClass("js-active");
//  				$(this).next().addClass("js-active");
//  			}
//  		}
//  	});
//  	_this.next().find("a").last().on("blur",function(e){
//  		console.log("last");
//  		_this.next().removeClass("js-active");
//  	});
//  });
//  $("#AnimalsWrap").on("click",function(e){
//  	e.stopPropagation();
//  	if ($(crumbBtn).next().hasClass("js-active")) $(crumbBtn).next().removeClass("js-active");
//  });
// ```
//
// Markup:
//  <div style="height:300px;">
//  <div class="page-header">
//  	<div class="breadcrumb">
//  		<h2 class="hidden">사이트 이동 경로</h2>
//  		<span class="breadcrumb__item type-home"><a href="" class="breadcrumb__link">홈</a></span>
//  		<span class="breadcrumb__item"><a href="" class="breadcrumb__link">단체소개</a></span>
//  		<span class="breadcrumb__item type-end">인사말</span>
//  		<div class="crumb-menu depth-1">
//  			<h3 class="crumb-menu__tit" data-id="crumbMenuBtn">상위 메뉴 목록</h3>
//  			<ul class="crumb-menu__list">
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">단체소개</a></li>
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">주요활동</a></li>
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">교육안내</a></li>
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">후원안내</a></li>
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">참여게시판</a></li>
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">반려동물복지센터</a></li>
//  			</ul>
//  		</div><!-- //crumb-menu -->
//  		<div class="crumb-menu depth-2">
//  			<h3 class="crumb-menu__tit" data-id="crumbMenuBtn">하위 메뉴 목록</h3>
//  			<ul class="crumb-menu__list">
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">인사말</a></li>
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">미션</a></li>
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">비전</a></li>
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">연혁</a></li>
//  				<li class="crumb-menu__item"><a href="#" class="crumb-menu__link">조직도</a></li>
//  			</ul>
//  		</div><!-- //crumb-menu -->
//  	</div><!-- //breadcrumb -->
//  </div><!-- //page-header -->
//  </div>
//
// Styleguide 3.5.1
.breadcrumb { position:relative; @include block; border-collapse:collapse;
	&__item { box-sizing:border-box;display:table-cell;width:181px;height:45px;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background-color:#fff;vertical-align:middle;color:$gray1;
		&.type-home { width:auto;text-align:center;}
		&.type-end { padding:0 50px 0 30px;color:$color1;}
	}
	&__link {display:table-cell;width:1%;height:inherit;padding:0 50px 0 30px;vertical-align:middle;
		.type-home & {display:block;width:45px;margin:0;padding:0;background:url(../images/layout/ico-breadcrumb-home.png) no-repeat 50% 50%; @include ir-sk; }
	}
}

.crumb-menu { position:absolute;top:0;width:182px;
	&.depth-1 {left:46px;}
	&.depth-2 {left:46px+182px-1px;}
	&__tit {height:45px;margin:0;@include ir-sk;background:url(../images/common/blank-transparent.png);cursor:pointer;
		&:after {position:absolute;top:21px;right:30px;width:7px;height:4px;background:url(../images/layout/ico-crumb-menu.png) no-repeat;content:'';}
	}
	&__list {display:none;position:relative;z-index:1;margin:0;padding:8px 0 5px 0;border:1px solid #e9e9e9;border-top:none;background-color:#fff;list-style:none;
		&.js-active { display:block;}
	}
	&__item {margin-top:2px;color:#666;}
	&__link {display:table-cell;width:1%; height:34px;padding:0 30px;vertical-align:middle;
		&:focus,
		&:hover { background-color:$color1;color:#fff;}
	}
}

.content {float:left;width:($column-width*4)+($gutter-width*3);
	&.page-main { float:none; width:auto;}
}

.sidebar {float:right;width:$column-width;
	&.js-fixed {position:fixed;top:46px;right:50%;margin-right:-($site-width - ($site-width/2));}
}

// Sub Navigation Bar
//
// 공통으로 사용되는 SNB입니다.<br>
// 사용자 정의 속성 `data-parent-kor="단체소개" data-parent-eng="About Us"`으로 상위메뉴 노출
//
// ```
// .snb__tit:before {content:attr(data-parent-kor);}
// .snb__tit:after {content:attr(data-parent-eng);}
// ```
//
// Markup:
//  <div class="sidebar">
//  	<div class="snb">
//  		<h2 class="snb__tit" data-parent-kor="단체소개" data-parent-eng="About Us">하위메뉴</h2>
//  		<ul class="snb__list">
//  			<li class="snb__item  is-active"><a href="#" class="snb__link">인사말</a></li>
//  			<li class="snb__item "><a href="#" class="snb__link">미션</a></li>
//  			<li class="snb__item "><a href="#" class="snb__link">비전</a></li>
//  			<li class="snb__item "><a href="#" class="snb__link">연혁</a></li>
//  			<li class="snb__item "><a href="#" class="snb__link">조직도</a></li>
//  		</ul>
//  	</div><!-- //gnb -->
//  </div><!-- //sidebar -->
//
// Styleguide 3.5.2
.snb {
	&__tit {display:table-cell;width:1%;height:150px;margin:0; vertical-align:middle;text-align:center;text-indent:0;font-size:0;line-height:1;
		&:before {display:block;content:attr(data-parent-kor);font-size:26px;color:$color1;text-align:center;}
		&:after {display:block;margin-top:15px;content:attr(data-parent-eng);font-size:14px;color:#a7cceb;text-align:center;text-transform:uppercase;font-family:$font2;}
	}
	&__list {position:relative;margin:0;padding:0;list-style:none; }
	&__item {border-bottom:1px solid #d6d6d6; border-left:3px solid #f5f5f5; color:$gray2;font-weight:bold;font-size:16px; background-color:#f5f5f5;
		&.is-active { color:$color1; border-left:3px solid $color1;}
	}
	&__link {box-sizing:border-box;display:table-cell;width:1%;height:49px;padding:0 18px;vertical-align:middle;}
}
