@charset "utf-8";

// Mixins
//
// 공통으로 사용되는 SCSS mixin 입니다.
//
// ```
// // display:none 대체 웹 접근성 향상 화면숨김
// @mixin hidden { overflow:hidden; position:absolute; width:0; height:0;
// 	&.is-view { position:static; width:auto; height:auto; }
// }
//
// // float 해제 및 margin 겹침 강제 해제
// @mixin block {
// 	&:before,
// 	&:after { clear:both; display:table; overflow:hidden; content:""; }
// }
//
// // Scott Kellum Method IR 기법
// @mixin ir-sk {overflow:hidden;text-indent:100%;white-space:nowrap;}
// ```
//
// Markup:
// 　
//
// Styleguide 2.2

// display:none 대체 웹 접근성 향상 화면숨김
@mixin hidden { overflow:hidden; position:absolute; width:0; height:0;
	&.is-view { position:static; width:auto; height:auto; }
}

// float 해제 및 margin 겹침 강제 해제
@mixin block {
	&:before,
	&:after { clear:both; display:table; overflow:hidden; content:""; }
}

// Scott Kellum Method IR 기법
@mixin ir-sk {overflow:hidden;text-indent:100%;white-space:nowrap;}
