@charset "UTF-8";
@import "variables";
@import "mixins";


@font-face { font-family: "Nanum Gothic"; font-style: normal; font-weight: 100; src: url("../fonts/NanumGothic-Light.eot?") format("eot"), url("../fonts/NanumGothic-Light.woff") format("woff"); }
@font-face { font-family: "Nanum Gothic"; font-style: normal; font-weight: 400; src: url("../fonts/NanumGothic-Regular.eot?") format("eot"), url("../fonts/NanumGothic-Regular.woff2") format("woff2"), url("../fonts/NanumGothic-Regular.woff") format("woff"); }
@font-face { font-family: "Nanum Gothic"; font-style: normal; font-weight: 700; src: url("../fonts/NanumGothic-Bold.eot?") format("eot"), url("../fonts/NanumGothic-Bold.woff2") format("woff2"), url("../fonts/NanumGothic-Bold.woff") format("woff"); }
@font-face { font-family: "Nanum Gothic"; font-style: normal; font-weight: 900; src: url("../fonts/NanumGothic-ExtraBold.eot?") format("eot"), url("../fonts/NanumGothic-ExtraBold.woff2") format("woff2"), url("../fonts/NanumGothic-ExtraBold.woff") format("woff"); }


// Style
//
// *reset.css*가 아닌 *normalize.css* ( https://necolas.github.io/normalize.css/ )를 사용합니다.
//
// Styleguide 1.

body { font-size:14px; font-family:$font1; word-break:keep-all; color:$gray1;}
fieldset { border:none; margin:0; padding:0; }
legend { position:absolute; top:-999em; left:-999em; }
b,
strong { font-weight:bold; }
a { color:inherit; text-decoration:none; }
p { line-height:1.5; margin:1em 0;}

input:not([type='checkbox']),
input:not([type='radio']),
textarea,
select { border-radius:0;}

input:not([type='checkbox']),
input:not([type='radio']),
textarea,
select { appearance: none; }

button,
input[type='checkbox'],
input[type='radio'],
input[type='submit'],
input[type='image'] { cursor:pointer; }

// Font
//
// Styleguide 1.1

// Font Family
//
// * `Nanum Gothic` :기본 글꼴
// * `Opan Sans` : 보조 글꼴
//
// Markup:
// <span class="font1">가나다라마바사아자차카타파하 ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz 123456789</span><br>
// <span class="font2">가나다라마바사아자차카타파하 ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz 123456789</span>
//
// Styleguide 1.1.1
.font1 { font-family:$font1;}
.font2 { font-family:$font2;}

// Color
//
// Styleguide 1.2

// Gray Color
//
// * `#767676` : 본문 기본
// * `#222222` : 강조 및 제목
//
// Markup:
// <span class="gray1">가나다라마바사아자차카타파하 ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz 123456789</span><br>
// <span class="gray2">가나다라마바사아자차카타파하 ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz 123456789</span>
//
// Styleguide 1.2.1
.gray1 { color:$gray1; }
.gray2 { color:$gray2; }

// Point Color
//
// * `#1991d7`
//
// Markup:
// <span class="color1">가나다라마바사아자차카타파하 ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz 123456789</span>
//
// Styleguide 1.2.1
.color1 { color:$color1 !important;}
.color2 { color:#009e52;}
.color3 { color:#f24443;}
.h180{height:180px !important;}
.h200{height:200px !important;}

// Common Class
//
// Styleguide 1.3

// hidden
//
// * `class="hidden"` : 화면 숨김
//
// Markup:
// <span class="hidden">가나다라마바사아자차카타파하 ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz 123456789</span>
//
// Styleguide 1.3.1
.hidden { @include hidden; }
