@charset "UTF-8";
@import "variables";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*로그인*/
.login{
	&__tit{margin:0; font-size:24px; color:$color1; font-family: 'Open Sans', sans-serif; font-weight:700;}
	&__area{margin-top:30px; padding:30px 0px; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; text-align:center;}
	&__box{position:relative; display:inline-block; width:431px; text-align:left;}
	&__txt{margin:13px 0 0; font-size:14px; color:$gray2;}
	&__info{display:inline-block; width:78px; font-size:16px; font-weight:700; color:$gray2;}
	&__input{margin:0; height:40px;
		& + p{margin-top:10px; margin-bottom:0px;}
	}
	&__btn{position:absolute; top:0; right:0; display:inline-block; width:100px; height:90px; background-color:#1991d7; color:#fff; font-size:18px; font-weight:700; text-align:center; line-height:90px;}
	&__check{margin-top:15px;}
	&__item{ width:100%; padding:20px 0px 20px 100px; border-bottom:1px solid #dddddd; text-align:left; background:url('../../images/content/login/login_icon1.png') no-repeat 20px center; box-sizing:border-box;
		&:first-child{border-top:1px solid #ddd;}
		& .btn {float:right;}
		&:after{display:block; clear:both; content:'';}
		&.nth-2{background:url('../../images/content/login/login_icon2.png') no-repeat 20px center;}
	}
	&__item-wrap{float:left;}
	&__sub-tit{margin:0; color:$color1; font-size:14px;}
	&__sub-txt{margin:8px 0 0; color:#666; font-size:14px;}
}
