@charset "UTF-8";
@import "variables";
@import "mixins";
// .visual{position:relative;width:100%; height:470px; padding:0;margin:0;
// 	&__list{height:100%;  margin:0;  list-style:none;  }
// 	&__item{position:relative; height:100%; background-position:50% 50%;
// 		&:before{position:absolute; top:0; bottom:0; left:-1000px; right:-1000px; z-index:-1;  content:'';}
// 		&.nth-1{
// 			&:before{background-image:url('../images/main/visual_img_01.jpg');}
// 		}
// 		&.nth-2{
// 			&:before{background-image:url('../images/main/visual_img_02.jpg');}
// 		}
// 		&.nth-3{
// 			&:before{background-image:url('../images/main/visual_img_03.jpg');}
// 		}
// 		&.nth-4{
// 			&:before{background-image:url('../images/main/visual_img_04.jpg');}
// 		}
// 	}
// 	&__tit{margin:0; font-size:65px; color:#fff;}
// }
.visual{clear:both;height:470px;
	&__wrap{position:absolute;left:0;right:0;height:470px;}
	&__list{margin:0;padding:0;}
	&__item{overflow:hidden; height:470px; background-image:url('../images/main/visual_img_01.jpg'); background-position: center center; background-repeat:no-repeat; text-indent:-999px;}
	&__btn{position:absolute; top:340px; left:50%;width:140px; height:45px; margin-left:-496px; border:1px solid #fff; line-height:45px; font-size:16px; color:#fff; text-align:center; text-indent:0px;}
	&__slide-btn{position:absolute; top:0; bottom:0; display:inline-block; overflow:hidden; width:21px; height:35px; margin:auto 0; background:url('../images/main/visual_btn.png'); text-indent:-9999px;}
	&__slide-prev{left:50%; margin-left:-700px;}
	&__slide-next{right:50%; margin-right:-700px; background-position:-21px;}
}

.col-12{width:100%;}
.col-6{width:50%;}
.col-3{width:25%;}
.col-4{width:33.33%;}

.main-wrap{margin-left:-24px; padding-bottom:50px; box-sizing:border-box;
	&:after{display:block; clear:both; content:'';}
}
.main-box{float:left;margin-top:60px; padding-left:24px; box-sizing:border-box;}
.main-box.col-12{margin-top:0px;}


.main-sponsor{position:relative;height:70px; background-color:#efefef;
	&__tit{float:left; height:70px; margin:0;}
	&__list{float:right; padding:0; margin:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; display:inline-block; padding:0px 23px 0px 68px; font-size:14px; font-weight:bold; color:#999999; line-height:70px;
		&:before{position:absolute; top:0;bottom:0;left:23px; display:block; width:40px; height:40px; margin:auto 0;background:url('../images/main/main_sponsor_icon.png'); content:''; }
		&:after{position:absolute; top:0; bottom:0; right:0px; height:50px; width:0; margin:auto 0; border-left:1px solid #dfdfdf; border-right:1px solid #f7f7f7; content:'';}
		&.nth-2{
			&:before{background-position:0px -40px;}
		}
		&.nth-3{
			&:before{background-position:0px -80px;}
		}
		&.nth-4{
			&:before{background-position:0px -120px;}
			&:after{display:none;}
		}
	}
	&:before{position:absolute; left:-1200px; display:block; width:100%; height:70px; background-color:#efefef; content:'';}
	// &__link{display:inline-block; width:100%; height:100%; }
	&:after{position:absolute; right:-1200px; display:block; width:100%; height:70px; background-color:#efefef; content:'';}
}
.main-content1__item.bt-none{
	&:before{border:none;}
}
.main-border{height:100%; border:1px solid #d6d6d6;}

/*main-content*/
.main-content1{position:relative; height:224px;
	&__tit{float:left; display:inline-block; margin:0; margin-right:30px;  font-size:24px; color:#222;}
	&__board{display:none; position:absolute; top:43px; width:100%; padding-top:20px; border-top:1px solid #d6d6d6; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__board:first-child{display:block;}
	&__body{position:absolute; top:63px;}
	&__more{position:absolute; top:12px; right:0; bottom:15px; display:inline-block; font-size:13px; vertical-align:bottom;}
	&__item{float:left;position:relative; display:inline-block; margin:0; margin-top:10px; font-size:13px; padding:0px 10px;
		&:before{position:absolute; top:0; bottom:0; left:0; margin:auto 0; display:block; width:0; height:12px; border-left:1px solid #d6d6d6; content:'';}
		&.is-active{color:#1891d6;}
		&:first-child{
			&:before{border:none;}
		}
	}
	&__board-view{float:left; display:inline-block; width:384px; border-bottom:1px solid #d6d6d6;}
	&__board-img{float:left; margin-right:24px;}
	&__board-tit{margin:0; margin-bottom:18px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	&__board-txt{margin:0; font-size:13px; line-height:1.3;}
	&__board-date{margin:14px 0px; font-size:13px; color:#999; line-height:1;}
	&__board-item{position:relative; padding-left:10px;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
		&:before{position:absolute; left:0; top:5px; display:block; width:0; height:3px; border-left:3px solid #767676; content:''}
		& + &{margin-top:6px;}
	}
	&__board-list{float:left; margin:0; margin-top:14px;padding:0; font-size:13px; list-style:none;
		&.type-another{
			& .main-board__item{padding-right:80px;
				& + .main-board__item{margin-top:16px;}
			}
		}
	}
	&__link1{display:inline-block; }
	&__link2{display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	&:after{display:block; clear:both; content:'';}
}



.main-content2{position:relative;height:224px;
	&__board{position:absolute; top:43px; width:100%; padding-top:20px; border-top:1px solid #d6d6d6; box-sizing:border-box;}
	&__board-item{position:relative; padding-left:10px;  padding-right:90px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
		& + &{margin-top:15px;}
	}
	&__board-date{position:absolute; right:0;}
	&__board-list{width:100%; margin:0; padding:0; font-size:13px; list-style:none;
		&.type-another{
			& .main-board__item{padding-right:80px;
				& + .main-board__item{margin-top:16px;}
			}
		}
	}
	&__list{margin:0;padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__tit{float:left; display:inline-block; margin:0; padding-bottom:15px;font-size:24px; font-weight:bold; color:#999;
		&.is-active{position:relative; color:#222;
			&:after{position:absolute; left:0; z-index:10; bottom:-1px; display:block; width:90px; height:0; border-bottom:3px solid #222; content:'';}
		}
		& + .main-content2__board + &{margin-left:20px;}
	}
	&__link1{display:inline-block; }
	&__link2{display:inline-block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	&:after{display:block; clear:both; content:'';}
}

.main-content3{position:relative; height:300px;
	&__header{position:absolute; top:30px; left:30px;  color:#fff; z-index:100;}
	&__tit{margin:0; font-size:30px;}
	&__txt{margin:0; margin-top:20px;}
	&__btn{display:inline-block; margin-top:30px; padding:12px 40px; border:1px solid #fff; font-size:16px; color:#fff; text-decoration:none;}
	&__bottom{position:absolute; bottom:0; width:100%;  height:50px; padding:0 30px; z-index:1000; font-size:0; color:#fff; box-sizing:border-box;}
	&__bottom-wrap{position:relative; width:100%; height:100%;}
	&__number{position:absolute; top:18px; bottom:0; right:43px;  display:inline-block; font-size:12px;}
	&__list{margin:0;padding:0; height:300px; list-style:none;}
	&__slide-btn{position:absolute; top:0px; bottom:0; display:inline-block; overflow:hidden; width:25px; height:22px; margin:auto 0; background:url('../images/main/main_content3_btn.png'); text-indent:-9999px;}
	&__slide-prev{right:4px;}
	&__slide-next{right:-20px; background-position:-24px;}
	&__item{position:relative; overflow:hidden; height:100%; background-repeat:no-repeat; background-position:center center; background-size:cover; color:#fff;
		&.nth-1{background-image:url('../images/main/animal_img01.jpg');}
	}
	&__body-list{position:absolute; left:30px; margin:0; padding:0; bottom:0; color:#fff;  list-style:none;}
	&__body-item{position:absolute; z-index:1000; bottom:0; width:100%; padding:0 30px; background-color:#000; background-color:rgba(0,0,0,0.5); box-sizing:border-box;}
	&__name{display:inline-block; margin:0; font-size:24px; line-height:50px; vertical-align:middle;}
	&__info{display:inline-block; margin:0; margin-left:25px; font-size:14px; line-height:50px; vertical-align:middle;}
}

.main-content4{position:relative; height:300px; border:1px solid #d6d6d6;
	&__header{position:absolute; bottom:0; width:100%; height:50px; border-top:1px solid #d6d6d6;}
	&__body{height:100%; color:#fff; text-align:center;}
	&__list{margin:0;padding:0; height:100%; list-style:none;}
	&__item{display:none; height:100%; padding:30px 0px; background-repeat:no-repeat; background-position:center center; background-size:cover; box-sizing:border-box;
		&:first-child{display:block;}
		&.nth-1{background-image:url('../images/main/banner_img01.jpg');}
	}
	&__tit{margin:0; font-size:30px;}
	&__txt{margin:0; margin-top:20px;}
	&__btn{display:inline-block; margin-top:30px; padding:12px 40px; border:1px solid #fff;}
	&__tab-list{margin:0;padding:0; height:100%;  width:100%; list-style:none; background-color:#f3f3f4; text-align:center;
		&:after{display:block; clear:both; content:'';}
	}
	&__tab-item{float:left; position:relative; width:25%; line-height:50px;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block; height:15px; width:0; margin:auto 0; border-left:1px solid #d6d6d6; content:'';}
		&:first-child{
			&:before{display:none;}
		}
		&.is-active{background-color:#fff; color:#1891d6;
			&:before{display:block; left:-1px; height:50px;}
			&:after{position:absolute; top:0; bottom:0; right:-1px; display:block; height:50px; width:0; margin:auto 0; border-left:1px solid #d6d6d6; content:'';}
		}
	}
	&__tab-btn{display:inline-block; width:100%; height:100%;}
}

.main-content5{margin:0; padding:0; list-style:none;
	&__item{float:left;width:25%; padding-left:24px; box-sizing:border-box;}
	&__img{position:relative; overflow:hidden; display:block; height:170px; background-repeat:no-repeat; background-position:center center; background-size:cover; text-indent:-9999px;
		&.nth-1{background-image:url('../images/main/sub_img01.jpg');}
		&.nth-2{background-image:url('../images/main/sub_img02.jpg');}
		&.nth-3{background-image:url('../images/main/sub_img03.jpg');}
		&.nth-4{background-image:url('../images/main/sub_img04.jpg');}
		&:before{display:none; height:170px; width:100%; background-color:#000; background-color:rgba(0,0,0,0.7);  content:'';}
		&:after{display:none;position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; width:140px; height:40px; border:1px solid #fff; color:#fff; text-align:center; line-height:40px; text-indent:0; content:'자세히보기';}
		&:hover:before,
		&:hover:after{display:block;}
	}
	&__btn{display:inline-block; padding:12px 40px; border:1px solid #fff; font-size:16px; }
	&__tit{margin:20px 0px 15px; color:#1891d6;}
	&__subject{margin:0; font-size:16px; font-weight:700; color:#222;}
	&__txt{margin:0; margin-top:20px; font-size:13px; line-height:1.3;}
	&__link1{display:inline-block; }
	&:after{display:block; clear:both; content:'';}
}
.main-content6{position:relative; height:480px; margin-right:-24px; background-image:url('../images/main/main_content6_bg.jpg');
	&:before{position:absolute; left:-1200px; width:1200px; display:block; height:480px; background-color:#8d9aa3; content:'';}
	// &:after{position:absolute; top:0; right:-24px; width:24px; display:block; height:480px; background-color:#aab3ba; content:'';}
	&__subject{margin:0;padding-top:45px;font-size:24px; color:#fff; font-weight:300; box-sizing:border-box;}
	&__point1{font-weight:700; font-size:36px; font-family: arial, Sans-Serif;}
	&__point2{font-size:30px; font-weight:700;}
	&__tit{margin:50px 0px 0px}
	&__btn{display:inline-block; width:140px; height:45px; margin:80px 0px 0px 30px; border:1px solid #fff; color:#fff; line-height:45px; text-align:center;}
}
.main-content7{position:relative; height:480px; background-image:url('../images/main/main_content7_bg.jpg'); text-align:center;
	&:after{position:absolute; right:-1200px; top:0; width:1200px; display:block; height:480px; background-color:#8d9aa3; content:'';}
	&__tit{margin:0; padding-top:30px; color:#fff; font-size:30px; box-sizing:border-box;}
	&__txt{margin:20px 0px; color:#fff; font-size:16px;}
	&__list{margin:0; padding:0; list-style:none;}
	&__item{height:100%;}
	&__link{position:relative; display:inline-block;}
	&__link:after{position:absolute; top:0; left:0; right:0; bottom:0; display:none; width:140px; height:45px; margin:auto; color:#fff; background-color:#1891d6; background-color:rgba(24,145,214,0.8);text-align:center; line-height:45px; content:'자세히보기';}
	&__link:hover:after{display:inline-block;}
	&__img-txt{margin:0; margin-top:15px; color:#fff; text-indent:0px;}
	&__slide-btn{position:absolute; top:250px; display:inline-block; overflow:hidden; width:18px; height:36px; margin:auto 0; background:url('../images/main/main_content7_btn.png'); text-indent:-9999px;}
	&__slide-prev{left:50px;}
	&__slide-next{right:50px; background-position:-18px;}
	&__btn-area{position:absolute; left:0; right:0; bottom:20px; margin:auto 0; z-index:100;}
	&__paging{display:inline-block;  vertical-align:bottom;
		& .bx-pager-item{display:inline-block;}
	}
	&__play{display:inline-block; vertical-align:top;
		& .bx-controls-auto-item{overflow:hidden; text-indent:-999px;}
		& .bx-start{display:block; width:21px; height:20px; background-image:url('../images/main/main_content7_play.png');}
		& .bx-stop{display:block; width:21px; height:20px; background-image:url('../images/main/main_content7_pause.png');}
	}
}
.main-content8{position:relative; height:300px;
	&__list{margin:0;padding:0;list-style:none; height:300px;}
	&__item{width:100%; height:100%; box-sizing:border-box; background-repeat:no-repeat; background-position:center center; background-size:cover;
		&.nth-1{background-image:url('../images/main/bot_img01.jpg');}
		&.nth-2{background-image:url('../images/main/bot_img02.jpg');}
		&.nth-3{background-image:url('../images/main/bot_img03.jpg');}
		&.nth-4{background-image:url('../images/main/bot_img04.jpg');}
	}
	&__tit{margin:0; padding:30px 0px 0px 30px; font-size:24px; color:#222; box-sizing:border-box;}
	&__point{color:#1991d7;}
	&__txt{margin:0; padding:30px 0px 30px 30px; line-height:1.3; box-sizing:border-box;}
	&__btn{display:inline-block; margin-left:30px; padding:12px 40px; border:1px solid #666; font-size:16px; color:inherit; text-decoration:none;}
	&__area{position:absolute; left:60px; bottom:30px; font-size:0;}
	&__number{display:inline-block;font-size:12px; line-height:24px; vertical-align:top;}
	&__btn-area{display:inline-block; margin-left:10px;	}
	&__btn-left{display:inline-block; width:25px; height:22px; border:1px solid #ddd; background:url('../images/main/slider_btn_left.png') no-repeat center center;}
	&__btn-right{display:inline-block; width:25px; height:22px; border:1px solid #ddd; border-left:none; background:url('../images/main/slider_btn_right.png') no-repeat center center;}
}

.main-content9{position:relative; height:300px; padding:30px; background:url('../images/main/event_img01.jpg') no-repeat center center; text-align:center; box-sizing:border-box;
	&__tit{margin:0;font-size:16px; color:#222;}
	&__subject{margin:20px 0 10px;font-size:25px; color:#1991d7;}
	&__txt{margin:0; font-size:13px;}
	&__view{display:none; position:absolute; top:0; left:0; width:100%; height:100%; padding:30px; box-sizing:border-box; background-color:#000; background-color:rgba(0,0,0,0.8); color:#fff;}
	&__view-tit{margin:0; margin-bottom:24px; font-size:24px;}
	&__view-subject{margin:0;font-size:18px;}
	&__view-txt{margin:0;font-size:14px;}
	&__view-btn{display:inline-block; margin-top:24px; padding:12px 40px; border:1px solid #fff; font-size:16px; color:inherit; text-decoration:none;}
	&:hover .main-content9__view{display:block;}
}

.main-content10{height:300px;
	&__service{height:100%; background:url('../images/main/service_img01.jpg')}
	&__tit{margin:0; padding:30px 0px 0px 30px; font-size:24px; color:#222; box-sizing:border-box;}
	&__txt{margin:0; padding:30px 0px 30px 30px; line-height:1.3; box-sizing:border-box;}
	&__btn{display:inline-block; margin-left:30px; padding:12px 40px; border:1px solid #666; font-size:16px; color:inherit; text-decoration:none;}
}
