@charset "UTF-8";
@import "variables";
@import "mixins";
/*법령*/
.lawlist{
	&__board{margin-top:30px;}
}
.tab-v1__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;  padding:0; margin:0; /*border-collapse:collapse;*/  list-style:none;}
.tab-v1__item { -webkit-box-sizing: border-box; box-sizing: border-box; display: table-cell; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; width: 1%; height: 40px;  border-left:1px solid #151718; border-right:1px solid #3f454a; background-color: #2a2e31; color: #fff; font-size: 12px; text-align: center; vertical-align: middle; }
.tab-v1__item:first-child {border-left:none; }
.tab-v1__item:last-child {border-right:none;}
.tab-v1__item.is-active {background-color: #1991d7; }
.tab-v1__link { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; display: table-cell; width: 1000px; height: inherit; color: inherit; text-decoration: none; vertical-align: middle; }
.tab-v1__item.is-active .tab-v1__link { font-weight: 600; }
// .tab-v1__item.is-active .tab-v1__link:after { position: absolute; top: -1px; left: -1px; right: -1px; border-top: 3px solid #222; content: ''; }
.tab-contnet { display: none; }
.tab-contnet.is-active { display: block; }

/*매거진*/
.magazine{
	&__list{list-style:none; margin:-50px -5px 0px; padding:0; padding-bottom:30px; border-bottom:1px solid #e5e5e5; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:20%; margin-top:50px; padding:0px 5px; text-align:center; box-sizing:border-box;}
	&__img{display:inline-block; vertical-align:middle;}
	&__tit{display:block; margin:20px 0 0;font-size:14px; font-weight:400; line-height:1;}
	&__date{display:block; margin:10px 0 0;color:$color1; font-weight:700; line-height:1;}
}


.cartoon{
	&__list{list-style:none; margin:-10px 0px 0px -30px; padding:0; padding-bottom:30px; border-bottom:1px solid #e5e5e5; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:50%; margin-top:30px; padding-left:30px; text-align:left; box-sizing:border-box; font-size:0;}
	&__img{display:inline-block; vertical-align:middle;}
	&__tit{display:inline-block; margin-top:10px;font-size:14px; font-weight:400; line-height:1; }
	&__box{display:inline-block; margin-left:30px; text-align:left; vertical-align:top;}
	&__info{margin-top:44px;text-align:left;}
	&__border{display:inline-block; border:1px solid #e5e5e5;}
}
