@charset "UTF-8";
@import "variables";
@import "mixins";


/*교육안내*/

.viewCntIcon { font-size: 13px; color: #999999; padding-left: 20px; background: url("../images/content/listReplyCnt.png") 0 4px no-repeat; margin: 0 5px; }

/*교육현장*/
.education{
	&__pager{margin:0; list-style:none;}
	&__small{float:left;}
	&__small-img{width:110px; height:80px;}
	&__big-img{width:100%;}
	&__slides{position:relative; margin-top:30px; padding:0px 76px; box-sizing:border-box;}
	&__thumbnail{position:relative; padding:0 55px; box-sizing:border-box;}
}
