@charset "UTF-8";
@import "variables";
@import "mixins";

/*후원안내*/
.sponsor{
	&__header{height:430px; background:url('../../images/content/sponsor_bg.jpg') no-repeat bottom right;}
	&__area{margin:20px 0 0;}
	&__tit{margin:0; font-size:36px; color:#222;}
	&__point{color:#1991d7;}
	&__txt{margin:20px 0 0;font-weight:700; color:#222; font-size:24px;}
	&__subject{font-weight:700; color:#222; font-size:14px;
		& + .sponsor__content{margin-top:8px;}
	}
	&__content{margin:0; padding:0; color:#666; font-size:14px;
		& + .sponsor__subject{margin-top:15px;}
	}
	&__postscript{margin:25px 0 0; color:#1991d7; font-size:13px;}
	&__body{margin-top:50px;}
	&__list{padding:0; margin:0; list-style:none; border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; display:inline-block; width:50%; padding:30px; border-bottom:1px solid #d6d6d6; border-right:1px solid #d6d6d6;  box-sizing:border-box;}
	&__item-wrap{height:100%; background:url('../images/content/sponsor_icon1.png') no-repeat right bottom;
		&.nth-2{background-image:url('../images/content/sponsor_icon2.png');}
		&.nth-3{background-image:url('../images/content/sponsor_icon3.png');}
		&.nth-4{background-image:url('../images/content/sponsor_icon4.png');}
	}
	&__item-tit{margin:0; font-size:18px; color:#1991d7;}
	&__item-txt{margin:12px 0 0; font-size:14px; color:#767676; line-height:1.3;}
	&__item-link{position:absolute; bottom:30px; display:inline-block; width:140px; height:40px; margin:20px 0 0; line-height:40px; background-color:#1991d7; color:#fff; text-align:center;
		&.type-another{width:110px; height:40px;
			& + .type-another{left:150px;}
		}
	}
	&__sub-tit{margin:60px 0 0; font-size:24px; color:#222;}
	&__account-box{width:100%; height:75px; margin-top:20px; border:1px solid #d6d6d6; box-sizing:border-box; text-align:center;}
	&__account-txt{position:relative; display:inline-block; margin:0; padding-left:70px; line-height:75px; color:#222; font-weight:700;
		&:before{position:absolute; top:0; bottom:0; left:0; width:60px; height:37px; margin:auto 0; background:url('../images/content/sponsor_icon5.png') no-repeat; content:'';}
	}
	&__account-list{margin:20px 0 0; padding:0; list-style:none;}
	&__account-item{text-indent:-14px; padding-left:14px; line-height:1;
		& + .sponsor__account-item{margin-top:10px;}
	}
}

/*살림공개*/
.expense{
	&__board{margin-top:30px;}
}

/*후원쇼핑내역*/
.shopping{
	&__list{margin:0; padding:0; list-style:none; border-top:1px solid #ededed;}
	&__item{padding:30px 0px; border-bottom: 1px solid #ededed; box-sizing:border-box; font-size:0;}
	&__img{display:inline-block; margin-right:30px; border:1px solid #e5e5e5; box-sizing:border-box;}
	&__box{display:inline-block; padding:4px 0px; box-sizing:border-box; vertical-align:top;}
	&__tit{margin:0; color:$gray2; font-size:14px;}
	& span{
		& + span:before{content:" | "; padding-left:10px; margin-right:10px; color:#dedede;}
	}
	&__info{margin-top:12px;}
	&__price{font-size:14px; font-weight:700; color:#f24443;}
	&__date{font-size:13px; color:#999999;}
	&__txt{font-size:13px;}
	&__total{position:relative; top:-1px; height:60px; padding:0px 40px; background-color:#f2f5f9; border-top:1px solid #cedaed; border-bottom:1px solid #cedaed; line-height:58px;box-sizing:border-box; text-align:right;}
	&__total-price{margin-left:20px; font-size:24px; color:$gray2; font-weight:700;}
	&__check{display:inline-block; height:76px;margin-right:5px; padding-top:28px; vertical-align:top; box-sizing:border-box;}
}

/*이벤트후원*/
.event{
	&__banner{
		&:after{display:block; clear:both; content:'';}
	}
	&__banner-tit{margin:0; font-size:24px; color:#333;
		& span{color:$color1}
	}
	&__box{float:left; display:inline-block; width:700px; margin-left:30px;}
	&__banner-point{margin:15px 0 0; font-size:16px; font-weight:700; color:#f24443;}
	&__banner-link{display:inline-block; width:180px; height:40px; margin-left:30px; background-color:#1991d7; text-align:center; font-size:14px; color:#fff; line-height:40px;}
	&__banner-txt{margin:20px 0 0 ; color:#666;}
	&__img{float:left; border:1px solid #ededed; box-sizing:border-box;
		&.type-another{border:none;}
	}
	&__img-link{position:relative; display:block; width:100%; height:100%;
		&:before{display: none; position:absolute; height: 141px; width: 100%; background-color: #000; background-color: rgba(0, 0, 0, 0.7); content: ''; }
		&:after{display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 120px; height: 40px; border: 1px solid #fff; color: #fff; text-align: center; line-height: 40px; text-indent: 0; content: '자세히보기';}
		&:hover:before,
		&:hover:after{display:block;}
	}
	&__tit{overflow:hidden; width:700px; margin:0; font-size:14px; color:$gray2; text-overflow:ellipsis; white-space:nowrap;}
	&__list{list-style:none; padding:0; margin:30px 0 0; border-top:1px solid #e5e5e5;}
	&__item{padding:30px 0px; box-sizing:border-box; border-bottom:1px solid #e5e5e5;
		&:after{display:block; clear:both; content:'';}
	}
	&__link{
		&:hover{text-decoration:underline;}
	}
	&__price{margin:15px 0 0; font-weight:700; color:$gray2}
	&__txt{ margin:15px 0 0; font-size:13px;}
	&__sponsor{display:table; width:100%; height:400px; margin-top:50px; border:1px solid #ededed; box-sizing:border-box;border-collapse:collapse;
		&__wrap{padding:0px 20px; box-sizing:border-box;}
		&__img{display:table-cell; width:350px; height:400px; vertical-align:middle; text-align:center; border-right:1px solid #ededed; box-sizing:border-box;}
		&__box{display:table-cell; width:602px; height:400px; padding:25px 0px; box-sizing:border-box; background-color:#fafafa;}
		&__tit{margin:0 0 5px; color:$gray2; line-height:1.7;}
	}
	&__dl{margin:0;
		& + .event__dl{
			&:before{display:inline-block; width:100%; height:0; margin:10px 0; border-top:1px solid #ededed; content:'';}
		}
	}
	&__dt{float:left; color:$gray2; line-height:30px;}
	&__dd{margin-left:85px; line-height:30px;
		& + .event__dt{margin-top:20px;
			& + .event__dd{margin-top:20px;}
		}
	}
	&__sub-txt{margin:0;}
	&__board{padding:50px 0px; line-height:1.7; box-sizing:border-box;}
}
.js-present{display:none;}


/* 후원업체 */
.company{
	&__list{padding:0; margin:-30px 0 0 -30px; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; margin-top:30px; padding-left:30px; box-sizing:border-box;}
	&__wrap{display:table-cell; width:1%; height:90px; vertical-align:middle; border:1px solid #d6d6d6; text-align:center;}
	&__tit{margin:15px 0 0; color:$color1; font-size:14px; line-height:1.3;}
	&__txt{margin:10px 0 0; color:#666; line-height:1;}
}

/* 후원금증액 */
.donation{
	&__bg{width:100%; height:517px; background:url('../../images/content/page5/donation_banner.jpg') center center no-repeat; background-size:100% 100%;}
	&__banner{display:table-cell; width:1%; height:517px; padding-left:30px; padding-right:357px; vertical-align:middle; color:#d1d2d2;}
	&__banner-tit{margin:0; font-size:24px; color:#fff;}
	&__banner-sub{margin:20px 0 0; font-size:16px;}
	&__banner-txt{margin:20px 0 0;}
	&__box{margin-top:40px; text-align:center;}
	&__box-tit{position:relative; display:inline-block; margin:0; padding:0px 35px; font-size:24px; color:$color1;
		&:before{position:absolute; top:0; left:0; display:block; width:16px; height:16px; background:url('../../images/content/page5/donation_icon.png') no-repeat; content:'';}
		&:after{position:absolute; top:0; right:0; display:block; width:16px; height:16px; background:url('../../images/content/page5/donation_icon.png') no-repeat; background-position:-16px 0px; content:'';}
	}
	&__box-txt{margin:15px 0 0;}
	&__table{margin-top:40px;}
	&__txt{position:relative; margin:0; padding-left:7px; font-size:13px;
		&:before{position:absolute; top:9px; left:2px; display:block; width:2px;height:0; border-top:2px solid #666666; content:'';}
	}
	&__list{margin:40px 0 0 -30px; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:50%; margin-top:20px; padding-left:30px; box-sizing:border-box;}
	&__item-img{width:100%;}
	&__item-tit{margin:20px 0 0; color:$gray2; font-size:18px;}
	&__item-txt{margin:15px 0 0; }
}
