@charset "UTF-8";
@import "variables";
@import "mixins";
/*인사말*/

.greeting{
	&__tit{margin:0;font-size:24px; line-height:1.5;}
	&__sub-tit{margin:25px 0; font-size:18px; color:#222; font-weight:700;}
	&__img{float:right; display:inline-block; margin-left:30px;}
	&__tit-small{font-size:18px; font-weight:400;}
	&__txt{margin:0; color:#666;
		& + &{margin-top:25px;}
	}
}

/*미션*/
.mission{
	&__header{position:relative; top:-50px; padding:50px 0px 30px; font-weight:700; color:#222; line-height:1.5; border-bottom:1px solid #d6d6d6; background:url('../images/content/mission.jpg') no-repeat right top; box-sizing:border-box;}
	&__tit{margin:0; font-size:24px; color:#1991d7;}
	&__list{margin:0; margin-left:-30px; padding:0; list-style:none;}
	&__item{float:left; display:table; width:50%; height:130px; padding-left:30px; box-sizing:border-box;
		& + .mission__item + .mission__item{border-top:1px solid #e3e3e3;}
		&.type-another{height:auto; padding-top:30px;}
	}
	&__box{display:table-cell; position:relative; padding-left:80px; box-sizing:border-box; vertical-align:middle;
		&:before{position:absolute; left:0; display:block; width:64px; height:64px; background:url('../images/content/mission_icon.png'); content:'';}
		&.nth-2:before{background-position:0px -64px;}
		&.nth-3:before{background-position:0px -128px;}
		&.nth-4:before{background-position:0px -192px;}
		&.nth-5:before{background-position:0px -320px;}
		&.nth-6:before{background-position:0px -256px;}
	}
	&__subject{margin:0; font-size:18px; color:#222;}
	&__txt{margin-top:12px; margin-bottom:0px;}
}


/* 비젼 */
.vision {}
.vision__header {font-weight:700; color:#222; letter-spacing:-1px; line-height:22px; padding-bottom:26px; background:url("../images/content/vision.jpg") no-repeat right top; border-bottom:1px solid #d6d6d6;}
.vision__header .color1 {font-weight:700; font-size:24px;}
.vision__content {margin-bottom:100px;}
.vision__list {list-style:none; padding-left:0px;}
.vision__box {border-bottom:1px solid #eaeaea; padding:26px 0;}
.vision__box-image {float:left;}
.vision__box-description {min-height:180px; margin-left:210px;}
.vision__subject {font-size:18px; color:#222; margin-top:0px;}
.vision__txt {font-size:14px; color:#767676; list-style:none; padding-left:0px;}
.vision__txt li {text-indent:-14px; padding-left:14px; margin:5px 0; line-height:1.3; letter-spacing:-0.5px;}

/* 연혁 */
.history {}
.history__header {font-size:18px; color:#222; font-weight:700;}
.history__year-group,
.history__year-tab,
.history__year-content {list-style:none; padding:0px;}
.history__year-group:after,
.history__year-tab:after,
.history__year-content:after {display:block; clear:both; content:'';}
.history__year-group {border:1px solid #d6d6d6; margin:48px 0 20px 0;}
.history__year-group li {float:left; width:33.33%;}
.history__year-group li a {display:block; text-align:center; height:70px; line-height:70px; font-size:18px;}
.history__year-group li a.on,
.history__year-group li a:hover {background:#1991d7; color:#fff;}
.history__year-tab {border-bottom:1px solid #d6d6d6;}
.history__year-tab li {float:left; margin-bottom:-1px; display:block; padding:10px 0; width:72px; font-size:16px; text-align:center; cursor:pointer;}
.history__year-tab li.on,
.history__year-tab li:hover {border-bottom:3px solid #222; font-weight:700;}
.history__year-content {margin:60px 0;}
.history__year-content li {display:none;}
.history__year-content li.on {display:block;}

.history__contImg {margin:25px 0; width:100%;}
.history__contImg:after {display:block; clear:both; content:"";}
.history__contImg img {display:block; float:left; margin-left:15px;}
.history__contImg img:first-child {margin-left:0px;}
.history__contTxt {margin:20px 0 40px 0;}
.history__contTxt:after {display:block; clear:both; content:"";}
.history__contTxt2 {padding:15px 0 0 0; border-top:1px solid #d6d6d6;}
.history__contTxt2:after {display:block; clear:both; content:"";}
.history__contTxt--title {width:110px; float:left; font-size:18px; font-weight:700; color:#1991d7;}
.history__contTxt--title3 {width:50px; float:left; font-size:14px; font-weight:700; color:#1991d7; }
.history__contTxt--description {width:405px; float:left; padding-right:17px;}
.history__contTxt--description2 {width:827px; float:left;}
.history__contTxt--description3 {width:717px; float:left;}
.history__contTxt--item {margin:0 0 30px 0;}
.history__contTxt--item2 {margin:0 0 20px 0;}
.history__txtItem--title,
.history__txtItem--desc {font-size:14px; color:#767676; margin:0 0 6px 0; letter-spacing:-1px;}
.history__txtItem--title {font-weight:700; margin:0 0 10px 0; line-height:20px;}
.history__txtItem--desc {text-indent:-12px; padding-left:12px; line-height:18px;}
.history__txtItem--title span {font-weight:400;}

.history__bottomLine {border-bottom:1px solid #d6d6d6;}
