@charset "UTF-8";
@import "variables";
@import "mixins";

/* 주요활동 - 반려동물 */
.activity {}




/* 이미지게시판 헤더이미지 */
.companionAnimals .imageList__header {background:#e8f4fb url("../images/content/companionAnimals.png") 20px 20px no-repeat;}
.farmAnimals .imageList__header {background:#e8f4fb url("../images/content/farmAnimals.png") 20px 20px no-repeat;}
.animalExperiments .imageList__header {background:#e8f4fb url("../images/content/animalExperiments.png") 20px 20px no-repeat;}
.animalsExhitited .imageList__header {background:#e8f4fb url("../images/content/animalsExhitited.png") 20px 20px no-repeat;}
.companionAnimals2 .imageList__header {background:#e8f4fb url("../images/content/companionAnimals2.png") 20px 20px no-repeat;}
.companionAnimals3 .imageList__header {background:#e8f4fb url("../images/content/companionAnimals3.png") 20px 20px no-repeat;}
.companionAnimals4 .imageList__header {background:#e8f4fb url("../images/content/companionAnimals4.png") 20px 20px no-repeat;}








/* 길고양이 팝업 */
.common__streetCat img {display:block; width:100%;}
.common__grayBg {display:block; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.8; filter:alpha(opacity=80); z-index:100;}





/* 돌고래를 위한 서명 */
.dolphin {}
.dolphin__title,
.dolphin__title2 {font-size:30px; color:#222; letter-spacing:-2px; font-weight:700;}
.dolphin__title span {color:#1991d7;}
.dolphin__title2 {font-size:36px; margin:5px 0 30px 0;}
.dolphin__imageArea {}
.dolphin__imageArea:after {display:block; clear:both; content:"";}
.dolphin__imageArea img {width:100%;}
.dolphin__imageAreaLeft {float:left; width:49%;}
.dolphin__imageAreaRight {float:right; width:49%;}
.dolphin__imageAreaLeft > div + div,
.dolphin__imageAreaRight > div + div {padding:10px 0 0 20px; line-height:20px; font-size:13px;}
.dolphin__textArea {font-size:14px; color:#767676; font-weight:700; letter-spacing:-1px; line-height:20px; margin:30px 0;}
.dolphin__promise {background:url("../images/content/dolphinPromiseBg.jpg") 0 0 no-repeat; margin:55px 0; height:448px;}
.dolphin__promiseBox {padding:42px 47px;}
.dolphin__promiseBox:after {display:block; clear:both; content:"";}
.dolphin__promiseLeft {float:left; width:54%;}
.dolphin__promiseLeft div {font-size:16px; color:#fff; line-height:25px; letter-spacing:-1px;}
.dolphin__promiseLeft div + div {font-size:32px; line-height:40px; font-weight:700; padding:16px 0 0 15px; text-indent:-15px;}
.dolphin__promiseLeft div + div span {font-size:32px; color:#c3cbd1;}
.dolphin__promiseLeft div + div + div {padding:0px; text-indent:0px; margin:127px 0 0 0;}
.dolphin__promiseLeft div + div + div p {font-size:18px; color:#fff; font-weight:400; margin:0 0 8px 0;}
.dolphin__promiseLeft div + div + div div {background:#fff; font-size:30px; color:#222222; height:60px; line-height:60px; padding:0 40px; text-align:right; font-weight:700; letter-spacing:2px;}
.dolphin__promiseRight {float:right; width:370px; background:#fff;}
.dolphin__promiseRight div {}
.dolphin__promiseRight div img {float:left;}
.dolphin__promiseRight div:after {display:block; clear:both; content:"";}
.dolphin__promiseRight div + div {padding:19px 20px 0 20px;}
.dolphin__promiseRight div + div input[type="text"] {width:100%; height:29px; line-height:29px; text-indent:10px; border:1px solid #dddddd; margin:0 0 10px 0;}
.dolphin__promiseRight div + div input[type="submit"] {background:#1991d7; color:#fff; font-size:14px; height:43px; line-height:43px; padding:0 20px; border:none;}
.dolphin__promiseRight div + div + div {text-align:center; padding:10px 0 20px 0;}
.dolphin__work {position:relative; z-index:1; background:#e1f4ff url("../images/content/dolphinBanner01.jpg") right center no-repeat; font-weight:700; padding:28px 50px; color:#222; margin-bottom:58px;}
.dolphin__work div {font-size:30px; color:#1991d7; letter-spacing:-2px; font-weight:400; margin:6px 0 0 0;}
.dolphin__work div a {font-size:14px; color:#666666; border:1px solid #666666; padding:3px 45px 3px 25px; background:url("../images/content/dolphinDetailViewBtn.png") 97px center no-repeat; margin-left:10px;}
.dolphin__work img {position:absolute; bottom:0px; right:60px;}
.dolphin .imageView__viewReplayList ul {border-top:1px solid #dedede;}


/*길고양이 글추가*/
.cat{
	&__content{padding-top:40px;
		&:after{display:block; clear:both; content:'';}
	}
	&__subject{margin:0 0 20px; font-size:18px; color:#1a1a1a;}
	&__sub-subject{margin:0 0 15px; font-size:14px; color:$color1; }
	&__img{float:left; margin-right:30px;
		&:after{display:block; clear:both; content:'';}
	}
	&__txt{margin:0;line-height:1.7;
		& + .cat__txt{margin-top:25px;}
		& + .cat__subject{margin-top:25px;}
		& + .cat__sub-subject{margin-top:25px;}
		& a:hover{text-decoration:underline;}
	}
	&__sub-tit{margin:0px 0px 30px;font-size:24px; color:$gray2;}
	&__btn{ display:inline-block; width:150px; height:40px; margin:40px 0 20px; background-color:$color1; color:#fff; text-align:center; line-height:40px;
		& span{position:relative; padding-right:20px;
			&:after{position:absolute; top:0; bottom:0; right:0; width:11px; height:11px; margin:auto 0; background:url('../../images/content/DetailViewBtn.png'); content:'';}
		}
	}
}
