@charset "UTF-8";
@import "variables";
@import "mixins";

/* 유기동물발견시 */
.abandon{
	&__tit{position:relative; display:inline-block; margin:0 0 20px;padding-right:12px; font-size:24px; color:#222; box-sizing:border-box;
		&:after{position:absolute; top:0; bottom:0; right:0; display:block; width:7px; height:20px; margin:auto 0; background-image:url('../../images/content/adandon_icon1.png'); content:'';}
	}
	&__content-tit{margin:0; padding-top:50px; font-size:24px; color:$gray2;}
	&__content-sub{margin:25px 0 0;font-size:18px; color:#1a1a1a;}
	&__point{margin:30px 0px 20px; color:$color1; font-weight:700;}
	&__txt{margin:0;}
	&__box{float:left; display:inline-block;
		& img{margin-top:30px;}
	}
	&__wrap{
		&:after{display:block; clear:both; content:'';}
	}
}
