@charset "UTF-8";
@import "variables";
@import "mixins";

/*센터소개*/
.center{
	&__tit{margin:0; font-size:24px; color:#222;}
	&__point{color:#1991d7;}
	&__txt{margin:20px 0 0; color:#767676; font-size:14px;}
	&__link{display:inline-block; width:160px; height:40px; margin-top:40px; padding-right:15px; line-height:40px; background-image:url('../images/content/center_btn.gif'); color:#fff; font-size:14px; font-weight:bold; text-align:center; box-sizing: border-box;}
	&__box{margin-left:-10px;
		&:after{display:block; clear:both; content:'';}
	}
	&__img{float:left; padding-left:10px; box-sizing:border-box;
		& + .center__img + .center__img{margin-top:10px;}
	}
	&__sponser{height:389px; margin-top:30px; padding:50px; background-image:url('../images/content/center_sponser_bg.jpg'); box-sizing:border-box;}
	&__subject{margin:0; font-size:24px; color:#222; font-weight:700;}
	&__content{margin:0; font-size:14px; color:#767676;
		& + .center__subject{margin-top:20px;}
	}
	&__sponser-link{float:left;display:inline-block; width:140px; height:45px; margin-top:35px; color:#fff; line-height:45px; background-color:#1991d7; text-align:center;
		& + .center__sponser-link{margin-left:10px;}
	}
}

/*자원봉사신청*/
.volunteer{
	&__info{width:100%; height:683px; padding:0px 60px; background-image:url('../images/content/page7/service_bg.jpg'); box-sizing:border-box;}
	&__tit{margin:0px; padding-top:90px; font-size:28px; color:#222; text-align:center; box-sizing:border-box;}
	&__dl{margin-top:50px;}
	&__dt{font-size:16px; color:#222; font-weight:700;}
	&__dd{margin:10px 0px 0px; padding-left:25px;
		& + .volunteer__dt{margin-top:30px;}
	}
}

/*1:1결연*/
.alliance{
	&__banner{height:440px;}
	&__banner-tit{margin:0; font-family: 'Open Sans', sans-serif; font-weight:700; font-size:14px;}
	&__banner-txt{display:block; margin:20px 0px 0px; color:#fff;}
	&__wrap{float:left; width:50%; height:100%;}
	&__btn{display:inline-block; width:120px; height:40px; margin-top:20px; line-height:38px; border:1px solid #222; color:#666; box-sizing:border-box; text-align:center;}
	&__btn.type-another{color:#fff; border:1px solid #fff;}
	&__box{width:100%;
		&.nth-1{height:50%; padding:30px; box-sizing:border-box; background-image:url('../images/content/page7/alliance_banner1.jpg'); background-size:100% 100%;}
		&.nth-2 .main-content3{height:220px !important;}
		&.nth-2 .main-content3__list{height:220px !important;}
		&.nth-3{height:100%; padding:40px 30px; background-image:url('../images/content/page7/alliance_banner2.jpg'); background-size:100% 100%; box-sizing:border-box;}
	}
	&__content{
		& .photo__tit{line-height:1.5;}
		& .photo__info{margin-top:15px;}
	}
}
.apply{
	&__area{height:260px;
		&:after{display:block; clear:both; content:'';}
	}
	&__box{float:left; display:inline-block; width:50%; height:100%;
		&.nth-1{}
		&.nth-2{}
	}
}

.star{
	&__info{width:100%; height:450px; background-image:url('../../images/content/page7/star_bg.jpg');}
	&__box{padding-left:350px}
	&__tit{margin:0; padding-top:40px;}
	&__btn1{display:inline-block; width:304px; height:45px; margin-top:20px; line-height:45px; background-color:#1991d7; color:#fff; text-align:center;
		& span{position:relative; display:inline-block; padding-right:23px;
			&:after{position:absolute; top:0; right:0; bottom:0; display:block; width:18px; height:17px; margin:auto 0; background-image:url('../../images/content/page7/star_icon1.png'); content:'';}
		}
	}
	&__btn-area{margin-top:15px;
		&:after{display:block; clear:both; content:'';}
	}
	&__btn2{float:left; display:inline-block; width:180px; height:45px; line-height:43px; border:1px solid #fff; color:#fff; text-align:center; box-sizing:border-box;
		& span{position:relative; display:inline-block; padding-right:16px;
			&:after{position:absolute; top:0; right:0; bottom:0; display:block; width:6px; height:9px; margin:auto 0; background-image:url('../../images/content/page7/star_icon2.png'); content:'';}
		}
		& + .star__btn2{margin-left:10px;}
	}
	&__sub-tit{margin:30px 0px 0px; font-size:18px; color:#222;}
	&__info-subject{margin:20px 0 0; color:#222; font-weight:700;}
	&__info-txt{margin:10px 0 0;color:#fff;
		& + .star__info-subject{margin-top:30px;}
	}
	&__photo{margin-top:50px; padding-bottom:30px; border-bottom:1px solid #e5e5e5;
		&:after{display:block; clear:both; content:'';}
	}
	&__photo-box{float:left; width:50%;}
	&__photo-border{display:block; width:410px; height:543px; border:1px solid #d6d6d6; box-sizing:border-box;}
	&__photo-wrap{display:table-cell; width:410px; height:543px; text-align:center; vertical-align:middle;}
	&__list{margin:-40px 0 0 -53px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; margin-top:40px;padding-left:30px; list-style:none;
		& .star__photo-border{width:146px; height:193px;}
		& .star__photo-wrap{width:146px; height:193px;}
	}
	&__subject{margin:10px 0 0; font-size:13px; text-align:center;}
}
